config.mk
.depend
*.o
l.cgi
l.cgi.gz
*-l.cgi
*-l.cgi.gz
cgi-bin/source/*.h~
cgi-bin/source/*.cpp~
docs/vslh.zip
docs/vslh.rar
docs/biblia.zip
info/docs/*
download/*.zip
download/*.rar
download/*.7z
download/ebook/
download/epub/
download/kindle/
download/20*/*
stats/*
.gitignore~
# napr. ruby pre download
*.exe
# Visual Studio temp súbory (debug, release)
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
BuildProcessTemplates/*
Published/*
[Tt]humbs.db
[Uu]pgradeLog*.[Xx][Mm][Ll]
_[Uu]pgradeReport_Files*/
*.build.csdef
[Pp]ackage/*
ASPNETDB.MDF
aspnetdb_log.ldf
android/libs/armeabi
android/obj
android/assets/docs/*
android/assets/cz/docs/*
android/assets/hu/docs/*
android/assets/include/*
android/assets/include_cz/*
android/assets/include_hu/*
android/assets/katechezy.htm
android/libs/mips/*
android/libs/x86/*
android/assets/breviar-web.cfg
android/assets/breviar-android.cfg
android/gen
project.xcworkspace
xcuserdata
