.red { color: #ff6600; }
.redsmall { color: #ff6600; font-size: 80%; }
.redbold { color: #ff6600; font-weight: bold; }
.normal { color: white; }
.parameter { color: white; }
.value { color: yellow; }
.explain { color: gray; }

body, html { 
	background-color: black;
	color: white;
}
p { color: white; }


a { color: white; }
a:hover { color: yellow; background-color: #ff6633; }
a:active { color: gray; }
a.explain { color: #330000; }
a.button { 
	background: #ff9933; /* #ffcc66; Tan; Peru; BurlyWood; */
	color: black; 
	border: solid 1px white; }

table { color: white; }
td { color: white; }

hr {	color: gray; }

select { background: black; color: white; }

input { color: white; }

/* modlitby */
input.button, input.reset { 
	background: #ff9933; /* #ffcc66; Tan; Peru; BurlyWood; */
	color: black; 
	border: solid 1px white; }

/* << >> */
input.button0, input.reset0 { 
	background: #3399ff;
	color: white; 
	border: solid 0px white; }

/* dnes */
input.button1, input.reset1 { 
	background: #3399ff;
	color: white;
	border: solid 0px white; }

/* menej podstatné buttony */
input.button2, input.reset2 { 
	background: #ff9933;
	color: black;
	border: solid 1px white; }

input.text { background: black; }

