-- 918	Joel 1, 13-15; 2, 1-2
update biblia set lc_id = 918 where spis = 'Joel' and vers = 1 and k = 1 and v between 13 and 15
update biblia set lc_id = 918 where spis = 'Joel' and vers = 1 and k = 2 and v between 1 and 2
go

update biblia set nvg = 'Opášte sa a nariekajte, kňazi, kvíľte, služobníci oltára. Poďte, nocujte vo vrecovine, sluhovia môjho Boha, lebo v dome vášho Boha zanikla krvavá i nekrvavá obeta.' where spis = 'Joel' and vers = 1 and k = 1 and v = 13
update biblia set nvg = 'Vyhláste pôst, zvolajte pospolitosť, zhromaždite starcov, všetkých obyvateľov krajiny do domu vášho Boha a volajte k Pánovi: ' where spis = 'Joel' and vers = 1 and k = 1 and v = 14
update biblia set nvg = '"Ach, aký to deň! Pretože je blízo deň Pána a príde ako pohroma od Všemohúceho."' where spis = 'Joel' and vers = 1 and k = 1 and v = 15
go
update biblia set nvg = 'Trúbte na Sione, kričte na mojom svätom vrchu; nech sa chvejú všetci obyvatelia krajiny, lebo prichádza deň Pána, už je blízko.' where spis = 'Joel' and vers = 1 and k = 2 and v = 1
update biblia set nvg = 'Deň temnoty a mrákavy, deň oblaku a víchrice! // Ako ranná zora na vrchoch rozprestiera sa ľud početný a mocný; jemu podobný nebol od prvopočiatku a po ňom už nebude až do čias najvzdialenejších pokolení.' where spis = 'Joel' and vers = 1 and k = 2 and v = 2
go

-- POST1_rUTCIT	Joel 2, 12-13
-- POST1_9UTCIT	Joel 2, 17
-- 919	Joel 2, 12-18
update biblia set lh_id = 'POST1_rUTCIT' where spis = 'Joel' and vers = 1 and k = 2 and v between 12 and 13
update biblia set lh_id = 'POST1_9UTCIT' where spis = 'Joel' and vers = 1 and k = 2 and v = 17
go
update biblia set lc_id = 919 where spis = 'Joel' and vers = 1 and k = 2 and v between 12 and 18
go
update biblia set nvg = 'Pán hovorí: "Obráťte sa ku mne celým svojím srdcom, pôstom, plačom a nárekom; ' where spis = 'Joel' and vers = 1 and k = 2 and v = 12
update biblia set nvg = 'srdcia si roztrhnite, nie šaty, a obráťte sa k Pánovi, svojmu Bohu. // Veď on je dobrotivý a milosrdný, zhovievavý a veľmi milostivý a zľutúva sa v nešťastí."' where spis = 'Joel' and vers = 1 and k = 2 and v = 13
update biblia set nvg = 'Kto vie? Možno zmení svoje rozhodnutie a odpustí nám a zanechá po sebe požehnanie na obetu a nápoj Pánovi, vášmu Bohu.' where spis = 'Joel' and vers = 1 and k = 2 and v = 14
update biblia set nvg = 'Trúbte na Sione, vyhláste pôst, zvolajte pospolitosť! ' where spis = 'Joel' and vers = 1 and k = 2 and v = 15
update biblia set nvg = 'Zhromaždite ľud, posväťte zástup, zvolajte starcov, zhromaždite deti i tie, čo sajú prsia; ženích nech vyjde zo svojej izby a nevesta zo svojej komôrky.' where spis = 'Joel' and vers = 1 and k = 2 and v = 16
update biblia set nvg = 'Kňazi, Pánovi služobníci, nech plačú medzi predsieňou a oltárom a nech hovoria: "Zľutuj sa, Pane, nad svojím ľudom a nevystavuj potupe svoje dedičstvo; nech nepanujú nad ním národy." Prečo by sa malo vravieť medzi národmi: "Kdeže je ich boh?" ' where spis = 'Joel' and vers = 1 and k = 2 and v = 17
update biblia set nvg = 'A Pán sa rozhorlil za svoju krajinu a zľutoval sa nad svojím ľudom.' where spis = 'Joel' and vers = 1 and k = 2 and v = 18
go

-- 02JUL_rCIT	Joel 2, 27 – 3, 1
-- OCR33NEc_CIT1	2, 21 – 3, 5
-- 920	Joel 3, 1-5
update biblia set lh_id = 'OCR33NEc_CIT1' where spis = 'Joel' and vers = 1 and k = 2 and v between 21 and 27
update biblia set lh_id = 'OCR33NEc_CIT1' where spis = 'Joel' and vers = 1 and k = 3 and v between 1 and 5
go
update biblia set lc_id = 920 where spis = 'Joel' and vers = 1 and k = 3 and v between 1 and 5
go

update biblia set nvg = '„Neboj sa, zem, / jasaj a teš sa, / lebo Pán vykonal veľké veci.' where spis = 'Joel' and vers = 1 and k = 2 and v = 21
update biblia set nvg = 'Nebojte sa, poľné zvieratá, / lebo sa rozzelenajú stepné pastviny, / lebo stromy prinesú svoje ovocie, / figovník a vinič vydajú svoje bohatstvo.' where spis = 'Joel' and vers = 1 and k = 2 and v = 22
update biblia set nvg = 'Synovia Siona, jasajte / a tešte sa v_Pánovi, svojom Bohu, / lebo vám dal / spásonosný dážď / a zoslal vám / včasný i_neskorý dážď ako prv.' where spis = 'Joel' and vers = 1 and k = 2 and v = 23
update biblia set nvg = 'Humná sa naplnia obilím, / lisy budú pretekať / vínom a olejom.' where spis = 'Joel' and vers = 1 and k = 2 and v = 24
update biblia set nvg = 'Vynahradím vám roky, / ktoré zožrali kobylky, saranče, / chrústy a koníky, / moje veľké vojsko, / ktoré som na vás poslal.' where spis = 'Joel' and vers = 1 and k = 2 and v = 25
update biblia set nvg = 'Budete jesť a nasýtite sa / a budete chváliť meno Pána, svojho Boha, / ktorý s_vami urobil obdivuhodné veci. / A môj ľud už nikdy nebude zahanbený.' where spis = 'Joel' and vers = 1 and k = 2 and v = 26
update biblia set nvg = 'Spoznáte, že uprostred Izraela som ja, / a ja som Pán, váš Boh, / iného niet; / a môj ľud už nikdy nebude zahanbený.“' where spis = 'Joel' and vers = 1 and k = 2 and v = 27
go
update biblia set nvg = 'Potom / vylejem svojho ducha na každé telo / a vaši synovia i_vaše dcéry budú prorokovať. / Vaši starci budú snívať sny / a vaši mladíci budú mať videnia.' where spis = 'Joel' and vers = 1 and k = 3 and v = 1
update biblia set nvg = 'Aj na svojich služobníkov a služobnice / vylejem v_tých dňoch svojho ducha.' where spis = 'Joel' and vers = 1 and k = 3 and v = 2
update biblia set nvg = 'A urobím znamenia na nebi i_na zemi: / krv, oheň a stĺpy dymu.' where spis = 'Joel' and vers = 1 and k = 3 and v = 3
update biblia set nvg = 'Slnko sa premení na tmu / a mesiac na krv, / prv, ako príde Pánov deň, / veľký a hrozný.' where spis = 'Joel' and vers = 1 and k = 3 and v = 4
update biblia set nvg = 'Ale každý, kto bude vzývať Pánovo meno, bude zachránený, / lebo na vrchu Sion a v_Jeruzaleme / bude spása, ako hovorí Pán, / aj vo zvyškoch, ktoré Pán povolá.' where spis = 'Joel' and vers = 1 and k = 3 and v = 5
go

-- OCR33POc_CIT1	4, 1-3. 9-21
-- 921	Joel 4, 12-21
update biblia set lh_id = 'OCR33POc_CIT1' where spis = 'Joel' and vers = 1 and k = 4 and v between 1 and 3
update biblia set lh_id = 'OCR33POc_CIT1' where spis = 'Joel' and vers = 1 and k = 4 and v between 9 and 21
go
update biblia set lc_id = 921 where spis = 'Joel' and vers = 1 and k = 4 and v between 12 and 21
go

update biblia set nvg = '„V_tých dňoch / a v_tom čase, / keď zmením údel / Júdu a Jeruzalema,' where spis = 'Joel' and vers = 1 and k = 4 and v = 1
update biblia set nvg = 'zhromaždím všetky národy / a privediem ich do údolia Jozafat / a budem sa tam s_nimi súdiť / pre môj ľud a moje dedičstvo Izrael, / ktorý rozmetali medzi pohanov / a moju krajinu si rozdelili.' where spis = 'Joel' and vers = 1 and k = 4 and v = 2
update biblia set nvg = 'O_môj ľud hádzali lós, / chlapca dali za neviestku / a dievča predali za víno a pili.' where spis = 'Joel' and vers = 1 and k = 4 and v = 3
go
update biblia set nvg = 'Volajte to medzi národmi, / vyhláste svätú vojnu, / zobuďte hrdinov, / nech prídu a nech vystúpia / všetci bojovníci.' where spis = 'Joel' and vers = 1 and k = 4 and v = 9
update biblia set nvg = 'Prekujte svoje radlice na meče / a svoje kosáky na kopije. / Slabý nech povie: / ‚Som silný!‘' where spis = 'Joel' and vers = 1 and k = 4 and v = 10
update biblia set nvg = 'Pohnite sa a poďte, / všetky okolité národy, / a zhromaždite sa tam! / Priveď, Pane, svojich hrdinov!' where spis = 'Joel' and vers = 1 and k = 4 and v = 11
update biblia set nvg = 'Nech vstanú a prídu národy / do údolia Jozafat, / lebo tam zasadnem a budem súdiť / všetky okolité národy.' where spis = 'Joel' and vers = 1 and k = 4 and v = 12
update biblia set nvg = 'Priložte kosáky, / pretože dozrela žatva; / poďte a šliapte, / lis je už plný: / pretekajú kade, / lebo ich zloba je veľká.' where spis = 'Joel' and vers = 1 and k = 4 and v = 13
update biblia set nvg = 'Zástupy za zástupmi / v_Údolí rozhodnutia, / pretože je blízo deň Pána / v_Údolí rozhodnutia.' where spis = 'Joel' and vers = 1 and k = 4 and v = 14
update biblia set nvg = 'Slnko a mesiac sa zatmejú / a hviezdy stratia svoj lesk.' where spis = 'Joel' and vers = 1 and k = 4 and v = 15
update biblia set nvg = 'A Pán zo Siona zahrmí / a z_Jeruzalema vydá svoj hlas. / Nebo a zem sa budú chvieť, / ale Pán je útočišťom svojho ľudu / a pevnosťou synov Izraela.' where spis = 'Joel' and vers = 1 and k = 4 and v = 16
update biblia set nvg = 'Vtedy poznáte, že ja som Pán, váš Boh, / a bývam na svojom svätom vrchu Sione. / Jeruzalem bude svätým miestom, / cudzinci už cezeň neprejdú.' where spis = 'Joel' and vers = 1 and k = 4 and v = 17
update biblia set nvg = 'V_ten deň / bude z_vrchov kvapkať mušt / a z_pahorkov bude vytekať mlieko; / vo všetkých judejských potokoch bude prúdiť voda / a z_Pánovho domu vyrazí prameň / a zavlaží Údolie agátov.' where spis = 'Joel' and vers = 1 and k = 4 and v = 18
update biblia set nvg = 'Egypt bude pustinou / a Idumea púšťou vyschnutou, / pretože páchali násilie na synoch Júdu / a prelievali nevinnú krv v_ich krajine.' where spis = 'Joel' and vers = 1 and k = 4 and v = 19
update biblia set nvg = 'Júda ostane naveky / a Jeruzalem z_pokolenia na pokolenie.' where spis = 'Joel' and vers = 1 and k = 4 and v = 20
update biblia set nvg = 'Ja pomstím ich krv, nenechám ju nepomstenú, / lebo Pán býva na Sione.“' where spis = 'Joel' and vers = 1 and k = 4 and v = 21
go

