-- OCR18NEc_CIT1	1, 1 – 2, 3
update biblia set lh_id = 'OCR18NEc_CIT1' where spis = 'Am' and vers = 1 and k = 1 and v between 1 and 15
update biblia set lh_id = 'OCR18NEc_CIT1' where spis = 'Am' and vers = 1 and k = 2 and v between 1 and 3
go

update biblia set nvg = 'Slová Amosa, pastiera z_Tekuy, ktoré videl o_Izraeli za čias judejského kráľa Ozaiáša a za čias kráľa Jeroboama, Joasovho syna, dva roky pred zemetrasením.' where spis = 'Am' and vers = 1 and k = 1 and v = 1
update biblia set nvg = 'Povedal: / „Pán hrmí zo Siona, / a z_Jeruzalema vydáva svoj hlas. / Pasienky pastierov smútia / a temeno Karmelu usychá.“' where spis = 'Am' and vers = 1 and k = 1 and v = 2
update biblia set nvg = 'Toto hovorí Pán: / „Pre tri zločiny Damasku / a pre štyri neodvolám slovo. / Preto, že mlátili Galaád železnými vozmi,' where spis = 'Am' and vers = 1 and k = 1 and v = 3
update biblia set nvg = 'zošlem oheň na Azaelov dom / a strávi Benadadove paláce.' where spis = 'Am' and vers = 1 and k = 1 and v = 4
update biblia set nvg = 'Polámem závoru Damasku / a zničím obyvateľa Biceatavenu / i_toho, čo drží žezlo Betedenu; / a ľud Sýrie bude odvedený do Kíru,“ / hovorí Pán.' where spis = 'Am' and vers = 1 and k = 1 and v = 5
update biblia set nvg = 'Toto hovorí Pán: / „Pre tri zločiny Gazy / a pre štyri neodvolám slovo. / Preto, že odviedli všetkých do zajatia, / aby ich vydali Edomu,' where spis = 'Am' and vers = 1 and k = 1 and v = 6
update biblia set nvg = 'zošlem oheň na hradby Gazy / a strávi jej paláce.' where spis = 'Am' and vers = 1 and k = 1 and v = 7
update biblia set nvg = 'Zničím obyvateľa Azota / i_toho, čo drží žezlo Askalonu. / Obrátim svoju ruku proti Akkaronu / a zvyšok Filištíncov vyhynie,“ / hovorí Pán, Boh.' where spis = 'Am' and vers = 1 and k = 1 and v = 8
update biblia set nvg = 'Toto hovorí Pán: / „Pre tri zločiny Týru / a pre štyri neodvolám slovo. / Preto, že vydali všetkých zajatcov Edomu / a nespomenuli si na bratskú zmluvu,' where spis = 'Am' and vers = 1 and k = 1 and v = 9
update biblia set nvg = 'zošlem oheň na hradby Týru / a strávi jeho paláce.“' where spis = 'Am' and vers = 1 and k = 1 and v = 10
update biblia set nvg = 'Toto hovorí Pán: / „Pre tri zločiny Edomu / a pre štyri neodvolám slovo. / Preto, že prenasledoval mečom svojho brata, / udusil v_sebe súcit k_nemu, / neprestajne zotrvával v_hneve / a svoje rozhorčenie udržiaval donekonečna,' where spis = 'Am' and vers = 1 and k = 1 and v = 11
update biblia set nvg = 'zošlem oheň na Teman / a strávi paláce Bosry.“' where spis = 'Am' and vers = 1 and k = 1 and v = 12
update biblia set nvg = 'Toto hovorí Pán: / „Pre tri zločiny Ammonových synov / a pre štyri neodvolám slovo. / Preto, že rozpárali ťarchavé ženy Galaádu, / aby rozšíril svoje územie,' where spis = 'Am' and vers = 1 and k = 1 and v = 13
update biblia set nvg = 'zapálim oheň na hradbách Rabby / a strávi jej paláce za bojového pokriku v_deň vojny / a za víchrice v_deň búrky.' where spis = 'Am' and vers = 1 and k = 1 and v = 14
update biblia set nvg = 'A ich kráľ pôjde do zajatia, / on a jeho kniežatá s_ním,“ / hovorí Pán.' where spis = 'Am' and vers = 1 and k = 1 and v = 15
go
update biblia set nvg = 'Toto hovorí Pán: / „Pre tri zločiny Moabu / a pre štyri neodvolám slovo. / Preto, že spálili kosti edomského kráľa / až na popol,' where spis = 'Am' and vers = 1 and k = 2 and v = 1
update biblia set nvg = 'zošlem oheň na Moab, / strávi kariotské paláce / a Moab zomrie v_zmätku / za pokriku a zvuku poľnice.' where spis = 'Am' and vers = 1 and k = 2 and v = 2
update biblia set nvg = 'Vyhubím sudcu z_jeho stredu / a s_ním pobijem všetky jeho kniežatá,“ / hovorí Pán.' where spis = 'Am' and vers = 1 and k = 2 and v = 3
go

-- OCR18POc_CIT1	2, 4-16
-- 304	Am 2, 6-10. 13-16
update biblia set lh_id = 'OCR18POc_CIT1' where spis = 'Am' and vers = 1 and k = 2 and v between 4 and 16
go
update biblia set lc_id = 304 where spis = 'Am' and vers = 1 and k = 2 and v between 6 and 10
update biblia set lc_id = 304 where spis = 'Am' and vers = 1 and k = 2 and v between 13 and 16
go

update biblia set nvg = 'Toto hovorí Pán: / „Pre tri zločiny Júdu / a pre štyri neodvolám slovo. / Preto, že zavrhli Pánov zákon / a nezachovávali jeho príkazy / – oklamali ich ich modly, / za ktorými chodili ich otcovia –,' where spis = 'Am' and vers = 1 and k = 2 and v = 4
update biblia set nvg = 'zošlem oheň na Júdu / a strávi jeruzalemské paláce.“' where spis = 'Am' and vers = 1 and k = 2 and v = 5
update biblia set nvg = 'Toto hovorí Pán: / „Pre tri zločiny Izraela / a pre štyri neodvolám slovo. / Preto, že spravodlivého predali za peniaz / a bedára za pár sandálov;' where spis = 'Am' and vers = 1 and k = 2 and v = 6
update biblia set nvg = 'do prachu zeme zašľapujú hlavy chudobných / a krivia cestu bedárov, / syn i_otec chodia za jedným dievčaťom / a hanobia moje sväté meno;' where spis = 'Am' and vers = 1 and k = 2 and v = 7
update biblia set nvg = 'na plášťoch vzatých do zálohy / váľajú sa pri každom oltári / a v_dome svojho Boha / pijú víno odsúdených.' where spis = 'Am' and vers = 1 and k = 2 and v = 8
update biblia set nvg = 'A ja som vyničil / pred nimi Amorejčanov, / čo boli sťa cédre vysokí / a silní ako duby; / zničil som hore ich ovocie / a dolu ich korene.' where spis = 'Am' and vers = 1 and k = 2 and v = 9
update biblia set nvg = 'Ja som vás vyviedol / z_egyptskej krajiny / a vodil štyridsať rokov po púšti, / aby ste zaujali krajinu Amorejčanov;' where spis = 'Am' and vers = 1 and k = 2 and v = 10
update biblia set nvg = 'z_vašich synov som vzbudil prorokov / a z_vašich mladíkov nazirejcov. / Nie je to tak, Izraelovi synovia? – / hovorí Pán.' where spis = 'Am' and vers = 1 and k = 2 and v = 11
update biblia set nvg = 'Ale nazirejcov ste napájali vínom / a prorokom ste prikazovali: / ‚Neprorokujte!‘' where spis = 'Am' and vers = 1 and k = 2 and v = 12
update biblia set nvg = 'No ja vás pritisnem k_zemi, / ako pritlačí voz / naložený senom.' where spis = 'Am' and vers = 1 and k = 2 and v = 13
update biblia set nvg = 'Rýchly sa nezmôže na útek, / mocný si neudrží silu / a silák si nezachráni život.' where spis = 'Am' and vers = 1 and k = 2 and v = 14
update biblia set nvg = 'Lukostrelec neobstojí, / nohy nezachránia bežca, / jazdec si nezachráni život na koni.' where spis = 'Am' and vers = 1 and k = 2 and v = 15
update biblia set nvg = 'Najudatnejší z_hrdinov / sa v_ten deň dá na útek nahý,“ / hovorí Pán.' where spis = 'Am' and vers = 1 and k = 2 and v = 16
go

-- OCR18UTc_CIT1 resp.	Am 3, 7. 8b
update biblia set lh_id = 'OCR18UTc_CIT1 resp.' where spis = 'Am' and vers = 1 and k = 3 and v between 7 and 8
-- 305	Am 3, 1-8; 4, 11-12
update biblia set lc_id = 305 where spis = 'Am' and vers = 1 and k = 3 and v between 1 and 8
update biblia set lc_id = 305 where spis = 'Am' and vers = 1 and k = 4 and v between 11 and 12
-- _1STV9_CIT	Am 4, 13
update biblia set lh_id = '_1STV9_CIT' where spis = 'Am' and vers = 1 and k = 4 and v = 13
go

update biblia set nvg = 'Počujte slovo, ktoré Pán povedal o vás, synovia Izraela, o celom pokolení, ktoré som vyviedol z Egypta: ' where spis = 'Am' and vers = 1 and k = 3 and v = 1
update biblia set nvg = '"Iba vás som poznal zo všetkých pokolení zeme: preto vás postihnem za všetky vaše hriechy. ' where spis = 'Am' and vers = 1 and k = 3 and v = 2
update biblia set nvg = 'Vari môžu ísť dvaja spolu, ak sa nedohodnú? ' where spis = 'Am' and vers = 1 and k = 3 and v = 3
update biblia set nvg = 'Alebo zareve lev v húšťave, ak nemá korisť? Ozve sa levíča zo svojho brlohu, ak nič nechytilo? ' where spis = 'Am' and vers = 1 and k = 3 and v = 4
update biblia set nvg = 'Alebo padne vtáča na zem, ak nie je v osídle? A zdvihne sa osídlo zo zeme, ak sa nič nechytilo? ' where spis = 'Am' and vers = 1 and k = 3 and v = 5
update biblia set nvg = 'Či zaznie trúba v meste, žeby sa ľud nenaľakal? A môže postihnúť mesto nešťastie, ak ho neurobil Pán? ' where spis = 'Am' and vers = 1 and k = 3 and v = 6
update biblia set nvg = 'A Pán, Boh, neurobí nič bez toho, žeby nezjavil svoj zámer svojim sluhom, prorokom. ' where spis = 'Am' and vers = 1 and k = 3 and v = 7
update biblia set nvg = 'Lev reve, kto by sa nebál? Pán, Boh, hovorí, kto by neprorokoval?"' where spis = 'Am' and vers = 1 and k = 3 and v = 8
go
update biblia set nvg = '"Vyvrátil som vás, ako Boh vyvrátil Sodomu a Gomoru, že ste boli ako poleno uchytené z ohňa; no neobrátili ste sa ku mne," hovorí Pán. ' where spis = 'Am' and vers = 1 and k = 4 and v = 11
update biblia set nvg = 'Preto ti toto urobím, Izrael. A pretože ti to urobím, priprav sa na stretnutie so svojím Bohom, Izrael!' where spis = 'Am' and vers = 1 and k = 4 and v = 12
update biblia set nvg = 'Pozri, on utvára vrchy a tvorí vietor a oznamuje človeku, čo má na mysli. V_jeho moci je zornica aj stmievanie, on kráča po vrcholcoch zeme: jeho meno je Pán, Boh zástupov.' where spis = 'Am' and vers = 1 and k = 4 and v = 13
go

-- _1STV2_CIT	Am 5, 8
update biblia set lh_id = '_1STV2_CIT' where spis = 'Am' and vers = 1 and k = 5 and v = 8
go
-- 306	Am 5, 14-15. 21-24
update biblia set lc_id = 306 where spis = 'Am' and vers = 1 and k = 5 and v between 14 and 15
update biblia set lc_id = 306 where spis = 'Am' and vers = 1 and k = 5 and v between 21 and 24
go

update biblia set nvg = 'On tvorí hviezdy Plejády a Orióna; obracia tmu na ráno a deň zatemňuje na noc. / On volá vody mora a vylieva ich na povrch zeme: jeho meno je Pán.' where spis = 'Am' and vers = 1 and k = 5 and v = 8
go
update biblia set nvg = 'Hľadajte dobro, a nie zlo, ak chcete žiť, a Pán, Boh zástupov, bude s vami, ako ste vraveli.' where spis = 'Am' and vers = 1 and k = 5 and v = 14
update biblia set nvg = 'Nenáviďte zlo, milujte dobro a pri bráne súďte spravodlivo; možno sa zmiluje Pán, Boh zástupov, nad zvyškami Jozefa.' where spis = 'Am' and vers = 1 and k = 5 and v = 15
go
update biblia set nvg = '"Nenávidím, zavrhujem vaše sviatky a netešia ma vaše zhromaždenia. ' where spis = 'Am' and vers = 1 and k = 5 and v = 21
update biblia set nvg = 'Keď mi prinesiete zápalné obety, vaše obetné dary neprijmem, ani sa nepozriem na obety vašich tučných zvierat.' where spis = 'Am' and vers = 1 and k = 5 and v = 22
update biblia set nvg = 'Preč odo mňa s hlukom tvojich piesní, nemôžem počuť hudbu tvojich hárf.' where spis = 'Am' and vers = 1 and k = 5 and v = 23
update biblia set nvg = 'Nech prúdi právo ako voda a spravodlivosť ako potok, čo nikdy nevysychá."' where spis = 'Am' and vers = 1 and k = 5 and v = 24
go

-- 307	Am 6, 1ab. 4-7
update biblia set lc_id = 307 where spis = 'Am' and vers = 1 and k = 6 and v = 1
update biblia set lc_id = 307 where spis = 'Am' and vers = 1 and k = 6 and v between 4 and 7
go

update biblia set nvg = 'Beda tým, čo bezstarostne žijú na Sione, a tým, čo sa cítia bezpeční na vrchu Samárie. [...] ' where spis = 'Am' and vers = 1 and k = 6 and v = 1
update biblia set nvg = 'Tým, čo spávajú na posteliach zo slonoviny, leňošia na pohovkách, jedávajú baránky zo stáda a vykŕmené teľatá zo stajne; ' where spis = 'Am' and vers = 1 and k = 6 and v = 4
update biblia set nvg = 'vyspevujú si za zvuku harfy, vymýšľajú si hudobné nástroje ako Dávid; ' where spis = 'Am' and vers = 1 and k = 6 and v = 5
update biblia set nvg = 'pijú víno zo širokých čiaš, natierajú sa najlepším olejom, ale nad skazou Jozefa sa netrápia.' where spis = 'Am' and vers = 1 and k = 6 and v = 6
update biblia set nvg = 'Preto teraz pôjdu na čele vyhnancov do zajatia a prestane hulákanie povaľačov.' where spis = 'Am' and vers = 1 and k = 6 and v = 7
go

-- OCR18UTc_CIT1	7, 1-17
-- 308	Am 7, 10-17
-- 309	Am 7, 12-15
update biblia set lh_id = 'OCR18UTc_CIT1' where spis = 'Am' and vers = 1 and k = 7 and v between 1 and 17
go
update biblia set lc_id = 308 where spis = 'Am' and vers = 1 and k = 7 and v between 10 and 17
go

update biblia set nvg = 'Toto mi ukázal Pán, Boh: On tvoril kobylky na počiatku, keď začala rásť otava a bola to otava po kráľovskej kosbe. ' where spis = 'Am' and vers = 1 and k = 7 and v = 1
update biblia set nvg = 'A keď zožrali všetku zeleň v_krajine, povedal som: „Pane, Bože, odpusť, prosím. Akože obstojí Jakub, veď je maličký?“ ' where spis = 'Am' and vers = 1 and k = 7 and v = 2
update biblia set nvg = 'Pán to oľutoval. „Nestane sa to,“ povedal Pán, Boh. ' where spis = 'Am' and vers = 1 and k = 7 and v = 3
update biblia set nvg = 'Toto mi ukázal Pán, Boh: Pán, Boh, volal na súd ohňom a strávil veľkú priepasť a s_ňou zhltol aj krajinu. ' where spis = 'Am' and vers = 1 and k = 7 and v = 4
update biblia set nvg = 'I_povedal som: „Pane, Bože, prestaň, prosím. Akože obstojí Jakub, veď je maličký?“ ' where spis = 'Am' and vers = 1 and k = 7 and v = 5
update biblia set nvg = 'Pán to oľutoval. „Ani to sa nestane,“ hovorí Pán, Boh.' where spis = 'Am' and vers = 1 and k = 7 and v = 6
update biblia set nvg = 'Toto mi ukázal Pán, Boh: Muž stál na hradbách a v_ruke mal olovnicu. ' where spis = 'Am' and vers = 1 and k = 7 and v = 7
update biblia set nvg = 'Tu mi Pán povedal: „Čo vidíš, Amos?“ Odpovedal som: „Olovnicu.“ A Pán povedal: „Pozri, ja položím olovnicu doprostred svojho ľudu, Izraela. Už mu viac neodpustím. ' where spis = 'Am' and vers = 1 and k = 7 and v = 8
update biblia set nvg = 'Budú zrúcané Izákove výšiny a spustnú Izraelove svätyne a povstanem s_mečom proti Jeroboamovmu domu.“' where spis = 'Am' and vers = 1 and k = 7 and v = 9
update biblia set nvg = 'Tu poslal Amaziáš, kňaz Betela, odkaz izraelskému kráľovi Jeroboamovi: „Amos sa sprisahal proti tebe uprostred Izraelovho domu. Krajina už nemôže zniesť jeho reči, ' where spis = 'Am' and vers = 1 and k = 7 and v = 10
update biblia set nvg = 'lebo Amos vraví: ‚Jeroboam zomrie pod mečom a Izrael pôjde ako zajatec zo svojej krajiny.‘“ ' where spis = 'Am' and vers = 1 and k = 7 and v = 11
update biblia set nvg = 'A Amaziáš povedal Amosovi: „Choď, jasnovidec, bež do judejskej krajiny, tam jedz chlieb a tam prorokuj! ' where spis = 'Am' and vers = 1 and k = 7 and v = 12
update biblia set nvg = 'V_Beteli už neprorokuj, lebo tu je kráľova svätyňa a chrám kráľovstva.“ ' where spis = 'Am' and vers = 1 and k = 7 and v = 13
update biblia set nvg = 'Amos odpovedal Amaziášovi: // „Nie som prorok / ani žiak proroka; / ja som pastier a pestovateľ poľných fíg.' where spis = 'Am' and vers = 1 and k = 7 and v = 14
update biblia set nvg = 'No Pán ma vzal od stáda / a povedal mi: / ‚Choď, prorokuj môjmu ľudu, Izraelu!‘' where spis = 'Am' and vers = 1 and k = 7 and v = 15
update biblia set nvg = 'Preto teraz počuj slovo Pána: Ty hovoríš: ‚Neprorokuj proti Izraelu a netrať slová proti Izákovmu domu!‘ ' where spis = 'Am' and vers = 1 and k = 7 and v = 16
update biblia set nvg = 'Preto takto hovorí Pán: ‚Tvoja žena bude v_meste neviestkou, tvoji synovia a tvoje dcéry padnú pod mečom a tvoje dedičné pole rozdelia meračským povrazom. Ty zomrieš v_poškvrnenej krajine a Izrael pôjde ako zajatec zo svojej krajiny.‘“' where spis = 'Am' and vers = 1 and k = 7 and v = 17
go

-- 310	Am 8, 4-6. 9-12
-- 311	Am 8, 4-7
update biblia set lc_id = 311 where spis = 'Am' and vers = 1 and k = 8 and v between 4 and 7
update biblia set lc_id = 310 where spis = 'Am' and vers = 1 and k = 8 and v between 9 and 12
go

update biblia set nvg = 'Čujte vy, čo šliapete po chudákovi a nivočíte bedárov v krajine. ' where spis = 'Am' and vers = 1 and k = 8 and v = 4
update biblia set nvg = 'Hovoríte: "Kedy prejde novmesiac, aby sme mohli predávať obilie, a sobota, aby sme mohli otvoriť sýpky, zmenšovať mieru, zvyšovať cenu a používať falošné váhy, ' where spis = 'Am' and vers = 1 and k = 8 and v = 5
update biblia set nvg = 'kupovať úbohých za peniaze a bedára za pár sandálov a predať aj smeti z obilia?"' where spis = 'Am' and vers = 1 and k = 8 and v = 6
update biblia set nvg = 'Pán sa zaprisahal na slávu Jakuba: "Nikdy nezabudnem na nijaký ich skutok.' where spis = 'Am' and vers = 1 and k = 8 and v = 7
go
update biblia set nvg = 'V ten deň, hovorí Pán, Boh, dám slnku zapadnúť na poludnie a za jasného dňa zem zatemním. ' where spis = 'Am' and vers = 1 and k = 8 and v = 9
update biblia set nvg = 'Vaše sviatky zmením na smútok a všetky vaše piesne na nárek; všetky bedrá oviniem vrecovinou a každú hlavu poznačím plešinou. Spôsobím smútok ako za jediným synom a koniec bude ako trpký deň.' where spis = 'Am' and vers = 1 and k = 8 and v = 10
update biblia set nvg = 'Hľa, prídu dni, hovorí Pán, keď pošlem hlad na krajinu; nie hlad po chlebe ani smäd po vode, ale po slove Pánovom." ' where spis = 'Am' and vers = 1 and k = 8 and v = 11
update biblia set nvg = 'Putovať budú od mora k moru, budú chodiť od severu až na východ, čo budú hľadať Pánovo slovo, ale nenájdu.' where spis = 'Am' and vers = 1 and k = 8 and v = 12
go

-- _1STV3_CIT	Am 9, 6
-- OCR18STRc_CIT1	9, 1-15
-- 312	Am 9, 11-15
update biblia set lh_id = 'OCR18STRc_CIT1' where spis = 'Am' and vers = 1 and k = 9 and v between 1 and 15
go
update biblia set lc_id = 308 where spis = 'Am' and vers = 1 and k = 9 and v between 11 and 15
go

update biblia set nvg = 'Videl som Pána, / ako stál pred oltárom / a povedal: „Udri na hlavicu / a otrasú sa prahy; / dolám ich všetky na hlave / a posledného z_nich zabijem mečom. / Neujde z_nich utečenec, / ani sa nezachráni taký, čo prežije.' where spis = 'Am' and vers = 1 and k = 9 and v = 1
update biblia set nvg = 'Keby zostúpili až do podsvetia, / aj odtiaľ ich moja ruka vyvedie. / A keby vystúpili až do neba, / stiahnem ich odtiaľ.' where spis = 'Am' and vers = 1 and k = 9 and v = 2
update biblia set nvg = 'A keby sa schovali na vrchole Karmelu, / vyhľadám ich tam a odvediem odtiaľ. / Aj keby sa skryli pred mojimi očami / na morskom dne, / prikážem tam hadovi a pohryzie ich.' where spis = 'Am' and vers = 1 and k = 9 and v = 3
update biblia set nvg = 'A keby odišli do zajatia / pred svojimi nepriateľmi, / tam prikážem meču a pobije ich. / A upriem na nich svoj zrak / na zlo, a nie na dobro.“' where spis = 'Am' and vers = 1 and k = 9 and v = 4
update biblia set nvg = 'A Pán, Boh zástupov, / dotkne sa zeme a ona sa rozplynie. / Žialiť budú všetci jej obyvatelia; / ona sa vzduje celá ako rieka / a klesne ako veľtok Egypta.' where spis = 'Am' and vers = 1 and k = 9 and v = 5
update biblia set nvg = 'On si stavia na nebi horné siene / a nad zemou svoju klenbu zakladá. / On volá morské vody / a vylieva ich na povrch zeme. / Jeho meno je Pán.' where spis = 'Am' and vers = 1 and k = 9 and v = 6
update biblia set nvg = '„Synovia Izraela, či nie ste pre mňa / ako synovia Etiópie?“ / hovorí Pán. / „A nevyviedol som Izrael / z_egyptskej krajiny, / Filištíncov z_Kaftoru / a Sýrčanov z_Kíru?' where spis = 'Am' and vers = 1 and k = 9 and v = 7
update biblia set nvg = 'Oči Pána, Boha, / sa upierajú na hriešne kráľovstvo / a vyhladím ho / z_povrchu zeme. / Ale Jakubov dom / nevyhladím úplne,“ / hovorí Pán. ' where spis = 'Am' and vers = 1 and k = 9 and v = 8
update biblia set nvg = '„Lebo vydám rozkaz / a zatrasiem domom Izraela medzi všetkými národmi, / ako sa trasie pšenicou na site, / a nepadne ani kamienok na zem.' where spis = 'Am' and vers = 1 and k = 9 and v = 9
update biblia set nvg = 'Pod mečom zomrú všetci hriešnici môjho ľudu, / ktorí hovoria: ‚Nepriblíži sa a nepríde / na nás pohroma.‘' where spis = 'Am' and vers = 1 and k = 9 and v = 10
update biblia set nvg = 'V_ten deň postavím / spadnutý stan Dávida; / zacelím jeho trhliny, / obnovím, čo sa zrútilo, / a postavím ho a bude ako za dávnych dní,' where spis = 'Am' and vers = 1 and k = 9 and v = 11
update biblia set nvg = 'aby ovládol / zvyšky Edomu / a všetky národy, / nad ktorými sa vzývalo moje meno, / hovorí Pán, ktorý to urobí.' where spis = 'Am' and vers = 1 and k = 9 and v = 12
update biblia set nvg = 'Hľa, prídu dni, / hovorí Pán, / keď oráč ženca dobehne / a šliapač hrozna toho, čo seje semeno; / z_vrchov bude kvapkať mušt / a všetky kopce sa roztečú.' where spis = 'Am' and vers = 1 and k = 9 and v = 13
update biblia set nvg = 'Vtedy privediem svoj ľud Izrael zo zajatia; / postavia spustošené mestá a budú v_nich bývať, / vysadia vinice a budú z_nich piť víno, / urobia si záhrady a budú jesť z_nich ovocie.' where spis = 'Am' and vers = 1 and k = 9 and v = 14
update biblia set nvg = 'Zasadím ich do ich vlastnej pôdy / a viac ich nik nevytrhne / z_ich zeme, ktorú som im dal,“ / hovorí Pán, tvoj Boh.' where spis = 'Am' and vers = 1 and k = 9 and v = 15
go

