-- OCR18STVc_CIT1	1, 1-9; 3, 1-5
update biblia set lh_id = 'OCR18STVc_CIT1' where spis = 'Oz' and vers = 1 and k = 1 and v between 1 and 9
update biblia set lh_id = 'OCR18STVc_CIT1' where spis = 'Oz' and vers = 1 and k = 3 and v between 1 and 5
go

update biblia set nvg = 'Pánovo slovo, ktoré zaznelo Beerovmu synovi Ozeášovi za čias júdejských kráľov Oziáša, Joatama, Achaza, Ezechiáša a za čias izraelského kráľa Jeroboama, Joasovho syna.' where spis = 'Oz' and vers = 1 and k = 1 and v = 1
update biblia set nvg = 'Začiatok Pánovho slova cez Ozeáša. Pán povedal Ozeášovi: / „Choď, vezmi si smilnú ženu / a deti zo smilstva, / lebo krajina sa smilne odvracia od Pána.“' where spis = 'Oz' and vers = 1 and k = 1 and v = 2
update biblia set nvg = 'Šiel teda a vzal si Debelaimovu dcéru Gomeru. Ona počala a porodila mu syna. ' where spis = 'Oz' and vers = 1 and k = 1 and v = 3
update biblia set nvg = 'A Pán mu povedal: „Daj mu meno Jezrahel, lebo ešte chvíľku a potrestám Jezrahelovu krv na Jehuovom dome a zruším kráľovstvo Izraelovho domu. ' where spis = 'Oz' and vers = 1 and k = 1 and v = 4
update biblia set nvg = 'V_ten deň dolámem Izraelov luk v_Jezrahelskom údolí.“' where spis = 'Oz' and vers = 1 and k = 1 and v = 5
update biblia set nvg = 'Opäť počala a porodila dcéru. A povedal mu: „Daj jej meno ‚Bez milosrdenstva‘, lebo už sa viac nezmilujem nad Izraelovým domom a neodpustím im. ' where spis = 'Oz' and vers = 1 and k = 1 and v = 6
update biblia set nvg = 'Ale nad Júdovým domom sa zmilujem a zachránim ich v_Pánovi, ich Bohu. A nezachránim ich lukom a mečom ani vojnou, koňmi a jazdcami.“ ' where spis = 'Oz' and vers = 1 and k = 1 and v = 7
update biblia set nvg = 'A keď odstavila tú ‚Bez milosrdenstva‘, počala a porodila syna. ' where spis = 'Oz' and vers = 1 and k = 1 and v = 8
update biblia set nvg = 'A povedal: „Daj mu meno ‚Nie môj ľud‘, lebo vy nie ste môj ľud a ja ‚Nie som‘ váš.“' where spis = 'Oz' and vers = 1 and k = 1 and v = 9
go
update biblia set nvg = 'A Pán mi ešte povedal: „Choď znova, miluj ženu, milenku iného, cudzoložnicu, ako Pán miluje synov Izraela, a oni sa obzerajú za cudzími bohmi a majú radi hroznové koláče.“' where spis = 'Oz' and vers = 1 and k = 3 and v = 1
update biblia set nvg = 'A kúpil som si ju za pätnásť strieborných, za mericu jačmeňa a za pol merice jačmeňa. ' where spis = 'Oz' and vers = 1 and k = 3 and v = 2
update biblia set nvg = 'Povedal som jej: „Veľa dní budeš na mňa čakať; nebudeš smilniť a nebudeš patriť mužovi, ani ja neprídem k_tebe.“ ' where spis = 'Oz' and vers = 1 and k = 3 and v = 3
update biblia set nvg = 'Lebo veľa dní budú synovia Izraela bez kráľa a bez kniežaťa, bez obety, bez posvätného stĺpu, bez efódu a bez terafím. ' where spis = 'Oz' and vers = 1 and k = 3 and v = 4
update biblia set nvg = 'Po tomto sa synovia Izraela vrátia a budú hľadať Pána, svojho Boha, a Dávida, svojho kráľa, a s_chvením sa privinú k_Pánovi a k_jeho dobru v_posledných dňoch. ' where spis = 'Oz' and vers = 1 and k = 3 and v = 5
go

-- OCR18PIc_CIT1	2, 4. 8-26
-- 1533	Oz 2, 16. 17c-18. 21-22
-- 1534	Oz 2, 16bc. 17c-e. 21-22
update biblia set lh_id = 'OCR18PIc_CIT1' where spis = 'Oz' and vers = 1 and k = 2 and v = 4
update biblia set lh_id = 'OCR18PIc_CIT1' where spis = 'Oz' and vers = 1 and k = 2 and v between 8 and 26
go
update biblia set lc_id = 1533 where spis = 'Oz' and vers = 1 and k = 2 and v between 16 and 18
update biblia set lc_id = 1533 where spis = 'Oz' and vers = 1 and k = 2 and v between 21 and 22
go

update biblia set nvg = '„Žalujte na svoju matku, žalujte, / lebo ona nie je mojou ženou / a ja nie som jej muž. / Nech odstránim svoje smilstvá zo svojej tváre.' where spis = 'Oz' and vers = 1 and k = 2 and v = 4
go
update biblia set nvg = 'Pre toto oboženiem / tvoju cestu tŕním / a ohradím ju plotom / a nenájde svoje chodníky.' where spis = 'Oz' and vers = 1 and k = 2 and v = 8
update biblia set nvg = 'Pôjde za svojimi milencami, / ale nedostihne ich. / Bude ich hľadať, ale nenájde, / a povie: ‚Pôjdem a vrátim sa / k_môjmu prvému mužovi, / lebo vtedy mi bolo lepšie ako teraz.‘' where spis = 'Oz' and vers = 1 and k = 2 and v = 9
update biblia set nvg = 'A ona nezbadala, / že ja som jej dával obilie, víno a olej / a rozmnožoval jej striebro a zlato, / z_ktorého urobili Bála.' where spis = 'Oz' and vers = 1 and k = 2 and v = 10
update biblia set nvg = 'Preto sa obrátim a vezmem si / svoje obilie v_jeho čase / aj svoje víno v_jeho čase; / odnesiem si svoju vlnu i_svoj ľan, / ktoré zakrývali jej nahotu.' where spis = 'Oz' and vers = 1 and k = 2 and v = 11
update biblia set nvg = 'Teraz odkryjem jej hanbu / pred očami jej milencov / a ani jeden ju nevytrhne z_mojej ruky.' where spis = 'Oz' and vers = 1 and k = 2 and v = 12
update biblia set nvg = 'Urobím koniec všetkej jej radosti, / jej sviatku, jej novmesiacu, / jej sobote i_všetkým jej slávnostiam.' where spis = 'Oz' and vers = 1 and k = 2 and v = 13
update biblia set nvg = 'Spustoším jej vinicu i_jej figovník, / o_ktorých hovorí: ‚Ony sú moja mzda, / ktorú mi dali moji milenci.‘ / Premením ich na les / a požerie ich poľná zver.' where spis = 'Oz' and vers = 1 and k = 2 and v = 14
update biblia set nvg = 'A potrescem ju za dni bálov, / keď zapaľovala kadidlo, / ozdobovala sa svojimi náušnicami a svojimi náhrdelníkmi, / chodievala za svojimi milencami / a na mňa zabúdala, / hovorí Pán. ' where spis = 'Oz' and vers = 1 and k = 2 and v = 15
update biblia set nvg = 'Preto ju ja prehovorím, / zavediem ju na púšť / a prihovorím sa jej srdcu.' where spis = 'Oz' and vers = 1 and k = 2 and v = 16
update biblia set nvg = 'Z_toho istého miesta jej dám jej vinice / aj údolie Achor, bránu nádeje. / Tam bude poslúchať / ako v_dňoch svojej mladosti, / ako v_dňoch, keď vychádzala z_egyptskej krajiny.' where spis = 'Oz' and vers = 1 and k = 2 and v = 17
update biblia set nvg = 'A v_ten deň, / hovorí Pán, / budeš ma volať: ‚Môj manžel;‘ / už ma viac nebudeš volať: ‚Môj Bál.‘' where spis = 'Oz' and vers = 1 and k = 2 and v = 18
update biblia set nvg = 'Tu odstránim z_jej úst mená bálov / a už nikdy si na ich mená nespomenie.' where spis = 'Oz' and vers = 1 and k = 2 and v = 19
update biblia set nvg = 'V_ten deň uzavriem pre nich zmluvu / s_poľnou zverou, s_nebeským vtáctvom i_plazmi zeme. / Odstránim z_krajiny / luk, meč a vojnu / a dám im odpočívať v_bezpečí.' where spis = 'Oz' and vers = 1 and k = 2 and v = 20
update biblia set nvg = 'Vtedy si ťa navždy zasnúbim, / zasnúbim si ťa v_spravodlivosti a práve, / v_láske a milosrdenstve, ' where spis = 'Oz' and vers = 1 and k = 2 and v = 21
update biblia set nvg = 'zasnúbim si ťa vo vernosti / a ty spoznáš Pána.' where spis = 'Oz' and vers = 1 and k = 2 and v = 22
update biblia set nvg = 'V_ten deň vyslyším, / hovorí Pán, / vyslyším nebesia / a ony vyslyšia zem.' where spis = 'Oz' and vers = 1 and k = 2 and v = 23
update biblia set nvg = 'Zem vyslyší / pšenicu, víno a olej / a ony vyslyšia Jezrahel.' where spis = 'Oz' and vers = 1 and k = 2 and v = 24
-- update biblia set nvg = 'Zasejem si ju do zeme / a zmilujem sa nad tou ‚Bez milosrdenstva‘,' where spis = 'Oz' and vers = 1 and k = 2 and v = 25
-- update biblia set nvg = '‚Nie môjmu ľudu‘ poviem: ‚Ty si môj ľud,‘ / a on odpovie: ‚Ty si môj Boh.‘“' where spis = 'Oz' and vers = 1 and k = 2 and v = 26
update biblia set nvg = 'Zasejem si ju do zeme / a zmilujem sa nad tou ‚Bez milosrdenstva‘, (NVg 26) ‚Nie môjmu ľudu‘ poviem: ‚Ty si môj ľud,‘ / a on odpovie: ‚Ty si môj Boh.‘“', juv = 'NVg má verš 25 rozdelený na vv. 25-26' where spis = 'Oz' and vers = 1 and k = 2 and v = 25
go

-- OCR18SOc_CIT1	5, 14 – 7, 2
-- CHVAL_OZ6VG	Oz 6, 1-6
-- VTROJ_rSOCIT	Oz 5, 15d – 6, 2
-- 1535	Oz 6, 1-6
-- 1536	Oz 6, 3-6
update biblia set lh_id = 'OCR18SOc_CIT1' where spis = 'Oz' and vers = 1 and k = 5 and v between 14 and 15
update biblia set lh_id = 'OCR18SOc_CIT1' where spis = 'Oz' and vers = 1 and k = 6 and v between 1 and 11
update biblia set lh_id = 'OCR18SOc_CIT1' where spis = 'Oz' and vers = 1 and k = 7 and v between 1 and 2
go
update biblia set lc_id = 1535 where spis = 'Oz' and vers = 1 and k = 6 and v between 1 and 6
go

update biblia set nvg = '„Ja budem na Efraim ako levica / a ako levíča na Júdov dom; / ja, ja uchmatnem a odídem, / odnesiem a nik mi nevytrhne.' where spis = 'Oz' and vers = 1 and k = 5 and v = 14
update biblia set nvg = 'Odídem a vrátim sa na svoje miesto, / kým neodčinia vinu, / nebudú hľadať moju tvár; / vo svojom súžení budú túžiť po mne:' where spis = 'Oz' and vers = 1 and k = 5 and v = 15
go
update biblia set nvg = '‚Poďte, vráťme sa k_Pánovi, / lebo on nás poranil a on nás uzdraví, / on nás udrel, on nás aj ošetrí.' where spis = 'Oz' and vers = 1 and k = 6 and v = 1
update biblia set nvg = 'Po dvoch dňoch nás oživí, / na tretí deň nám pomôže vstať / a budeme žiť pred jeho tvárou.' where spis = 'Oz' and vers = 1 and k = 6 and v = 2
update biblia set nvg = 'Poznávajme, usilujme sa / poznať Pána: / jeho príchod je istý ako zornica. / Príde k_nám ako dážď v_pravý čas, / ako dážď neskorý, čo zavlaží zem.‘' where spis = 'Oz' and vers = 1 and k = 6 and v = 3
update biblia set nvg = 'Čo mám robiť s_tebou, Efraim? / Čo mám robiť s_tebou, Júda? / Vaša láska je ako ranný mráčik / a ako rosa, ktorá zrána pominie.' where spis = 'Oz' and vers = 1 and k = 6 and v = 4
update biblia set nvg = 'Preto som ich okresával skrze prorokov, / zabíjal slovami svojich úst. / Spravodlivosť moja jak svetlo vychádza.' where spis = 'Oz' and vers = 1 and k = 6 and v = 5
update biblia set nvg = 'Lásku chcem, a nie obetu; / poznanie Boha viac ako zápalnú obetu.' where spis = 'Oz' and vers = 1 and k = 6 and v = 6
update biblia set nvg = 'Oni však v_Adame porušili zmluvu, / tam sa mi spreneverili.' where spis = 'Oz' and vers = 1 and k = 6 and v = 7
update biblia set nvg = 'Galaád je mesto tých, čo páchajú neprávosť, / poškvrnené krvou.' where spis = 'Oz' and vers = 1 and k = 6 and v = 8
update biblia set nvg = 'A ako zbojníci číha na muža / húf kňazov. / Na ceste zabíjajú tých, čo idú do Sichemu, / naozaj páchajú zločin.' where spis = 'Oz' and vers = 1 and k = 6 and v = 9
update biblia set nvg = 'Hroznú vec som videl v_dome Izraela: / smilní tam Efraim, / poškvrnil sa Izrael.' where spis = 'Oz' and vers = 1 and k = 6 and v = 10
update biblia set nvg = 'Ale aj pre teba, Júda, je pripravená žatva, / keď obrátim osud svojho ľudu.' where spis = 'Oz' and vers = 1 and k = 6 and v = 11
go
update biblia set nvg = 'Keď chcem uzdraviť Izrael, / vychádza najavo neprávosť Efraima / a zloba Samárie, / lebo sa dopúšťajú klamstva, / zlodej vniká do domu / a vonku lúpi banda zbojníkov.' where spis = 'Oz' and vers = 1 and k = 7 and v = 1
update biblia set nvg = 'A nepovedia si vo svojom srdci, / že si spomeniem na všetku ich zlobu. / Teraz ich obkľúčili ich skutky, / mám ich pred očami.“' where spis = 'Oz' and vers = 1 and k = 7 and v = 2
go

-- 1537	Oz 8, 4-7. 11-13
update biblia set lc_id = 1537 where spis = 'Oz' and vers = 1 and k = 8 and v between 4 and 7
update biblia set lc_id = 1537 where spis = 'Oz' and vers = 1 and k = 8 and v between 11 and 13
go

update biblia set nvg = 'Oni si ustanovujú kráľov, ale bezo mňa, dosádzajú kniežatá, a ja o tom neviem. Zo striebra a zlata robia si modly na vlastnú skazu. ' where spis = 'Oz' and vers = 1 and k = 8 and v = 4
update biblia set nvg = 'Zavrhujem tvoje teľa, Samária; môj hnev vzplanul proti nim. Dokedy sa nebudú môcť očistiť? ' where spis = 'Oz' and vers = 1 and k = 8 and v = 5
update biblia set nvg = 'Veď aj ono je z Izraela; remeselník ho urobil, a nie je to boh. Z teľaťa Samárie budú len íverky. ' where spis = 'Oz' and vers = 1 and k = 8 and v = 6
update biblia set nvg = 'Lebo vietor sejú, žať budú víchricu. Steblo neurodí múku, pretože na ňom niet klasu; a ak aj urodí, zjedia ho cudzinci.' where spis = 'Oz' and vers = 1 and k = 8 and v = 7
go
update biblia set nvg = 'Efraim rozmnožil oltáre na odčinenie hriechu, ale oltáre mu na hriech slúžili. ' where spis = 'Oz' and vers = 1 and k = 8 and v = 11
update biblia set nvg = 'Napísal som mu početné zákony, no pokladali ich za cudzie. ' where spis = 'Oz' and vers = 1 and k = 8 and v = 12
update biblia set nvg = 'Oni milujú obety: zabíjajú zvieratá a jedia ich mäso, ale Pán nemá v nich záľubu. Teraz si spomenie na ich neprávosť a potrestá ich hriech; musia sa vrátiť do Egypta.' where spis = 'Oz' and vers = 1 and k = 8 and v = 13
go

-- 1529	Oz 10, 1-3. 7-8. 12
update biblia set lc_id = 1529 where spis = 'Oz' and vers = 1 and k = 10 and v between 1 and 3
update biblia set lc_id = 1529 where spis = 'Oz' and vers = 1 and k = 10 and v between 7 and 8
update biblia set lc_id = 1529 where spis = 'Oz' and vers = 1 and k = 10 and v = 12
go

update biblia set nvg = 'Bujnou révou bol Izrael, čo rodí ovocie pre seba. Čím mal hojnejšiu úrodu, tým viac oltárov nastaval, čím bola jeho krajina bohatšia, tým honosnejšie modly zdobieval.' where spis = 'Oz' and vers = 1 and k = 10 and v = 1
update biblia set nvg = 'Rozdelené srdce majú, teraz si to odnesú: sám im rozdrúzga oltáre, ich modly porozbíja. ' where spis = 'Oz' and vers = 1 and k = 10 and v = 2
update biblia set nvg = 'Teraz iste povedia: "Nemáme kráľa, lebo Pána sa nebojíme, a kráľ čo môže pre nás urobiť?"' where spis = 'Oz' and vers = 1 and k = 10 and v = 3
go
update biblia set nvg = 'Zničená bude Samária, jej kráľ je ako trieska na vode. ' where spis = 'Oz' and vers = 1 and k = 10 and v = 7
update biblia set nvg = 'Spustošené budú výšiny bezbožnosti, hriech Izraela. Tŕnie a bodľačie bude rásť na ich oltároch. Vtedy povedia vrchom: "Prikryte nás!" A kopcom: "Padnite na nás!"' where spis = 'Oz' and vers = 1 and k = 10 and v = 8
go
update biblia set nvg = 'Rozsievajte v spravodlivosti, žnite podľa lásky, preorte si úhor. / Je čas hľadať Pána, kým nepríde a nespustí na vás dážď spravodlivosti.' where spis = 'Oz' and vers = 1 and k = 10 and v = 12
go

-- OCR19NEc_CIT1	11, 1-11
-- 1530	Oz 11, 1. 3-4. 8e-9
update biblia set lh_id = 'OCR19NEc_CIT1' where spis = 'Oz' and vers = 1 and k = 11 and v between 1 and 11
go
update biblia set lc_id = 1530 where spis = 'Oz' and vers = 1 and k = 11 and v = 1
update biblia set lc_id = 1530 where spis = 'Oz' and vers = 1 and k = 11 and v between 3 and 4
update biblia set lc_id = 1530 where spis = 'Oz' and vers = 1 and k = 11 and v between 8 and 9
go

update biblia set nvg = '„Keď bol Izrael ešte dieťaťom, obľúbil som si ho / a z_Egypta som povolal svojho syna.' where spis = 'Oz' and vers = 1 and k = 11 and v = 1
update biblia set nvg = 'Čím viac som ich volal, / tým viac sa vzďaľovali odo mňa. / Obetovali bálom / a modlám pálili kadidlo.' where spis = 'Oz' and vers = 1 and k = 11 and v = 2
update biblia set nvg = 'A ja som Efraima učil chodiť; / bral som ich na svoje ramená, / ale oni nepochopili, že mám o_nich starosť.' where spis = 'Oz' and vers = 1 and k = 11 and v = 3
update biblia set nvg = 'Povrazmi láskavosti som ich priťahoval, / lanami lásky; / bol som im ako ten, čo dvíha dieťa k_svojmu lícu, / skláňal som sa k_nemu a kŕmil som ho.' where spis = 'Oz' and vers = 1 and k = 11 and v = 4
update biblia set nvg = 'Vráti sa do egyptskej krajiny / a Assúr bude jeho kráľom, / lebo sa nechceli obrátiť.' where spis = 'Oz' and vers = 1 and k = 11 and v = 5
update biblia set nvg = 'V_jeho mestách bude zúriť meč / a pohltí jeho tárajov, / požerie ich pre ich zámery.' where spis = 'Oz' and vers = 1 and k = 11 and v = 6
update biblia set nvg = 'Môj ľud podľahol sprenevere voči mne. / Volajú ho hore, ale pritom ho nik nedvíha.' where spis = 'Oz' and vers = 1 and k = 11 and v = 7
update biblia set nvg = 'Ako ťa vydám, Efraim, / vzdám sa ťa, Izrael? / Akože ťa vydám, ako Adamu, / a urobím s_tebou ako so Seboim? / Srdce sa vo mne obracia, / rozhorieva sa vo mne súcit.' where spis = 'Oz' and vers = 1 and k = 11 and v = 8
update biblia set nvg = 'Nebudem konať v_zápale svojho hnevu, / nezničím zase Efraim, / veď som ja Boh, / a nie človek, / som Svätý uprostred teba, / preto neprídem s_hrozbami.' where spis = 'Oz' and vers = 1 and k = 11 and v = 9
update biblia set nvg = 'Pôjdu za Pánom; / bude revať ako lev, / lebo on bude revať / a s_chvením pribehnú synovia od západu.' where spis = 'Oz' and vers = 1 and k = 11 and v = 10
update biblia set nvg = 'I_priletia ako vták z_Egypta / a ako holubica z_asýrskej krajiny / a usadím ich v_ich domoch,“ / hovorí Pán.' where spis = 'Oz' and vers = 1 and k = 11 and v = 11
go

-- OCR19POc_CIT1	14, 2-10
-- 1531	Oz 14, 2-10
-- 1532	Oz 14, 2-10
update biblia set lh_id = 'OCR19POc_CIT1' where spis = 'Oz' and vers = 1 and k = 14 and v between 2 and 10
go
update biblia set lc_id = 1531 where spis = 'Oz' and vers = 1 and k = 14 and v between 2 and 10
go

update biblia set nvg = '„Vráť sa, Izrael, k_Pánovi, svojmu Bohu, / lebo si uviazol vo svojej neprávosti.' where spis = 'Oz' and vers = 1 and k = 14 and v = 2
update biblia set nvg = 'Pripravte si slová, / vráťte sa k_Pánovi / a povedzte mu: ‚Odpusť všetku vinu, / prijmi, čo je dobré, / chceme splácať plodom svojich perí.' where spis = 'Oz' and vers = 1 and k = 14 and v = 3
update biblia set nvg = 'Asýrsko nás nezachráni; / už nevysadneme na koňa / a už nebudeme hovoriť / o_dielach svojich rúk: Naši bohovia, / lebo sirota u_teba nájde milosrdenstvo.‘' where spis = 'Oz' and vers = 1 and k = 14 and v = 4
update biblia set nvg = '‚Vyliečim ich nevernosť, / úprimne ich budem milovať, / lebo sa môj hnev od nich odvrátil. ' where spis = 'Oz' and vers = 1 and k = 14 and v = 5
update biblia set nvg = 'Budem pre Izrael ako rosa, / kvitnúť bude ako ľalia, / korene zapustí ako Libanon.' where spis = 'Oz' and vers = 1 and k = 14 and v = 6
update biblia set nvg = 'Jeho konáre sa rozrastú, / nádherný bude ako oliva / a voňať bude ako Libanon.' where spis = 'Oz' and vers = 1 and k = 14 and v = 7
update biblia set nvg = 'Vrátia sa a v_mojej tôni sa usadia, / pestovať budú pšenicu / a rozkvitnú ako vinica, / ktorá má chýr ako víno z_Libanonu.' where spis = 'Oz' and vers = 1 and k = 14 and v = 8
update biblia set nvg = 'Efraim, čo chce ešte s_modlami? / Ja ho vyslyším a zhliadnem na neho. / Ja som ako jedľa stále zelená. / Odo mňa pochádza tvoje ovocie.‘' where spis = 'Oz' and vers = 1 and k = 14 and v = 9
update biblia set nvg = 'Kto je múdry, nech to pochopí, / kto je rozumný, nech to rozpozná! / Lebo priame sú cesty Pánove / a spravodliví po nich kráčajú; / no vzbúrenci na nich zahynú.“' where spis = 'Oz' and vers = 1 and k = 14 and v = 10
go

