-- 922	Jon 1, 1 - 2, 1. 11
update biblia set lc_id = 922 where spis = 'Jon' and vers = 1 and k = 1 and v between 1 and 16
update biblia set lc_id = 922 where spis = 'Jon' and vers = 1 and k = 2 and v = 1
update biblia set lc_id = 922 where spis = 'Jon' and vers = 1 and k = 2 and v = 11
go

update biblia set nvg = 'Jonášovi, Amatiho synovi, zaznelo Pánovo slovo: ' where spis = 'Jon' and vers = 1 and k = 1 and v = 1
update biblia set nvg = '"Vstaň, choď do veľkého mesta Ninive a ohlás im, že ich zloba vystúpila až ku mne."' where spis = 'Jon' and vers = 1 and k = 1 and v = 2
update biblia set nvg = 'Ale Jonáš vstal a chcel Pánovi ujsť do Taršišu. Išiel do Joppe, našiel si loď, čo šla do Taršišu, zaplatil plavné a nasadol na ňu, aby s nimi ušiel Pánovi do Taršišu.' where spis = 'Jon' and vers = 1 and k = 1 and v = 3
update biblia set nvg = 'Ale Pán poslal na more silný vietor, na mori sa strhla veľká búrka a lodi hrozilo, že stroskotá. ' where spis = 'Jon' and vers = 1 and k = 1 and v = 4
update biblia set nvg = 'Námorníci sa báli, každý volal k svojmu bohu a hádzali do mora náradie, čo bolo na lodi, aby ju odľahčili. Ale Jonáš zišiel do vnútra lode, ľahol si tam a tvrdo zaspal.' where spis = 'Jon' and vers = 1 and k = 1 and v = 5
update biblia set nvg = 'Tu prišiel k nemu kapitán a povedal mu: "Čože, ty spíš? Vstaň, volaj k svojmu Bohu, možno si spomenie na nás a nezahynieme." ' where spis = 'Jon' and vers = 1 and k = 1 and v = 6
update biblia set nvg = 'A jeden druhému vraveli: "Poďte, hodíme lós a dozvieme sa, prečo nás stihlo toto nešťastie." Hodili teda lós a lós padol na Jonáša.' where spis = 'Jon' and vers = 1 and k = 1 and v = 7
update biblia set nvg = 'Preto naň naliehali: "Povedz nám, prečo nás stihlo toto nešťastie? Aké máš poslanie a odkiaľ ideš? Kde je tvoja vlasť a z ktorého národa pochádzaš?"' where spis = 'Jon' and vers = 1 and k = 1 and v = 8
update biblia set nvg = 'On im odpovedal: "Hebrej som a ctiteľ Pána, Boha nebies, ktorý stvoril more i súš."' where spis = 'Jon' and vers = 1 and k = 1 and v = 9
update biblia set nvg = 'Mužov pojal veľký strach a povedali mu: "Čo si to urobil?" / Chlapi totiž vedeli, že uteká pred Pánom, lebo im to povedal. ' where spis = 'Jon' and vers = 1 and k = 1 and v = 10
update biblia set nvg = 'Tu sa ho pýtali: "Čo máme s tebou urobiť, aby sa more pod nami utíšilo?" Lebo more sa búrilo čoraz väčšmi.' where spis = 'Jon' and vers = 1 and k = 1 and v = 11
update biblia set nvg = 'On im odvetil: "Chyťte ma a hoďte do mora a more sa pod vami utíši. Veď ja viem, že vás pre mňa stihla táto veľká búrka."' where spis = 'Jon' and vers = 1 and k = 1 and v = 12
update biblia set nvg = 'A muži veslovali; chceli sa vrátiť k pevnine, ale nemohli, lebo more sa stále viac proti nim búrilo.' where spis = 'Jon' and vers = 1 and k = 1 and v = 13
update biblia set nvg = 'Preto volali k Pánovi: "Pane, prosíme, nech nezahynieme pre život tohoto človeka a nepočítaj nám to za vraždu, lebo ty, Pane, si urobil, ako si chcel."' where spis = 'Jon' and vers = 1 and k = 1 and v = 14 
update biblia set nvg = 'Chytili Jonáša a hodili ho do mora; a more sa prestalo búriť. ' where spis = 'Jon' and vers = 1 and k = 1 and v = 15
update biblia set nvg = 'A muži sa veľmi báli Pána, priniesli Pánovi obetu a urobili sľuby. ' where spis = 'Jon' and vers = 1 and k = 1 and v = 16
go
update biblia set nvg = 'Pán priviedol veľkú rybu a ona Jonáša zhltla. Tak bol Jonáš tri dni a tri noci v útrobách ryby.' where spis = 'Jon' and vers = 1 and k = 2 and v = 1
go
update biblia set nvg = 'Potom Pán rybe rozkázal a ona Jonáša vyvrhla na súš.' where spis = 'Jon' and vers = 1 and k = 2 and v = 11
go

-- 923	Jon 2, 3. 4. 5. 8
update biblia set lc_id = 923 where spis = 'Jon' and vers = 1 and k = 2 and v between 3 and 5
update biblia set lc_id = 923 where spis = 'Jon' and vers = 1 and k = 2 and v = 8
go

update biblia set nvg = '[...] Vo svojom súžení som volal k Pánovi * / a on mi odpovedal; / z útrob podsvetia som kričal * / a vyslyšal si môj hlas. ' where spis = 'Jon' and vers = 1 and k = 2 and v = 3
update biblia set nvg = 'Vrhol si ma do hlbiny uprostred mora † / a obkľúčili ma prúdy, * / prevalili sa cezo mňa všetky tvoje prívaly a vlny. ' where spis = 'Jon' and vers = 1 and k = 2 and v = 4
update biblia set nvg = 'A ja som povedal: † / "Odvrhnutý som spred tvojich očí; * / no znova uvidím tvoj svätý chrám." ' where spis = 'Jon' and vers = 1 and k = 2 and v = 5
update biblia set nvg = 'Keď sa úzkosťou chvela vo mne moja duša, * / spomenul som si na Pána. / K tebe došla moja modlitba, * / do tvojho svätého chrámu.' where spis = 'Jon' and vers = 1 and k = 2 and v = 8
go

-- 924	Jon 3, 1-10
-- 925	Jon 3, 1-10
-- 926	Jon 3, 1-5. 10
update biblia set lc_id = 924 where spis = 'Jon' and vers = 1 and k = 3 and v between 1 and 10
go

update biblia set nvg = 'Pán druhý raz prehovoril k Jonášovi: ' where spis = 'Jon' and vers = 1 and k = 3 and v = 1
update biblia set nvg = '"Vstaň, choď do veľkého mesta Ninive a káž tam, čo ti hovorím."' where spis = 'Jon' and vers = 1 and k = 3 and v = 2
update biblia set nvg = 'Jonáš vstal a podľa Pánovho rozkazu šiel do Ninive. // Ninive bolo veľké mesto pred Bohom; tri dni trvala cesta cezeň. ' where spis = 'Jon' and vers = 1 and k = 3 and v = 3
update biblia set nvg = 'Jonáš začal prechádzať mestom v prvý deň a volal: "Ešte štyridsať dní a Ninive bude rozvrátené."' where spis = 'Jon' and vers = 1 and k = 3 and v = 4
update biblia set nvg = 'Obyvatelia Ninive uverili v Boha, vyhlásili pôst a od najväčšieho po najmenšieho sa obliekli do vrecoviny.' where spis = 'Jon' and vers = 1 and k = 3 and v = 5
update biblia set nvg = 'Zvesť sa dostala až k ninivskému kráľovi. Vstal zo svojho trónu, zhodil zo seba plášť, obliekol si vrecovinu a posadil sa do popola. ' where spis = 'Jon' and vers = 1 and k = 3 and v = 6
update biblia set nvg = 'Potom dal rozhlásiť po Ninive rozhodnutie kráľa a jeho veľmožov: "Nech nič neokúsia ľudia ani zvieratá, dobytok a ovce nech sa nepasú, ani vodu nech nepijú! ' where spis = 'Jon' and vers = 1 and k = 3 and v = 7
update biblia set nvg = 'Ľudia i zvieratá nech sa oblečú do vrecoviny a hlasno volajú k Bohu a nech sa každý odvráti od svojej zlej cesty a od násilia, ktoré pácha. ' where spis = 'Jon' and vers = 1 and k = 3 and v = 8
update biblia set nvg = 'Ktovie, možno Boh zmení svoje rozhodnutie a odpustí nám, odloží svoje rozhorčenie a nezahynieme."' where spis = 'Jon' and vers = 1 and k = 3 and v = 9
update biblia set nvg = 'A Boh videl ich skutky, že sa odvrátili od svojej zlej cesty; zmiloval sa a nepostihol ich nešťastím, ktorým im hrozil.' where spis = 'Jon' and vers = 1 and k = 3 and v = 10
go

-- 927	Jon 4, 1-11
update biblia set lc_id = 927 where spis = 'Jon' and vers = 1 and k = 4 and v between 1 and 11
go

update biblia set nvg = 'Jonáš bol veľmi skormútený a hneval sa; ' where spis = 'Jon' and vers = 1 and k = 4 and v = 1
update biblia set nvg = 'modlil sa k Pánovi a vravel: "Prosím, Pane, a nesplnilo sa, čo som povedal ešte vo svojej krajine? Preto som chcel vtedy ujsť do Taršišu. Ja som vedel, že ty si Boh láskavý a milosrdný, zhovievavý a veľmi milostivý a zľutúvaš sa v nešťastí. ' where spis = 'Jon' and vers = 1 and k = 4 and v = 2
update biblia set nvg = 'A teraz, Pane, prosím, vezmi si môj život, lebo mi lepšie zomrieť ako žiť."' where spis = 'Jon' and vers = 1 and k = 4 and v = 3
update biblia set nvg = 'Pán povedal: "A myslíš si, že sa právom hneváš?"' where spis = 'Jon' and vers = 1 and k = 4 and v = 4
update biblia set nvg = 'Jonáš vyšiel z mesta a usadil sa východne od mesta: urobil si tam striešku, sedel v jej tôni a čakal, čo sa bude diať v meste. ' where spis = 'Jon' and vers = 1 and k = 4 and v = 5
update biblia set nvg = 'Pán Boh dal vyrásť brečtanu; ten sa zdvihol nad Jonáša, robil mu tieň nad hlavou a zbavil ho útrap. A Jonáš sa brečtanu veľmi potešil.' where spis = 'Jon' and vers = 1 and k = 4 and v = 6
update biblia set nvg = 'Keď na druhý deň vychádzala ranná zora, Boh poslal červa, ktorý poranil brečtan, a ten vyschol. ' where spis = 'Jon' and vers = 1 and k = 4 and v = 7
update biblia set nvg = 'A keď vyšlo slnko, Boh rozkázal horúcemu východnému vetru a slnko pražilo Jonášovi na hlavu, až omdlieval; žiadal si zomrieť a vravel: "Lepšie mi zomrieť ako žiť."' where spis = 'Jon' and vers = 1 and k = 4 and v = 8
update biblia set nvg = 'Vtedy povedal Boh Jonášovi: "Myslíš si, že sa právom hneváš na brečtan?" // On odvetil: "Právom sa hnevám až na smrť."' where spis = 'Jon' and vers = 1 and k = 4 and v = 9
update biblia set nvg = 'A Pán povedal: "Ty žiališ nad brečtanom, okolo ktorého si nepracoval ani si mu nedal rásť; ktorý za jednu noc vyrástol a za jednu noc zahynul. ' where spis = 'Jon' and vers = 1 and k = 4 and v = 10
update biblia set nvg = 'A mne nemá byť ľúto veľkého mesta Ninive, v ktorom je viac než stodvadsaťtisíc ľudí, ktorí nevedia rozlíšiť pravú ruku od ľavej a okrem toho množstvo dobytka?"' where spis = 'Jon' and vers = 1 and k = 4 and v = 11
go

