-- 1172	Mich 2, 1-5
update biblia set lc_id = 1172 where spis = 'Mich' and vers = 1 and k = 2 and v between 1 and 5
go

update biblia set nvg = 'Beda tým, čo vymýšľajú neprávosť a snujú zlo na svojich lôžkach! Na rannom úsvite ho uskutočňujú, pretože majú moc v rukách. ' where spis = 'Mich' and vers = 1 and k = 2 and v = 1
update biblia set nvg = 'Ak sa im zažiada pole, násilne si ho vezmú, ak domy, tak si ich zaberú. Napadnú muža i jeho rodinu, človeka a jeho dedičstvo.' where spis = 'Mich' and vers = 1 and k = 2 and v = 2
update biblia set nvg = 'Preto Pán hovorí: "Hľa, ja zamýšľam zlo proti tejto čeľadi, z ktorého nevytiahnete svoje šije a nebudete chodiť vypätí, lebo to bude čas nedobrý.' where spis = 'Mich' and vers = 1 and k = 2 and v = 3
update biblia set nvg = 'V ten deň vznikne o vás príslovie a bude sa spievať žalospev: »Spustošení sme, zničení, na iných prejde dedičstvo môjho ľudu a už mu ho nik nevráti. Neveriaci si delia našu krajinu.« ' where spis = 'Mich' and vers = 1 and k = 2 and v = 4
update biblia set nvg = 'Preto už nebudeš mať nikoho, kto by určil podiel v Pánovom zhromaždení."' where spis = 'Mich' and vers = 1 and k = 2 and v = 5
go

-- VIAN1_3CIT5	Mich 2, 12
update biblia set lh_id = 'VIAN1_3CIT5' where spis = 'Mich' and vers = 1 and k = 2 and v = 12
go
update biblia set nvg = 'Naozaj ťa zhromaždím, Jakub, celého; dovedna privediem zvyšok Izraela, dám ich dokopy ako stádo v_ovčinci, ako ovce uprostred pastviny.' where spis = 'Mich' and vers = 1 and k = 2 and v = 12

-- OCR19UTc_CIT1	3, 1-12
update biblia set lh_id = 'OCR19UTc_CIT1' where spis = 'Mich' and vers = 1 and k = 3 and v between 1 and 12
go

update biblia set nvg = '„Počúvajte, Jakubove kniežatá / a vodcovia Izraelovho domu: / Nie je vašou úlohou poznať právo?“' where spis = 'Mich' and vers = 1 and k = 3 and v = 1
update biblia set nvg = 'Ale vy nenávidíte dobro a milujete zlo. / Násilím z_nich zdierate kožu / a mäso z_ich kostí.' where spis = 'Mich' and vers = 1 and k = 3 and v = 2
update biblia set nvg = 'Oni požierajú mäso môjho ľudu / a sťahujú z_nich kožu, / lámu im kosti / a sekajú ako upečené mäso v_kotle, / ako mäso v_hrnci.' where spis = 'Mich' and vers = 1 and k = 3 and v = 3
update biblia set nvg = 'Potom budú volať k_Pánovi, / ale nevyslyší ich, / v_tom čase / skryje svoju tvár pred nimi, / lebo páchali veľmi zlé skutky.' where spis = 'Mich' and vers = 1 and k = 3 and v = 4
update biblia set nvg = 'Toto hovorí Pán o_prorokoch, / ktorí zvádzajú môj ľud, / ktorí hlásajú pokoj, / keď majú čo hrýzť svojimi zubami, / ale ak im niekto nedá nič do úst, / vyhlasujú proti nemu svätú vojnu.' where spis = 'Mich' and vers = 1 and k = 3 and v = 5
update biblia set nvg = 'Preto na vás príde noc bez videnia / a tma bez veštenia. / Zapadne nad prorokmi slnko / a zatmie sa nad nimi deň.' where spis = 'Mich' and vers = 1 and k = 3 and v = 6
update biblia set nvg = 'Zahanbia sa jasnovidci, / budú sa hanbiť veštci. / Všetci si zakryjú pery, / lebo niet Božej odpovede.' where spis = 'Mich' and vers = 1 and k = 3 and v = 7
update biblia set nvg = 'Ja som však naplnený / silou Pánovho Ducha, / právom i_mocou, / aby som oznámil Jakubovi jeho zločin / a Izraelu jeho hriech.' where spis = 'Mich' and vers = 1 and k = 3 and v = 8
update biblia set nvg = 'Počúvajte toto, kniežatá Jakubovho domu / a sudcovia domu Izraelovho, / vy, ktorým sa prieči právo / a prevraciate všetko, čo je priame,' where spis = 'Mich' and vers = 1 and k = 3 and v = 9
update biblia set nvg = 'ktorí budujete Sion na krvi / a Jeruzalem na neprávosti.' where spis = 'Mich' and vers = 1 and k = 3 and v = 10
update biblia set nvg = 'Jeho kniežatá súdia za dary, / jeho kňazi učia za odmenu / a jeho proroci veštia za peniaze. / Pritom sa spoliehajú na Pána a hovoria: / „Či nie je medzi nami Pán? / Nepríde na nás nešťastie.“' where spis = 'Mich' and vers = 1 and k = 3 and v = 11
update biblia set nvg = 'Preto vašou vinou / rozorú Sion ako pole, / Jeruzalem bude ako hromada kamenia / a chrámový vrch ako zalesnená výšina.' where spis = 'Mich' and vers = 1 and k = 3 and v = 12
go

-- OCR19STRc_CIT1	4, 1-7
update biblia set lh_id = 'OCR19STRc_CIT1' where spis = 'Mich' and vers = 1 and k = 4 and v between 1 and 7
go

update biblia set nvg = '„Stane sa v_ostatných dňoch: / Vrch s_Pánovým domom / bude stáť pevne na temene hôr / a bude vyčnievať nad pahorky. / Budú k_nemu prúdiť ľudia,' where spis = 'Mich' and vers = 1 and k = 4 and v = 1
update biblia set nvg = 'budú sa k_nemu ponáhľať mnohé národy / a povedia: ‚Poďme, / vystúpme na Pánov vrch / a do domu Jakubovho Boha. / On nás poučí o_svojich cestách / a my budeme kráčať po jeho chodníkoch.‘ / Lebo zo Siona vzíde zákon / a z_Jeruzalema Pánovo slovo.' where spis = 'Mich' and vers = 1 and k = 4 and v = 2
update biblia set nvg = 'On bude rozsudzovať početné kmene / a rozhodovať o_mocných národoch naďaleko; / takže ony si zo svojich mečov ukujú radlice / a zo svojich kopijí kosáky. / Národ proti národu nevezme meč / a nebudú sa priúčať boju.' where spis = 'Mich' and vers = 1 and k = 4 and v = 3
update biblia set nvg = 'Každý bude sedieť pod svojím viničom / a pod svojím figovníkom / a nebude toho, kto by ho vystrašil, / lebo prehovorili ústa Pána zástupov.' where spis = 'Mich' and vers = 1 and k = 4 and v = 4
update biblia set nvg = 'Lebo všetky národy budú kráčať, / každý v_mene svojho boha, / ale my budeme kráčať v_mene Pána, nášho Boha, / na večné veky.' where spis = 'Mich' and vers = 1 and k = 4 and v = 5
update biblia set nvg = '‚V_ten deň, hovorí Pán, / zhromaždím kuľhavú, / pozbieram tú, čo som vyhnal / a zle s_ňou zaobchodil.' where spis = 'Mich' and vers = 1 and k = 4 and v = 6
update biblia set nvg = 'Z_kuľhavej urobím zvyšky / a z_tej, ktorá trpela, mocný národ.‘ / A Pán bude nad nimi kraľovať na vrchu Sion / odteraz až naveky.“' where spis = 'Mich' and vers = 1 and k = 4 and v = 7
go

-- OCR19STVc_CIT1	4, 14 – 5, 7
-- PMB_rCIT	Mich 5, 2. 3ab. 4a
-- ADV1STV9_CIT/ADV2229_CIT	Mich 5, 3-4a
-- 1173	Mich 5, 1-4a
-- 1174	Mich 5, 1-4a
update biblia set lh_id = 'OCR19STVc_CIT1' where spis = 'Mich' and vers = 1 and k = 4 and v = 14
update biblia set lh_id = 'OCR19STVc_CIT1' where spis = 'Mich' and vers = 1 and k = 5 and v between 1 and 7
go
update biblia set lc_id = 1173 where spis = 'Mich' and vers = 1 and k = 5 and v between 1 and 4
go

update biblia set nvg = '„Teraz si narob zárezy, dcéra ujarmená! / Obsadili nás. / Palicou bijú / sudcu Izraela po tvári.' where spis = 'Mich' and vers = 1 and k = 4 and v = 14
go
update biblia set nvg = 'Ale ty, Betlehem Efratský, / najmenší medzi judejskými mestami, / z_teba vzíde / zvrchovaný vládca Izraela. / Pôvod jeho je odpradávna, / od večnosti.' where spis = 'Mich' and vers = 1 and k = 5 and v = 1
update biblia set nvg = 'Preto ich vydá / až do času, kým rodička neporodí. / Až potom sa zvyšok jeho bratov / vráti k_synom Izraela.' where spis = 'Mich' and vers = 1 and k = 5 and v = 2
update biblia set nvg = 'On vystúpi a bude ich pastierom silou Pána, / velebou mena Pána, svojho Boha. / A budú žiť v_istote, lebo teraz bude veľký / až po končiny zeme.' where spis = 'Mich' and vers = 1 and k = 5 and v = 3
update biblia set nvg = 'On bude pokoj. // Keď príde Asýr do našej krajiny / a bude šliapať po našich príbytkoch, / postavíme proti nemu sedem pastierov / a osem kniežat z_ľudu.' where spis = 'Mich' and vers = 1 and k = 5 and v = 4
update biblia set nvg = 'Oni budú pásť asýrsku krajinu mečom / a Nimródovu krajinu kopijami. / I_oslobodí nás od Asýra, / keď príde do našej krajiny / a keď bude šliapať po našom území.' where spis = 'Mich' and vers = 1 and k = 5 and v = 5
update biblia set nvg = 'A Jakubov zvyšok bude / uprostred mnohých národov / ako rosa od Pána / a ako dážď na rastlinu, / ktorá nečaká na človeka / a nespolieha sa na synov človeka.' where spis = 'Mich' and vers = 1 and k = 5 and v = 6
update biblia set nvg = 'A Jakubov zvyšok bude medzi národmi, / uprostred mnohých národov, / ako lev medzi lesnými zvieratami / a ako levíča v_stádach oviec; / keď ono prejde, zašliapne a uchváti, / niet toho, kto by vytrhol.“' where spis = 'Mich' and vers = 1 and k = 5 and v = 7
go

-- OCR19PIc_CIT1	6, 1-15
-- _3SO3_CIT	Mich 6, 8
-- 1175	Mich 6, 1-4. 6-8
-- 1176	Mich 6, 6-8
update biblia set lh_id = 'OCR19PIc_CIT1' where spis = 'Mich' and vers = 1 and k = 6 and v between 1 and 15
go
update biblia set lc_id = 1175 where spis = 'Mich' and vers = 1 and k = 6 and v between 1 and 4
update biblia set lc_id = 1175 where spis = 'Mich' and vers = 1 and k = 6 and v between 6 and 8
go

update biblia set nvg = 'Počúvajte, čo hovorí Pán: / „Vstaň, súď sa pred vrchmi, / nech kopce počujú tvoj hlas.“' where spis = 'Mich' and vers = 1 and k = 6 and v = 1
update biblia set nvg = 'Vrchy, počujte Pánov súd, / načúvajte, základy zeme, / lebo Pán má spor so svojím ľudom, / s_Izraelom sa bude pravotiť.' where spis = 'Mich' and vers = 1 and k = 6 and v = 2
update biblia set nvg = '„Ľud môj, čo som ti urobil? / Alebo čím som ti bol na ťarchu? / Odpovedz mi!' where spis = 'Mich' and vers = 1 and k = 6 and v = 3
update biblia set nvg = 'Ja som ťa vyviedol z_egyptskej krajiny, / vyslobodil som ťa z_domu otroctva / a poslal som pred tebou Mojžiša, / Árona a Máriu.' where spis = 'Mich' and vers = 1 and k = 6 and v = 4
update biblia set nvg = 'Ľud môj, len sa rozpamätaj, prosím, / čo zamýšľal moabský kráľ Balak / a čo mu odpovedal Beorov syn Balaam / od Settimu až po Galgalu, / aby si poznal spravodlivé skutky Pánove.“' where spis = 'Mich' and vers = 1 and k = 6 and v = 5
update biblia set nvg = '„Čo hodné obetujem Pánovi, / keď sa pôjdem pokloniť Bohu Najvyššiemu? / Mám prísť pred neho so zápalnými obetami / a s_jednoročnými teliatkami?' where spis = 'Mich' and vers = 1 and k = 6 and v = 6
update biblia set nvg = 'Či bude mať Pán záľubu v_tisícoch baranov, / v_mnohých tisícoch potokov oleja? / Alebo mám dať svojho prvorodeného za svoj zločin, / plod svojho lona za svoj hriech?“' where spis = 'Mich' and vers = 1 and k = 6 and v = 7
update biblia set nvg = 'Človeče, veď ti povedali, čo je dobré / a čo žiada Pán od teba: / konať právo, milovať zľutovanie / a pokorne kráčať s_tvojím Bohom.' where spis = 'Mich' and vers = 1 and k = 6 and v = 8
update biblia set nvg = 'Pán volá na mesto / — a je múdre báť sa tvojho mena —: / „Počujte, kmene a stavy mesta!' where spis = 'Mich' and vers = 1 and k = 6 and v = 9
update biblia set nvg = 'Vari budem trpieť falošný bat / a skúpu prekliatu efu?' where spis = 'Mich' and vers = 1 and k = 6 and v = 10
update biblia set nvg = 'Alebo ospravedlním bezbožné váhy / a mešce s_falošným závažím?' where spis = 'Mich' and vers = 1 and k = 6 and v = 11
update biblia set nvg = 'Lebo jeho boháči sú plní neprávosti, / jeho obyvatelia luhajú / a jazyk v_ich ústach je úskočný.' where spis = 'Mich' and vers = 1 and k = 6 and v = 12
update biblia set nvg = 'Preto som ťa začal biť, / nivočiť za tvoje hriechy.' where spis = 'Mich' and vers = 1 and k = 6 and v = 13
update biblia set nvg = 'Budeš jesť, a nenasýtiš sa / a tvoja špina zostane v_tebe. / Odložíš si, ale nezachrániš, / a čo zachrániš, vydám meču.' where spis = 'Mich' and vers = 1 and k = 6 and v = 14
update biblia set nvg = 'Budeš siať, ale žať nebudeš, / budeš lisovať olivu, ale olejom sa nenatrieš, / aj mušt, ale víno piť nebudeš.“' where spis = 'Mich' and vers = 1 and k = 6 and v = 15
go

-- OCR19SOc_CIT1	7, 7-20
-- 1177	Mich 7, 14-15. 18-20
-- 1178	Mich 7, 14-15. 18-20
-- 1179	Mich 7, 7-9
update biblia set lh_id = 'OCR19SOc_CIT1' where spis = 'Mich' and vers = 1 and k = 7 and v between 7 and 20
go
update biblia set lc_id = 1179 where spis = 'Mich' and vers = 1 and k = 7 and v between 7 and 9
update biblia set lc_id = 1177 where spis = 'Mich' and vers = 1 and k = 7 and v between 14 and 15
update biblia set lc_id = 1177 where spis = 'Mich' and vers = 1 and k = 7 and v between 18 and 20
go

update biblia set nvg = 'Upieram svoj zrak na Pána, / očakávam Boha, svojho záchrancu; / môj Boh ma vyslyší.' where spis = 'Mich' and vers = 1 and k = 7 and v = 7
update biblia set nvg = 'Neteš sa zo mňa, nepriateľka moja; / padol som, ale vstanem. / Keď sedím vo tme, / Pán je mojím svetlom.' where spis = 'Mich' and vers = 1 and k = 7 and v = 8
update biblia set nvg = 'Znášam Pánov hnev, / lebo som zhrešil proti nemu, / kým sa neujme mojej veci / a neprisúdi mi právo; / on ma vyvedie na svetlo, / uvidím jeho spravodlivosť.' where spis = 'Mich' and vers = 1 and k = 7 and v = 9
update biblia set nvg = 'Moja nepriateľka to bude vidieť / a pokryje ju hanba; / tú, čo mi hovorí: / „Kde je Pán, tvoj Boh?“ / Moje oči budú hľadieť na ňu; / teraz ju pošliapu / ako blato na uliciach.' where spis = 'Mich' and vers = 1 and k = 7 and v = 10
update biblia set nvg = 'Príde deň, keď zasa postavia tvoje hradby; / v_ten deň sa rozšíria tvoje hranice.' where spis = 'Mich' and vers = 1 and k = 7 and v = 11
update biblia set nvg = 'V_ten deň prídu až k_tebe / tí, čo bývajú od Asýrska až po Egypt / a od Egypta až po rieku, / od mora až k_moru / a od jedného vrchu až po druhý.' where spis = 'Mich' and vers = 1 and k = 7 and v = 12
update biblia set nvg = 'Ale krajina bude spustošená / pre jej obyvateľov / a pre ovocie ich skutkov.' where spis = 'Mich' and vers = 1 and k = 7 and v = 13
update biblia set nvg = 'Pas svoj ľud svojou berlou, / svoje dedičné stádo, / ktoré osamelé býva na horských stráňach, / uprostred záhrad; / nech spasú Bášan a Galaád / ako v_dňoch pradávnych.' where spis = 'Mich' and vers = 1 and k = 7 and v = 14
update biblia set nvg = 'Ukáž nám zázraky / ako v_dňoch, keď si vychádzal z_egyptskej krajiny.' where spis = 'Mich' and vers = 1 and k = 7 and v = 15
update biblia set nvg = 'Uvidia to národy a zahanbia sa / napriek všetkej svojej sile. / Položia si ruku na ústa / a ich uši budú hluché.' where spis = 'Mich' and vers = 1 and k = 7 and v = 16
update biblia set nvg = 'Prach budú lízať ako had, / ako zemské plazy. / S_chvením vyjdú zo svojich obydlí / — k_Pánovi, nášmu Bohu —, / budú zdesení a budú sa ťa báť.' where spis = 'Mich' and vers = 1 and k = 7 and v = 17
update biblia set nvg = 'Kto je Boh ako ty, / ktorý odpúšťaš zločiny / a prechádzaš ponad hriech / zvyškov svojho dedičstva? / Neprechováva svoj hnev naveky, / lebo sa rád zľutúva.' where spis = 'Mich' and vers = 1 and k = 7 and v = 18
update biblia set nvg = 'Vráti sa a zmiluje sa nad nami, / rozšliape naše neprávosti / a do morských hlbín zahodí / všetky naše hriechy.' where spis = 'Mich' and vers = 1 and k = 7 and v = 19
update biblia set nvg = 'Jakubovi preukážeš vernosť, / Abrahámovi milosrdenstvo, / ako si prisahal našim otcom / od pradávnych dní.' where spis = 'Mich' and vers = 1 and k = 7 and v = 20
go

