-- ADV11NEc_CIT1	1, 1-18
-- 623	Iz 1, 10. 16-20
-- 624	Iz 1, 10ab. 11-17
update biblia set lh_id = 'ADV11NEc_CIT1' where spis = 'Iz' and vers = 1 and k = 1 and v between 1 and 18
go
update biblia set lc_id = 623 where spis = 'Iz' and vers = 1 and k = 1 and v = 10
update biblia set lc_id = 624 where spis = 'Iz' and vers = 1 and k = 1 and v between 11 and 17
update biblia set lc_id = 623 where spis = 'Iz' and vers = 1 and k = 1 and v between 18 and 20
go

update biblia set nvg = 'Videnie Izaiáša, Amosovho syna, ktoré mal o_Judei a Jeruzaleme za dní judejských kráľov Oziáša, Joatama, Achaza a Ezechiáša.' where spis = 'Iz' and vers = 1 and k = 1 and v = 1
update biblia set nvg = 'Počujte, nebesia, načúvaj, zem, / lebo Pán hovorí: / „Synov som si vychoval a vyvýšil, / ale oni mnou pohrdli.' where spis = 'Iz' and vers = 1 and k = 1 and v = 2
update biblia set nvg = 'Vôl pozná svojho gazdu / a osol jasle svojho pána, / ale Izrael nepozná, / môj ľud nechápe.“' where spis = 'Iz' and vers = 1 and k = 1 and v = 3
update biblia set nvg = 'Beda hriešnemu národu, / ľudu obťaženému neprávosťou, / skazenému plemenu, synom zločinným! / Opustili Pána, / potupili Svätého Izraela, / obrátili sa mu chrbtom.' where spis = 'Iz' and vers = 1 and k = 1 and v = 4
update biblia set nvg = 'Kde vás ešte udrieť,  / keď ste stále horší? / Hlava je už celá boľavá  / a srdce celkom zomdlené.' where spis = 'Iz' and vers = 1 and k = 1 and v = 5
update biblia set nvg = 'Od šľapy po temä / nič na ňom zdravé; / samá jazva, modrina a rana, / opuchnutá, neobviazaná, / neošetrená, olejom nezmäkčená.' where spis = 'Iz' and vers = 1 and k = 1 and v = 6
update biblia set nvg = 'Vaša zem je spustnutá, / vaše mestá vypálené ohňom. / Vaše polia vám pred očami vyžierajú cudzinci; / budú spustošené ako po nepriateľskom plene.' where spis = 'Iz' and vers = 1 and k = 1 and v = 7
update biblia set nvg = 'A dcéra Siona ostane sama / ako búdka vo vinici, / sťa kolibka na uhorkovisku, / ako obliehané mesto.' where spis = 'Iz' and vers = 1 and k = 1 and v = 8
update biblia set nvg = 'Keby nám Pán zástupov nebol ponechal zvyšok, / boli by sme ako Sodoma, / Gomore by sme boli podobní.' where spis = 'Iz' and vers = 1 and k = 1 and v = 9
update biblia set nvg = 'Čujte Pánovo slovo, / kniežatá sodomské, / počúvaj zákon nášho Boha, / ľud gomorský!' where spis = 'Iz' and vers = 1 and k = 1 and v = 10
update biblia set nvg = '„Načo mi množstvo vašich obetí? / hovorí Pán. / Som nasýtený celopalmi baranov / a tukom kŕmneho dobytka; / ani krv teliec, / baránkov a capov nemám v_obľube.' where spis = 'Iz' and vers = 1 and k = 1 and v = 11
update biblia set nvg = 'Keď prichádzate pred moju tvár, / kto od vás žiada, / aby ste šliapali moje nádvoria?' where spis = 'Iz' and vers = 1 and k = 1 and v = 12
update biblia set nvg = 'Neprinášajte už zbytočné obety, / odporné je mi kadidlo / i_novmesiac, sobota a zhromaždenia; / neznášam zločin so slávnosťou.' where spis = 'Iz' and vers = 1 and k = 1 and v = 13
update biblia set nvg = 'Spriečili sa mi vaše novmesiace a vaše sviatky; / sú mi na ťarchu, zunoval som ich.' where spis = 'Iz' and vers = 1 and k = 1 and v = 14
update biblia set nvg = 'Keď budete vystierať svoje ruky, / odvrátim oči od vás. / Aj keď budete hromadiť modlitby, / ja ich nevyslyším, / pretože vaše ruky sú plné krvi.' where spis = 'Iz' and vers = 1 and k = 1 and v = 15
update biblia set nvg = 'Obmyte sa, očistite sa, / odstráňte mi spred očí zlobu svojho zmýšľania; / prestaňte robiť zlo,' where spis = 'Iz' and vers = 1 and k = 1 and v = 16
update biblia set nvg = 'učte sa robiť dobro, / hľadajte spravodlivosť, pomôžte utláčanému, / vymôžte právo sirote, obhajujte vdovu.' where spis = 'Iz' and vers = 1 and k = 1 and v = 17
update biblia set nvg = 'A príďte, budeme sa pravotiť, / hovorí Pán. / Keby boli vaše hriechy ako šarlát, / zbelejú ako sneh, / a keby boli červené sťa purpur, / budú ako vlna.' where spis = 'Iz' and vers = 1 and k = 1 and v = 18
update biblia set nvg = 'Ak budete poddajní a počúvnete, / dobro zeme budete požívať. ' where spis = 'Iz' and vers = 1 and k = 1 and v = 19
update biblia set nvg = 'Ale ak sa vzpriečite a rozhneváte ma, mečom zahyniete, lebo prehovorili Pánove ústa.“' where spis = 'Iz' and vers = 1 and k = 1 and v = 20
go

-- ADV11POc_CIT1	1, 21-27; 2, 1-5
-- 630	Iz 2, 1-5
update biblia set lh_id = 'ADV11POc_CIT1' where spis = 'Iz' and vers = 1 and k = 1 and v between 21 and 27
update biblia set lh_id = 'ADV11POc_CIT1' where spis = 'Iz' and vers = 1 and k = 2 and v between 1 and 5
go
update biblia set lc_id = 630 where spis = 'Iz' and vers = 1 and k = 2 and v between 1 and 5
go

update biblia set nvg = 'Ako sa mohlo stať neviestkou / verné mesto, také rozumné? / Bývala v_ňom spravodlivosť, / a teraz vrahovia.' where spis = 'Iz' and vers = 1 and k = 1 and v = 21
update biblia set nvg = 'Tvoje striebro sa obrátilo na trosku, / v_tvojom víne je namiešaná voda;' where spis = 'Iz' and vers = 1 and k = 1 and v = 22
update biblia set nvg = 'tvoje kniežatá sú vierolomné, spoločníci zlodejov: / všetci majú radi úplatky a pachtia po daroch; / sirote nepomôžu k_právu a žaloba vdovy k_nim nedôjde.' where spis = 'Iz' and vers = 1 and k = 1 and v = 23
update biblia set nvg = 'Preto hovorí Pán, Boh zástupov,  / Mocný Izraela: / „Oj, vyvŕšim sa na svojich protivníkoch, / vypomstím sa na svojich nepriateľoch.' where spis = 'Iz' and vers = 1 and k = 1 and v = 24
update biblia set nvg = 'Obrátim k_tebe svoju ruku, / dočista spálim tvoju trosku, / odstránim všetko tvoje olovo.' where spis = 'Iz' and vers = 1 and k = 1 and v = 25
update biblia set nvg = 'Znovu ti dám sudcov, takých, ako boli predtým, / a radcov ako za dávnych čias. / Potom sa budeš volať ‚Mesto spravodlivosti‘, ‚Verné mesto‘. ' where spis = 'Iz' and vers = 1 and k = 1 and v = 26
update biblia set nvg = 'Sion bude vykúpený súdom / a tí, čo sa v_ňom obrátia, spravodlivosťou.“' where spis = 'Iz' and vers = 1 and k = 1 and v = 27
go
update biblia set nvg = 'Videnie Izaiáša, syna Amosovho, o_Judei a Jeruzaleme.' where spis = 'Iz' and vers = 1 and k = 2 and v = 1
update biblia set nvg = 'Stane sa v_ostatných dňoch: / Vrch s_Pánovým domom bude stáť pevne na temene hôr / a bude vyčnievať nad pahorky. // Budú k_nemu prúdiť všetky národy,' where spis = 'Iz' and vers = 1 and k = 2 and v = 2
update biblia set nvg = 'prídu k_nemu mnohé kmene a povedia: / „Poďme, vystúpme na Pánov vrch, / do domu Jakubovho Boha! // Nech nás poučí o_svojich cestách  / a my budeme kráčať po jeho chodníkoch.“ / Lebo zo Siona vzíde zákon / a z_Jeruzalema Pánovo slovo.' where spis = 'Iz' and vers = 1 and k = 2 and v = 3
update biblia set nvg = 'On bude súdiť národy / a naprávať početné kmene, / takže ony si zo svojich mečov ukujú radlice / a zo svojich kopijí kosáky. // Národ proti národu nezodvihne meč / a nebudú sa priúčať boju.' where spis = 'Iz' and vers = 1 and k = 2 and v = 4
update biblia set nvg = 'Hor’ sa, dom Jakubov, / kráčajme vo svetle Pánovom!' where spis = 'Iz' and vers = 1 and k = 2 and v = 5
go

-- ADV11UTc_CIT1	2, 6-22; 4, 2-6
-- 643	Iz 4, 2-6
update biblia set lh_id = 'ADV11UTc_CIT1' where spis = 'Iz' and vers = 1 and k = 2 and v between 6 and 22
update biblia set lh_id = 'ADV11UTc_CIT1' where spis = 'Iz' and vers = 1 and k = 4 and v between 2 and 6
go
update biblia set lc_id = 643 where spis = 'Iz' and vers = 1 and k = 4 and v between 2 and 6
go

update biblia set nvg = 'Pane, zavrhol si svoj ľud, dom Jakuba, / lebo je plný východných veštcov, / vykladačov majú ako Filištínci / a ruky podávajú cudzincom.' where spis = 'Iz' and vers = 1 and k = 2 and v = 6
update biblia set nvg = 'Jeho krajina je plná striebra a zlata / a bez konca sú jeho poklady;' where spis = 'Iz' and vers = 1 and k = 2 and v = 7
update biblia set nvg = 'jeho krajina je plná koní, / nieto počtu jeho záprahov: / jeho krajina je plná modiel,  / klaňajú sa dielu svojich rúk, / ktoré zhotovili ich prsty.' where spis = 'Iz' and vers = 1 and k = 2 and v = 8
update biblia set nvg = 'Skláňa sa človek, / hrbí sa muž; / neodpusť im.' where spis = 'Iz' and vers = 1 and k = 2 and v = 9
update biblia set nvg = 'Vojdi do skaly, schovaj sa do prachu, / od hrôzy pred Pánom, pred slávou jeho veleby.' where spis = 'Iz' and vers = 1 and k = 2 and v = 10
update biblia set nvg = 'Sklopia sa pyšné oči človeka / a hrdosť mužov sa pokorí; / lebo Pán bude vyvýšený v_onen deň.' where spis = 'Iz' and vers = 1 and k = 2 and v = 11
update biblia set nvg = 'Lebo deň Pána zástupov / príde na všetko, čo je pyšné a povýšené, / na všetko, čo je spupné, a bude to pokorené:' where spis = 'Iz' and vers = 1 and k = 2 and v = 12
update biblia set nvg = 'na všetky cédre Libanonu, vysoko vytýčené, / i_na všetky duby Bášanu,' where spis = 'Iz' and vers = 1 and k = 2 and v = 13
update biblia set nvg = 'na všetky vrchy vysoké / a všetky kopce vyvýšené,' where spis = 'Iz' and vers = 1 and k = 2 and v = 14
update biblia set nvg = 'na každú vežu, čo čnie do výšky, / a na každý múr opevnený,' where spis = 'Iz' and vers = 1 and k = 2 and v = 15
update biblia set nvg = 'na všetky lode Taršiša / a na všetky skvostné plavidlá.' where spis = 'Iz' and vers = 1 and k = 2 and v = 16
update biblia set nvg = 'Pokorená bude pýcha človeka / a hrdosť mužov uponížená; / lebo Pán bude vyvýšený v_onen deň' where spis = 'Iz' and vers = 1 and k = 2 and v = 17
update biblia set nvg = 'a modly budú celkom zničené. ' where spis = 'Iz' and vers = 1 and k = 2 and v = 18
update biblia set nvg = 'Ľudia vojdú do skalných jaskýň / a zemských prepadlísk / zo strachu pred Pánom, pred slávou jeho veleby, / keď vstane zatriasť zem.' where spis = 'Iz' and vers = 1 and k = 2 and v = 19
update biblia set nvg = 'V_ten deň človek hodí krtom a netopierom svoje strieborné modly a zlaté podoby, ktoré si urobil, aby sa im klaňal. ' where spis = 'Iz' and vers = 1 and k = 2 and v = 20
update biblia set nvg = 'Vojde do skalných trhlín a do roklín na bralách zo strachu pred Pánom, pred slávou jeho veleby, keď vstane zatriasť zem.' where spis = 'Iz' and vers = 1 and k = 2 and v = 21
update biblia set nvg = 'Dajte si pokoj s_človekom, ktorý je len dych; alebo za čo ho možno pokladať?' where spis = 'Iz' and vers = 1 and k = 2 and v = 22
go
update biblia set nvg = 'V_ten deň bude Pánov výhonok ozdobou a slávou / a plod zeme pýchou a chválou všetkých, / ktorí sa zachránia z_Izraela.' where spis = 'Iz' and vers = 1 and k = 4 and v = 2
update biblia set nvg = 'Svätým sa bude nazývať každý, kto zostane na Sione / a kto prežije v_Jeruzaleme, / každý, kto bude zapísaný v_Jeruzaleme pre život.' where spis = 'Iz' and vers = 1 and k = 4 and v = 3
update biblia set nvg = 'Až Pán zmyje špinu sionských dcér, / až celkom spláchne krv z_Jeruzalema / dychom súdu a dychom páľavy,' where spis = 'Iz' and vers = 1 and k = 4 and v = 4
update biblia set nvg = 'vtedy utvorí nad každým miestom vrchu Sion  / a nad tými, čo sa tam zhromaždia, / oblak vo dne / a dym i_žiaru blčiaceho ohňa v_noci. / Pánova veleba bude nad všetkým ako ochrana;' where spis = 'Iz' and vers = 1 and k = 4 and v = 5
update biblia set nvg = 'a stánok bude tieňom pred horúčavou dňa / a bezpečným útočišťom  / pred víchricou a dažďom.' where spis = 'Iz' and vers = 1 and k = 4 and v = 6
go

-- OCR20POc_CIT1	3, 1-15
update biblia set lh_id = 'OCR20POc_CIT1' where spis = 'Iz' and vers = 1 and k = 3 and v between 1 and 15
go

update biblia set nvg = 'Hľa, Panovník, Pán zástupov,  / berie Jeruzalemu a Júdovi oporu a ochranu, / všetku oporu chleba a všetku oporu vody,' where spis = 'Iz' and vers = 1 and k = 3 and v = 1
update biblia set nvg = 'hrdinu i_bojovníka, / sudcu, proroka, veštca i_starca,' where spis = 'Iz' and vers = 1 and k = 3 and v = 2
update biblia set nvg = 'veliteľa nad päťdesiatimi i_hodnostára, / radcu, mudrca  / i_skúseného zaklínača.' where spis = 'Iz' and vers = 1 and k = 3 and v = 3
update biblia set nvg = 'A chlapcov im dám za kniežatá, / výrastkovia budú vládnuť nad nimi.' where spis = 'Iz' and vers = 1 and k = 3 and v = 4
update biblia set nvg = 'A ľud sa vzbúri, muž proti mužovi, / každý proti svojmu blížnemu: / chlapec sa drzo osopí na starca / a niktoš na šľachtica.' where spis = 'Iz' and vers = 1 and k = 3 and v = 5
update biblia set nvg = 'Muž chytí svojho brata / v_dome svojho otca: / „Máš odev, / buď naším kniežaťom,  / tieto rozvaliny budeš mať pod rukou.“' where spis = 'Iz' and vers = 1 and k = 3 and v = 6
update biblia set nvg = 'On zvolá v_ten deň: / „Nie som lekár / a v_mojom dome niet chleba ani odevu; / neustanovujte ma za knieža ľudu.“' where spis = 'Iz' and vers = 1 and k = 3 and v = 7
update biblia set nvg = 'Jeruzalem padá, Júda sa rúti, / lebo ich jazyk a ich činy sú proti Pánovi / a dráždia oči jeho velebnosti.' where spis = 'Iz' and vers = 1 and k = 3 and v = 8
update biblia set nvg = 'Výraz ich tváre svedčí proti nim; / rozhlasujú svoj hriech ako Sodoma, nijako ho netaja. / Beda im, / lebo sa im zlo vrátilo.' where spis = 'Iz' and vers = 1 and k = 3 and v = 9
update biblia set nvg = 'Povedzte spravodlivému: „Dobre,“ / lebo bude jesť ovocie svojich činov.' where spis = 'Iz' and vers = 1 and k = 3 and v = 10
update biblia set nvg = 'Beda, zle bude bezbožnému, / dostane odplatu podľa skutkov svojich rúk.' where spis = 'Iz' and vers = 1 and k = 3 and v = 11
update biblia set nvg = 'Dieťa utláča môj ľud / a ženy nad ním panujú. / Ľud môj, tí, čo ti lichotia, ťa klamú, / a mätú cestu, po ktorej kráčaš.' where spis = 'Iz' and vers = 1 and k = 3 and v = 12
update biblia set nvg = 'Pán vstáva, aby žaloval, / stojí, aby súdil národy.' where spis = 'Iz' and vers = 1 and k = 3 and v = 13
update biblia set nvg = 'Pán sa príde súdiť / so staršími svojho ľudu a s_jeho kniežatami: / „Vy ste spásali vinicu / a čo ste ulúpili chudákom, máte vo svojich domoch.' where spis = 'Iz' and vers = 1 and k = 3 and v = 14
update biblia set nvg = 'Prečo dlávite môj ľud / a mliaždite tvár bedárov?“, / hovorí Pán, Boh zástupov.' where spis = 'Iz' and vers = 1 and k = 3 and v = 15
go

-- ADV11STRc_CIT1	5, 1-7
-- 661	Iz 5, 1-7
update biblia set lh_id = 'ADV11STRc_CIT1' where spis = 'Iz' and vers = 1 and k = 5 and v between 1 and 7
go
update biblia set lc_id = 661 where spis = 'Iz' and vers = 1 and k = 5 and v between 1 and 7
go

update biblia set nvg = 'Zaspievam môjmu miláčkovi / pieseň svojho priateľa o_jeho vinici: // Vinicu mal môj miláčik  / na úrodnom úbočí.' where spis = 'Iz' and vers = 1 and k = 5 and v = 1
update biblia set nvg = 'Ohradil ju, / skaly z_nej vybral, / viničom ju ušľachtilým vysadil. / uprostred nej zrobil vežu / a lisom ju vystrojil. / Potom čakal, že urodí hrozno, / ale ona iba plánky rodila.' where spis = 'Iz' and vers = 1 and k = 5 and v = 2
update biblia set nvg = 'A teraz, obyvateľ Jeruzalema / a muž Judey, / súďte medzi mnou a mojou vinicou!' where spis = 'Iz' and vers = 1 and k = 5 and v = 3
update biblia set nvg = 'Čo som mal ešte urobiť svojej vinici / a neurobil som? / A keď som čakal, že urodí hrozno, / prečo urodila plánky?' where spis = 'Iz' and vers = 1 and k = 5 and v = 4
update biblia set nvg = 'Teraz vám ukážem, / čo urobím svojej vinici: / Pováľam jej plot  / a bude napospas, / zrúcam jej ohradu / a budú po nej šliapať.' where spis = 'Iz' and vers = 1 and k = 5 and v = 5
update biblia set nvg = 'Obrátim ju na púšť. / Nebudú ju rezať ani okopávať, / vyrastie na nej tŕnie a bodliaky. / A oblakom prikážem, aby ju neskropili dažďom.' where spis = 'Iz' and vers = 1 and k = 5 and v = 6
update biblia set nvg = 'Vinicou Pána zástupov je dom Izraela, / mužovia Judey – jeho rozkošný sad. / On čakal na právo – a hľa, bezprávie, / čakal na spravodlivosť – a hľa, kvílenie.' where spis = 'Iz' and vers = 1 and k = 5 and v = 7
go

-- OCR20NEc_CIT1	6, 1-13
-- 683	Iz 6, 1-2a. 3-8
-- 684	Iz 6, 1-8
-- 685	Iz 6, 1-8
update biblia set lh_id = 'OCR20NEc_CIT1' where spis = 'Iz' and vers = 1 and k = 6 and v between 1 and 13
go
update biblia set lc_id = 684 where spis = 'Iz' and vers = 1 and k = 6 and v between 1 and 8
go

update biblia set nvg = 'V_tom roku, keď zomrel kráľ Oziáš, videl som Pána sedieť na vysokom a vznešenom tróne; lem jeho rúcha napĺňal svätyňu. ' where spis = 'Iz' and vers = 1 and k = 6 and v = 1
update biblia set nvg = 'Vedľa neho stáli serafíni; aj jeden mal šesť krídel, aj druhý mal šesť krídel: dvoma si zakrýval tvár, dvoma si zakrýval nohy a dvoma lietal. ' where spis = 'Iz' and vers = 1 and k = 6 and v = 2
update biblia set nvg = 'A jeden druhému volal: // „Svätý, svätý, svätý je Pán zástupov, / celá zem je plná jeho slávy.“' where spis = 'Iz' and vers = 1 and k = 6 and v = 3
update biblia set nvg = 'Prahy dverí sa chveli od hlasu volajúceho a dom sa naplnil dymom.' where spis = 'Iz' and vers = 1 and k = 6 and v = 4
update biblia set nvg = 'Tu som zvolal: // „Beda mi, som stratený! / Veď ja som muž s_nečistými perami / a bývam medzi ľudom s_nečistými perami / a na vlastné oči som videl kráľa, Pána zástupov.“' where spis = 'Iz' and vers = 1 and k = 6 and v = 5
update biblia set nvg = 'I priletel ku mne jeden zo serafínov, v_ruke mal žeravý uhlík, ktorý kliešťami vzal z_oltára, ' where spis = 'Iz' and vers = 1 and k = 6 and v = 6
update biblia set nvg = 'dotkol sa mojich úst a povedal: // „Hľa, toto sa dotklo tvojich perí; / zmizla tvoja vina / a tvoj hriech je zmytý.“' where spis = 'Iz' and vers = 1 and k = 6 and v = 7
update biblia set nvg = 'Potom som počul Pánov hlas. Hovoril: „Koho mám poslať, kto nám pôjde?“ I_povedal som: „Hľa, tu som, mňa pošli.“ ' where spis = 'Iz' and vers = 1 and k = 6 and v = 8
update biblia set nvg = 'On vravel: „Choď a povedz tomuto ľudu: // Počúvajte, počúvajte, ale nechápte, / hľaďte, hľaďte, ale nepoznajte.' where spis = 'Iz' and vers = 1 and k = 6 and v = 9
update biblia set nvg = 'Obaľ tukom srdce tohto ľudu, / otup jeho uši / a zastri mu oči, / aby svojimi očami nevidel / a svojimi ušami nepočul, / aby svojím srdcom nechápal a neobrátil sa / – aby sa neuzdravil.“' where spis = 'Iz' and vers = 1 and k = 6 and v = 10
update biblia set nvg = 'I vravel som: „Dokedy, Pane?“ On povedal: // „Pokiaľ nespustnú / mestá bez obyvateľov / a domy bez ľudí / a zem nezostane pustá.“' where spis = 'Iz' and vers = 1 and k = 6 and v = 11
update biblia set nvg = 'Pán odvedie ľudí ďaleko / a veľká bude opustenosť v_krajine.' where spis = 'Iz' and vers = 1 and k = 6 and v = 12
update biblia set nvg = 'Zostane v_nej ešte desatina, / ale znova bude vydaná na zničenie / ako terebinta a ako dub, / z_ktorých po zoťatí zostane dačo pevné. / Čo v_nej zostane, bude svätým semenom.' where spis = 'Iz' and vers = 1 and k = 6 and v = 13
go

-- OCR20UTc_CIT1	7, 1-17
-- SCPM_OCR_cCIT1	7, 10-14; 8, 10c; 11, 1-9
-- 698	Iz 7, 1-9
-- 699	Iz 7, 10-14
-- 700	Iz 7, 10-14
-- 701	Iz 7, 10-14; 8, 10c
update biblia set lh_id = 'OCR20UTc_CIT1' where spis = 'Iz' and vers = 1 and k = 7 and v between 1 and 17
update biblia set lh_id = 'SCPM_OCR_cCIT1' where spis = 'Iz' and vers = 1 and k = 8 and v = 10
go
update biblia set lc_id = 698 where spis = 'Iz' and vers = 1 and k = 7 and v between 1 and 9
update biblia set lc_id = 701 where spis = 'Iz' and vers = 1 and k = 7 and v between 10 and 14
update biblia set lc_id = 701 where spis = 'Iz' and vers = 1 and k = 8 and v = 10
go

update biblia set nvg = 'Keď bol judejským kráľom Achaz, syn Joatama, syna Oziáša, vytiahol sýrsky kráľ Rasin a izraelský kráľ Pekach, syn Romeliáša, do boja proti Jeruzalemu; no nemohli ho dobyť. ' where spis = 'Iz' and vers = 1 and k = 7 and v = 1
update biblia set nvg = 'Keď Dávidovmu domu zvestovali: „Sýria táborí v_Efraime,“ chvelo sa jeho srdce a srdce jeho ľudu tak, ako sa chvejú stromy v_lese pod náporom vetra. ' where spis = 'Iz' and vers = 1 and k = 7 and v = 2
update biblia set nvg = 'Pán povedal Izaiášovi: „Choď naproti Achazovi ty a tvoj syn Šeárjášúb k_hornému rybníku na koniec vodovodu na cestu pri bielovisku ' where spis = 'Iz' and vers = 1 and k = 7 and v = 3
update biblia set nvg = 'a povedz mu: Daj si pozor a buď pokojný; neboj sa, nech sa ti srdce nedesí týchto dvoch dymiacich obhorených polien: zúrivého hnevu Rasina zo Sýrie a Romeliášovho syna; ' where spis = 'Iz' and vers = 1 and k = 7 and v = 4
update biblia set nvg = 'toho, že sa Sýria, Efraim a Romeliášov syn sprisahali proti tebe a povedali si: ' where spis = 'Iz' and vers = 1 and k = 7 and v = 5
update biblia set nvg = '‚Vytiahnime do Judey a zastrašme ju; pripojme ju k_sebe a ustanovme tam za kráľa Tábelovho syna.‘“' where spis = 'Iz' and vers = 1 and k = 7 and v = 6
update biblia set nvg = 'Toto hovorí Pán, Boh: // „Nestane sa, nebude to tak;' where spis = 'Iz' and vers = 1 and k = 7 and v = 7
update biblia set nvg = 'lebo hlavou Sýrie je Damask / a hlavou Damasku Rasin. / Ešte šesťdesiat a päť rokov  / a Efraim prestane byť národom.' where spis = 'Iz' and vers = 1 and k = 7 and v = 8
update biblia set nvg = 'A hlavou Efraimu je Samária / a hlavou Samárie Romeliášov syn. / Ak neuveríte, neobstojíte.“' where spis = 'Iz' and vers = 1 and k = 7 and v = 9
update biblia set nvg = 'Pán prehovoril k_Achazovi: ' where spis = 'Iz' and vers = 1 and k = 7 and v = 10
update biblia set nvg = '„Žiadaj znamenie od Pána, svojho Boha. Žiadaj ho, či v_hĺbkach podsvetia, alebo hore na výsostiach.“ ' where spis = 'Iz' and vers = 1 and k = 7 and v = 11
update biblia set nvg = 'Achaz však povedal: „Nebudem žiadať, nebudem pokúšať Pána.“ ' where spis = 'Iz' and vers = 1 and k = 7 and v = 12
update biblia set nvg = 'A Izaiáš riekol: „Počúvajte teda, Dávidov dom. Nestačí, že obťažujete ľudí, ešte aj môjho Boha obťažujete? ' where spis = 'Iz' and vers = 1 and k = 7 and v = 13
update biblia set nvg = 'A preto vám Pán sám dá znamenie: Hľa, panna počne a porodí syna a dá mu meno Emanuel; ' where spis = 'Iz' and vers = 1 and k = 7 and v = 14
update biblia set nvg = 'maslo a med bude jesť, aby vedel zavrhovať zlo a voliť si dobro. ' where spis = 'Iz' and vers = 1 and k = 7 and v = 15
update biblia set nvg = 'Lebo skôr, ako bude chlapec vedieť zavrhovať zlo a voliť si dobro, bude spustošená krajina, ktorej dvoch kráľov sa hrozíš. ' where spis = 'Iz' and vers = 1 and k = 7 and v = 16
update biblia set nvg = 'Pán privedie na teba, na tvoj ľud a na dom tvojho otca dni, aké neprišli odo dní, keď sa Efraim odlúčil od Júdu, privedie asýrskeho kráľa.“' where spis = 'Iz' and vers = 1 and k = 7 and v = 17
go
update biblia set nvg = '[...] lebo s nami je Boh.' where spis = 'Iz' and vers = 1 and k = 8 and v = 10
go

-- 702	Iz 8, 23b - 9, 3
-- 703	Iz 9, 1-3. 5-6
-- 704	Iz 9, 1-3. 5-6
update biblia set lc_id = 702 where spis = 'Iz' and vers = 1 and k = 8 and v = 23
update biblia set lc_id = 702 where spis = 'Iz' and vers = 1 and k = 9 and v between 1 and 3
update biblia set lc_id = 703 where spis = 'Iz' and vers = 1 and k = 9 and v between 5 and 6
go

update biblia set nvg = 'V predošlom čase Pán ponížil krajinu Zabulon a krajinu Neftali, ale v poslednom čase oslávi morskú cestu, kraj za Jordánom, územie pohanov.' where spis = 'Iz' and vers = 1 and k = 8 and v = 23
go
update biblia set nvg = 'Ľud, čo kráča vo tmách, uzrie veľké svetlo; nad tými, čo bývajú v krajine temnôt, zažiari svetlo.' where spis = 'Iz' and vers = 1 and k = 9 and v = 1
update biblia set nvg = 'Rozmnožuješ plesanie, zväčšuješ radosť. Jasajú pred tebou, ako sa jasá pri žatve, ako plesajú tí, čo sa delia o korisť. ' where spis = 'Iz' and vers = 1 and k = 9 and v = 2
update biblia set nvg = 'Pretože lámeš jeho ťažké jarmo, brvno na jeho pleciach a palicu jeho utláčateľa ako v deň porážky Madiánčanov.' where spis = 'Iz' and vers = 1 and k = 9 and v = 3
update biblia set nvg = 'Lebo chlapček sa nám narodil, daný nám je syn; na jeho pleciach spočíva vláda a volajú ho: obdivuhodný Radca, mocný Boh, večný Otec, Knieža pokoja.' where spis = 'Iz' and vers = 1 and k = 9 and v = 5
update biblia set nvg = 'Jeho moc vzrastie a pokoj nebude mať konca na Dávidovom tróne a v jeho kráľovstve. On ho upevní a posilní právom a spravodlivosťou odteraz až naveky. To všetko vykoná horlivosť Pána zástupov.' where spis = 'Iz' and vers = 1 and k = 9 and v = 6
go

-- OCR20STRc_CIT1	9, 7 – 10, 4
update biblia set lh_id = 'OCR20STRc_CIT1' where spis = 'Iz' and vers = 1 and k = 9 and v between 7 and 20
update biblia set lh_id = 'OCR20STRc_CIT1' where spis = 'Iz' and vers = 1 and k = 10 and v between 1 and 4
go

update biblia set nvg = 'Pán poslal slovo Jakubovi a padlo na Izrael.' where spis = 'Iz' and vers = 1 and k = 9 and v = 7
update biblia set nvg = 'A zvie o_tom všetok ľud Efraima a obyvatelia Samárie, / ktorí hovoria v_pýche a namyslenosti srdca:' where spis = 'Iz' and vers = 1 and k = 9 and v = 8
update biblia set nvg = '„Tehly popadali, budeme stavať z_kamenných kvádrov; / plané figovníky vyťali, nahradíme ich cédrami.“' where spis = 'Iz' and vers = 1 and k = 9 and v = 9
update biblia set nvg = 'Tu Pán zdvihol nad neho nepriateľov  / a popudil jeho protivníkov,' where spis = 'Iz' and vers = 1 and k = 9 and v = 10
update biblia set nvg = 'Sýriu od východu a Filištíncov od západu, / a oni požierali Izrael na plné ústa. / Pri tomto všetkom sa jeho hnev neodvrátil / a jeho ruka je ešte vystretá.' where spis = 'Iz' and vers = 1 and k = 9 and v = 11
update biblia set nvg = 'No ľud sa neobrátil k_tomu, ktorý ho bil,  / a nehľadali Pána zástupov.' where spis = 'Iz' and vers = 1 and k = 9 and v = 12
update biblia set nvg = 'Pán odťal Izraelu hlavu aj chvost, / palmu i_trstinu v_jeden deň:' where spis = 'Iz' and vers = 1 and k = 9 and v = 13
update biblia set nvg = 'starší a hodnostár je hlava / a prorok, čo učí lož, je chvost.' where spis = 'Iz' and vers = 1 and k = 9 and v = 14
update biblia set nvg = 'Lebo vodcovia tohto ľudu zvádzajú  / a tí, ktorých vedú, zahynú.' where spis = 'Iz' and vers = 1 and k = 9 and v = 15
update biblia set nvg = 'Preto sa Pán nebude tešiť z_jeho mladíkov  / a nezľutuje sa nad jeho sirotami a vdovami, / lebo všetci sú bezbožní a zlí / a ústa všetkých hovoria bláznivo. / Pri tomto všetkom sa jeho hnev neodvrátil / a jeho ruka je ešte vystretá.' where spis = 'Iz' and vers = 1 and k = 9 and v = 16
update biblia set nvg = 'Bezbožnosť vzbĺkla ako oheň, / stravuje bodľačie a tŕnie, / zapaľuje lesnú húštinu / a valia sa stĺpy dymu.' where spis = 'Iz' and vers = 1 and k = 9 and v = 17
update biblia set nvg = 'Hnev Pána zástupov spaľuje zem / a ľud je ako pokrm ohňa: / nik neušetrí ani svojho brata.' where spis = 'Iz' and vers = 1 and k = 9 and v = 18
update biblia set nvg = 'Hlce napravo, a je hladný, / žerie naľavo, a nenasycuje sa. / Každý hltá mäso svojho blížneho:' where spis = 'Iz' and vers = 1 and k = 9 and v = 19
update biblia set nvg = 'Manasses Efraima a Efraim Manassesa / a oni spolu proti Júdovi. / Pri tomto všetkom sa jeho hnev neodvrátil / a jeho ruka je ešte vystretá.' where spis = 'Iz' and vers = 1 and k = 9 and v = 20
go
update biblia set nvg = 'Beda tým, čo vydávajú zlé zákony, / a pisárom, čo píšu nespravodlivo,' where spis = 'Iz' and vers = 1 and k = 10 and v = 1
update biblia set nvg = 'aby utláčali na súde chudobných / a páchali násilie na práve ponížených môjho ľudu; / aby sa vdovy stali ich korisťou  / a aby olupovali siroty.' where spis = 'Iz' and vers = 1 and k = 10 and v = 2
update biblia set nvg = 'Čo urobíte v_deň navštívenia, / až sa zdiaľky priblíži pohroma? / Ku komu sa budete utiekať o_pomoc / a kde zanecháte svoju slávu?' where spis = 'Iz' and vers = 1 and k = 10 and v = 3
update biblia set nvg = 'Lebo sa skloníte medzi zajatcov / a padnete medzi zabitými. / Pri tomto všetkom sa jeho hnev neodvrátil  / a jeho ruka je ešte vystretá.' where spis = 'Iz' and vers = 1 and k = 10 and v = 4
go

-- 625	Iz 10, 5-7. 13-16
update biblia set lc_id = 625 where spis = 'Iz' and vers = 1 and k = 10 and v between 5 and 7
update biblia set lc_id = 625 where spis = 'Iz' and vers = 1 and k = 10 and v between 13 and 16
go

update biblia set nvg = '(Toto hovorí Pán:) Beda Asýrsku! Ono je prútom môjho hnevu a palicou v mojej ruke; je mojím rozhorčením. ' where spis = 'Iz' and vers = 1 and k = 10 and v = 5
update biblia set nvg = 'Posielam ho k bezbožnému národu, dávam mu rozkaz proti ľudu, ktorý ma hnevá, aby uchvátil korisť a odniesol lup a aby ho rozšliapal ako blato ulíc.' where spis = 'Iz' and vers = 1 and k = 10 and v = 6
update biblia set nvg = 'Lež on tak neuvažuje, jeho srdce tak nezmýšľa; on má v úmysle ničiť a vyhubiť nemálo národov.' where spis = 'Iz' and vers = 1 and k = 10 and v = 7
go
update biblia set nvg = 'Lebo hovorí: "Silou svojej ruky som všetko urobil a svojou múdrosťou, lebo som rozumný; odstránil som hranice národov, vyraboval som ich pokladnice a ako všemocný som strhol tých, čo sedia na tróne.' where spis = 'Iz' and vers = 1 and k = 10 and v = 13
update biblia set nvg = 'Ako na hniezdo siahla moja ruka na bohatstvo národov, ako sa zbierajú opustené vajcia, tak som zhrabol celú zem a nebolo toho, kto by zatrepotal krídlom, otvoril zobák a zapišťal."' where spis = 'Iz' and vers = 1 and k = 10 and v = 14
update biblia set nvg = 'Vari sa bude vypínať sekera nad toho, čo ňou rúbe? Alebo sa píla bude vyvyšovať nad toho, kto ju ťahá? Ako keby prút hýbal tým, čo ho dvíha, akoby palica dvíhala toho, ktorý nie je z dreva. ' where spis = 'Iz' and vers = 1 and k = 10 and v = 15
update biblia set nvg = 'Preto Pán, Vladár zástupov, pošle na jeho vykŕmených vojakov hlad a pod jeho slávou bude zúriť ako páľa ohňa horúčosť.' where spis = 'Iz' and vers = 1 and k = 10 and v = 16
go

-- OCR20STVc_CIT1	11, 1-16
-- OKTNAR_cCIT1_25	11, 1-10
-- 626	Iz 11, 1-10
-- 627	Iz 11, 1-10
update biblia set lh_id = 'OCR20STVc_CIT1' where spis = 'Iz' and vers = 1 and k = 11 and v between 1 and 16
go
update biblia set lc_id = 626 where spis = 'Iz' and vers = 1 and k = 11 and v between 1 and 10
go

update biblia set nvg = '„Z_kmeňa Jesseho vzíde ratolesť / a z_jeho koreňov vyženie výhonok.' where spis = 'Iz' and vers = 1 and k = 11 and v = 1
update biblia set nvg = 'A spočinie na ňom duch Pánov: / duch múdrosti a rozumu, / duch rady a sily, / duch poznania a bázne pred Pánom.' where spis = 'Iz' and vers = 1 and k = 11 and v = 2
update biblia set nvg = 'A bude mať záľubu v_bázni pred Pánom. // Nebude súdiť podľa zdania očí,  / ani nebude karhať podľa počutia,' where spis = 'Iz' and vers = 1 and k = 11 and v = 3
update biblia set nvg = 'ale podľa spravodlivosti bude súdiť chudobných  / a podľa práva bude rozhodovať v_prospech ponížených zeme. / Zem udrie prútom svojich úst  / a dychom svojich perí usmrtí bezbožníka. ' where spis = 'Iz' and vers = 1 and k = 11 and v = 4
update biblia set nvg = 'Spravodlivosť bude pásom jeho bedier  / a vernosť opaskom jeho bokov.' where spis = 'Iz' and vers = 1 and k = 11 and v = 5
update biblia set nvg = 'Vlk bude bývať s_baránkom, / leopard si ľahne vedľa kozliatka. / Teliatko i_lev budú žrať spolu / a chlapček ich bude zaháňať.' where spis = 'Iz' and vers = 1 and k = 11 and v = 6
update biblia set nvg = 'Krava a medvedica sa budú spolu pásť, / ich mláďatá budú vedno odpočívať. / Lev sťa vôl sa bude kŕmiť slamou,' where spis = 'Iz' and vers = 1 and k = 11 and v = 7
update biblia set nvg = 'dojča sa bude hrať / nad dierou hada,  / do skrýše vretenice / siahne rukou batoľa.' where spis = 'Iz' and vers = 1 and k = 11 and v = 8
update biblia set nvg = 'Nik nebude škodiť ani pustošiť / na celom mojom svätom vrchu; / lebo poznaním Pána bude naplnená zem, / ako vody napĺňajú moria.' where spis = 'Iz' and vers = 1 and k = 11 and v = 9
update biblia set nvg = 'V_ten deň koreň Jesseho / sa vztýči ako znamenie národom; / pohania ho budú vyhľadávať / a slávny bude jeho príbytok.' where spis = 'Iz' and vers = 1 and k = 11 and v = 10
update biblia set nvg = 'V_ten deň Pán opäť vystrie svoju ruku, / aby si priviedol zvyšok svojho ľudu, / ktorý zostal po Asýrsku a Egypte, / Patrose a Etiópii, / Elame a Senaare, / Emate a morských ostrovoch.' where spis = 'Iz' and vers = 1 and k = 11 and v = 11
update biblia set nvg = 'Zdvihne znamenie nad národmi / a zhromaždí izraelských utečencov,  / pozbiera roztratených Júdovcov zo štyroch strán zeme.' where spis = 'Iz' and vers = 1 and k = 11 and v = 12
update biblia set nvg = 'Prestane Efraimova nevraživosť / a Júdovi nepriatelia zahynú. / Efraim nebude žiarliť na Júdu  / a Júda nebude bojovať proti Efraimovi.' where spis = 'Iz' and vers = 1 and k = 11 and v = 13
update biblia set nvg = 'Vrhnú sa na ramená Filištíncov na západe, / spolu budú plieniť synov východu; / vystrú svoju ruku na Edom a Moab / a synovia Amona ich budú poslúchať.' where spis = 'Iz' and vers = 1 and k = 11 and v = 14
update biblia set nvg = 'Pán vysuší jazyk Egyptského mora / a v_sile svojho dychu zdvihne svoju ruku nad rieku / a rozbije ju na sedem potokov, / tak, že im dá prejsť obutým.' where spis = 'Iz' and vers = 1 and k = 11 and v = 15
update biblia set nvg = 'To bude cesta pre zvyšok môjho ľudu, / ktorý zostane po Asýrsku, / ako ju Izrael mal v_ten deň, / keď vystupoval z_egyptskej krajiny.“' where spis = 'Iz' and vers = 1 and k = 11 and v = 16
go

-- CHVAL_IZ12	Iz 12, 1-6
-- 628	Iz 12, 2-3. 4b-d. 5-6
-- 629	Iz 12, 2-3. 4b-d. 5-6
update biblia set lh_id = 'CHVAL_IZ12' where spis = 'Iz' and vers = 1 and k = 12 and v between 1 and 6
go
update biblia set lc_id = 628 where spis = 'Iz' and vers = 1 and k = 12 and v between 2 and 6
go

update biblia set nvg = 'Oslavujem ťa, Pane: hneval si sa na mňa,_* / ale tvoj hnev sa utíšil a potešil si ma.' where spis = 'Iz' and vers = 1 and k = 12 and v = 1
update biblia set nvg = 'Hľa, Boh je moja spása;_* / dúfam a nebojím sa, / lebo moja sila a chvála je Pán,_* / on sa mi stal záchrancom.' where spis = 'Iz' and vers = 1 and k = 12 and v = 2
update biblia set nvg = 'Budete čerpať vodu s_radosťou_* / z_prameňov spásy.' where spis = 'Iz' and vers = 1 and k = 12 and v = 3
update biblia set nvg = 'A v_ten deň poviete:_* / „Oslavujte Pána a vzývajte jeho meno, / ohlasujte medzi národmi jeho zázraky,_* / pamätajte, že jeho meno je vznešené.' where spis = 'Iz' and vers = 1 and k = 12 and v = 4
update biblia set nvg = 'Spievajte Pánovi, lebo urobil veľké veci;_* / nech je to známe po celej zemi.' where spis = 'Iz' and vers = 1 and k = 12 and v = 5
update biblia set nvg = 'Plesaj a jasaj, obyvateľka Siona,_* / lebo veľký uprostred teba je Svätý Izraela.“' where spis = 'Iz' and vers = 1 and k = 12 and v = 6
go

