-- OCR24NEc_CIT1	1, 3-14. 22-28
-- 445	Ez 1, 2-5. 24-28c
update biblia set lh_id = 'OCR24NEc_CIT1' where spis = 'Ez' and vers = 1 and k = 1 and v between 3 and 14
update biblia set lh_id = 'OCR24NEc_CIT1' where spis = 'Ez' and vers = 1 and k = 1 and v between 22 and 28
go
update biblia set lc_id = 445 where spis = 'Ez' and vers = 1 and k = 1 and v between 2 and 5
update biblia set lc_id = 445 where spis = 'Ez' and vers = 1 and k = 1 and v between 24 and 28
go

update biblia set nvg = 'V piaty deň mesiaca - bolo to v piatom roku po odvlečení kráľa Joachina do zajatia - ' where spis = 'Ez' and vers = 1 and k = 1 and v = 2
update biblia set nvg = 'Buziho synovi kňazovi Ezechielovi zaznelo Pánovo slovo v_chaldejskej krajine pri rieke Chobar; tam na ňom spočinula Pánova ruka.' where spis = 'Ez' and vers = 1 and k = 1 and v = 3
update biblia set nvg = 'A videl som od severu prichádzať búrlivý vietor, veľký oblak a ohnivú guľu obklopenú žiarou. Z_nej — teda zo stredu ohňa — žiarilo čosi ako lesklý kov. ' where spis = 'Ez' and vers = 1 and k = 1 and v = 4
update biblia set nvg = 'A z_jeho stredu vystupovala podoba štyroch živých bytostí, ktoré mali takýto výzor: podobali sa človeku. ' where spis = 'Ez' and vers = 1 and k = 1 and v = 5
update biblia set nvg = 'Každá mala štyri tváre a každá štyri krídla. ' where spis = 'Ez' and vers = 1 and k = 1 and v = 6
update biblia set nvg = 'Ich nohy boli rovné a ich chodidlá ako teľacie chodidlá a iskrili ako vyleštený bronz. ' where spis = 'Ez' and vers = 1 and k = 1 and v = 7
update biblia set nvg = 'Pod krídlami mali na štyroch stranách ľudské ruky. Mali štyri tváre i_krídla. ' where spis = 'Ez' and vers = 1 and k = 1 and v = 8
update biblia set nvg = 'Ich krídla sa dotýkali jedno druhého. Keď šli, neotáčali sa, každá kráčala v_smere svojej tváre.' where spis = 'Ez' and vers = 1 and k = 1 and v = 9
update biblia set nvg = 'A podoba ich tvárí: ľudská tvár; a všetky štyri mali na pravej strane leviu tvár, na ľavej strane mali všetky štyri býčiu tvár a všetky štyri mali tvár orliu.' where spis = 'Ez' and vers = 1 and k = 1 and v = 10
update biblia set nvg = 'Ich krídla boli vystreté dohora: dvoma krídlami sa navzájom dotýkali a dve im zakrývali telo. ' where spis = 'Ez' and vers = 1 and k = 1 and v = 11
update biblia set nvg = 'Každá kráčala v_smere svojej tváre. Išli ta, kam ich hnal duch, a neotáčali sa, keď šli.' where spis = 'Ez' and vers = 1 and k = 1 and v = 12
update biblia set nvg = 'Uprostred živých bytostí bolo čosi, čo vyzeralo ako oheň zo žeravého uhlia, vyzeralo to ako fakle, ktoré pobehujú medzi živými bytosťami; oheň jasne žiaril a z_ohňa vyšľahoval blesk. ' where spis = 'Ez' and vers = 1 and k = 1 and v = 13
update biblia set nvg = 'A živé bytosti chodili a vracali sa ako žiarivý blesk.' where spis = 'Ez' and vers = 1 and k = 1 and v = 14
go
update biblia set nvg = 'Nad hlavami živých bytostí bolo čosi ako obloha, vyzeralo to ako hrozný krištáľ, rozpätý hore nad ich hlavami. ' where spis = 'Ez' and vers = 1 and k = 1 and v = 22
update biblia set nvg = 'Pod oblohou boli vystreté ich krídla jedno k_druhému; každá bytosť si dvoma krídlami zakrývala telo.' where spis = 'Ez' and vers = 1 and k = 1 and v = 23
update biblia set nvg = 'A počul som šum ich krídel: bol ako šum veľkých vôd, ako hlas Všemohúceho. Keď chodili, bol taký hluk ako ruch v_tábore; keď ostali stáť, krídla si spustili ' where spis = 'Ez' and vers = 1 and k = 1 and v = 24
update biblia set nvg = 'a vždy, keď zaznel hlas sponad oblohy, čo bola nad ich hlavami, ostali stáť a spustili si krídla.' where spis = 'Ez' and vers = 1 and k = 1 and v = 25
update biblia set nvg = 'A nad oblohou, ktorá čnela nad ich hlavami, bolo čosi ako zafírový kameň a podobalo sa to trónu. A na tom, čo sa podobalo trónu, bola postava, ktorá vyzerala ako človek. ' where spis = 'Ez' and vers = 1 and k = 1 and v = 26
update biblia set nvg = 'A hore od toho, čo vyzeralo ako jeho bedrá, som videl čosi ako lesklý kov, obklopený akoby ohňom; dole od toho, čo vyzeralo ako jeho bedrá, som videl čosi ako oheň obklopený žiarou. ' where spis = 'Ez' and vers = 1 and k = 1 and v = 27
update biblia set nvg = 'Ako vyzerá dúha, čo býva na oblaku, keď prší, tak vyzerala žiara dookola; takto vyzerala podoba Pánovej slávy.' where spis = 'Ez' and vers = 1 and k = 1 and v = 28
go

-- 453	Ez 2, 2-5
update biblia set lc_id = 453 where spis = 'Ez' and vers = 1 and k = 2 and v between 2 and 5
go

update biblia set nvg = '(...) Vošiel do mňa duch, postavil ma na nohy a počul som toho, ktorý ku mne hovoril.' where spis = 'Ez' and vers = 1 and k = 2 and v = 2
update biblia set nvg = 'Povedal mi: "Syn človeka, ja ťa posielam k Izraelovým synom, k odbojnému národu, ktorý sa vzbúril proti mne. Oni aj ich otcovia mi boli neverní až do tohoto dňa. ' where spis = 'Ez' and vers = 1 and k = 2 and v = 3
update biblia set nvg = 'Sú to synovia s bezočivou tvárou a zatvrdnutým srdcom. // Ja ťa k nim posielam a povieš im: Toto hovorí Pán, Boh! ' where spis = 'Ez' and vers = 1 and k = 2 and v = 4
update biblia set nvg = 'A oni, či už ťa počúvnu alebo odmietnu - lebo je to odbojný dom -, nech vedia, že bol uprostred nich prorok."' where spis = 'Ez' and vers = 1 and k = 2 and v = 5
go

-- OCR24POc_CIT1	2, 8 – 3, 11. 16-21
-- 454	Ez 2, 8 - 3, 4
-- 457	Ez 3, 16b-21
update biblia set lh_id = 'OCR24POc_CIT1' where spis = 'Ez' and vers = 1 and k = 2 and v between 8 and 9
update biblia set lh_id = 'OCR24POc_CIT1' where spis = 'Ez' and vers = 1 and k = 3 and v between 1 and 11
update biblia set lh_id = 'OCR24POc_CIT1' where spis = 'Ez' and vers = 1 and k = 3 and v between 16 and 21
go
update biblia set lc_id = 454 where spis = 'Ez' and vers = 1 and k = 2 and v between 8 and 9
update biblia set lc_id = 454 where spis = 'Ez' and vers = 1 and k = 3 and v between 1 and 4
update biblia set lc_id = 454 where spis = 'Ez' and vers = 1 and k = 3 and v between 16 and 21
go

update biblia set nvg = '„Syn človeka, počúvaj, čo ti hovorím; a nebuď spurný ako tento spurný dom; otvor ústa a zjedz všetko, čo ti dám.“ ' where spis = 'Ez' and vers = 1 and k = 2 and v = 8
update biblia set nvg = 'Vtom som videl ruku vystretú ku mne a v_nej zvitok knihy. Rozvinul ho predo mnou a bol popísaný znútra i_zvonka; boli na ňom napísané žalospevy, vzdychania a beda.' where spis = 'Ez' and vers = 1 and k = 2 and v = 9
go
update biblia set nvg = 'Tu mi povedal: „Syn človeka, zjedz všetko, čo je pred tebou; zjedz tento zvitok a choď a hovor synom Izraela.“ ' where spis = 'Ez' and vers = 1 and k = 3 and v = 1
update biblia set nvg = 'Otvoril som ústa a on mi dal zvitok zjesť. ' where spis = 'Ez' and vers = 1 and k = 3 and v = 2
update biblia set nvg = 'Potom mi povedal: „Syn človeka, zjedz ho a tvoje vnútro sa naplní týmto zvitkom, ktorý ti dávam.“ Zjedol som ho teda a v_ústach mi bol sladký ako med.' where spis = 'Ez' and vers = 1 and k = 3 and v = 3
update biblia set nvg = 'On mi povedal: „Syn človeka, choď k_domu Izraela a hovor im moje slová. ' where spis = 'Ez' and vers = 1 and k = 3 and v = 4
update biblia set nvg = 'Veď ťa neposielam k_ľudu nezrozumiteľnej reči a neznámeho jazyka, ale k_domu Izraela; ' where spis = 'Ez' and vers = 1 and k = 3 and v = 5
update biblia set nvg = 'ani k_mnohým národom temnej reči a neznámeho jazyka, že by si nemohol rozumieť ich reč; a keby som ťa k_nim poslal, oni by ťa počúvali. ' where spis = 'Ez' and vers = 1 and k = 3 and v = 6
update biblia set nvg = 'Ale dom Izraela ťa nechce počúvať, lebo nechcú počúvať mňa. Veď celý dom Izraela má tvrdé čelo a zatvrdnuté srdce. ' where spis = 'Ez' and vers = 1 and k = 3 and v = 7
update biblia set nvg = 'Hľa, dávam ti silnejšiu tvár, ako je ich tvár, a tvrdšie čelo, ako je ich čelo; ' where spis = 'Ez' and vers = 1 and k = 3 and v = 8
update biblia set nvg = 'dávam ti tvár ako diamant, tvrdšiu ako kremeň. Neboj sa ich, ani sa neľakaj ich tváre, lebo je to spurný dom.“ ' where spis = 'Ez' and vers = 1 and k = 3 and v = 9
update biblia set nvg = 'A povedal mi: „Syn človeka, vezmi si k_srdcu všetky moje slová, ktoré ti hovorím, a ušami ich počúvaj. ' where spis = 'Ez' and vers = 1 and k = 3 and v = 10
update biblia set nvg = 'Choď, zájdi k_zajatcom, k_synom svojho ľudu, hovor s_nimi a povedz im: Toto hovorí Pán, Boh; či už ťa počúvnu, alebo odmietnu.“' where spis = 'Ez' and vers = 1 and k = 3 and v = 11
update biblia set nvg = 'A keď prešlo sedem dní, Pán prehovoril ku mne takto: ' where spis = 'Ez' and vers = 1 and k = 3 and v = 16
update biblia set nvg = '„Syn človeka, urobil som ťa strážcom domu Izraela. Keď počuješ slovo z_mojich úst, varuj ich v_mojom mene. ' where spis = 'Ez' and vers = 1 and k = 3 and v = 17
update biblia set nvg = 'Keď poviem bezbožnému: Zomrieš, a ty ho neupozorníš a nepovieš mu, aby sa odvrátil od svojej bezbožnosti a žil, bezbožný zomrie vo svojej neprávosti, ale jeho krv budem požadovať z_tvojich rúk. ' where spis = 'Ez' and vers = 1 and k = 3 and v = 18
update biblia set nvg = 'No keď ty upozorníš bezbožného, a on sa neodvráti od svojej bezbožnosti a od svojej bezbožnej cesty, zomrie vo svojej neprávosti, ale ty si si život zachránil. ' where spis = 'Ez' and vers = 1 and k = 3 and v = 19
update biblia set nvg = 'A keď sa spravodlivý odvráti od svojej spravodlivosti a spácha neprávosť, položím pred neho prekážku; on zomrie, pretože si ho nevaroval: zomrie vo svojom hriechu a nespomenie sa na jeho spravodlivosť, ktorú konal, ale za jeho krv sa mi budeš ty zodpovedať. ' where spis = 'Ez' and vers = 1 and k = 3 and v = 20
update biblia set nvg = 'No ak ty upozorníš spravodlivého, aby nehrešil, a on nezhreší, bude žiť, lebo si ho upozornil a ty si zachrániš život.“' where spis = 'Ez' and vers = 1 and k = 3 and v = 21
go

-- OCR24UTc_CIT1	8, 1-6. 16 – 9, 11
-- 473	Ez 9, 1-7; 10, 18-22
update biblia set lh_id = 'OCR24UTc_CIT1' where spis = 'Ez' and vers = 1 and k = 8 and v between 1 and 6
update biblia set lh_id = 'OCR24UTc_CIT1' where spis = 'Ez' and vers = 1 and k = 8 and v between 16 and 18
update biblia set lh_id = 'OCR24UTc_CIT1' where spis = 'Ez' and vers = 1 and k = 9 and v between 1 and 11
go
update biblia set lc_id = 473 where spis = 'Ez' and vers = 1 and k = 9 and v between 1 and 7
update biblia set lc_id = 473 where spis = 'Ez' and vers = 1 and k = 10 and v between 18 and 22
go

update biblia set nvg = 'V_šiestom roku v_šiestom mesiaci v_piaty deň mesiaca som sedel vo svojom dome a predo mnou sedeli judejskí starší. Tam na mňa doľahla ruka Pána, Boha, ' where spis = 'Ez' and vers = 1 and k = 8 and v = 1
update biblia set nvg = 'a videl som: čosi, čo vyzeralo ako muž. Od bedier dolu to bolo ako oheň a od bedier hore to vyzeralo ako žiara, ako keby hľadel na lesklý kov. ' where spis = 'Ez' and vers = 1 and k = 8 and v = 2
update biblia set nvg = 'Vystrel čosi ako ruku a uchopil ma za kadere mojej hlavy; duch ma zdvihol medzi zem a nebo a v_Božích videniach ma priviedol do Jeruzalema ku vchodu do vnútornej brány, obrátenej na sever, kde stála modla žiarlivosti, aby podnecovala do žiarlivosti. ' where spis = 'Ez' and vers = 1 and k = 8 and v = 3
update biblia set nvg = 'A hľa, bola tam sláva Izraelovho Boha, ako vo videní, ktoré som mal na poli. ' where spis = 'Ez' and vers = 1 and k = 8 and v = 4
update biblia set nvg = 'I_povedal mi: „Syn človeka, zdvihni svoje oči smerom na sever.“ Zdvihol som svoje oči smerom na sever a na sever od oltárnej brány vo vchode bola tá modla žiarlivosti. ' where spis = 'Ez' and vers = 1 and k = 8 and v = 5
update biblia set nvg = 'Tu mi povedal: „Syn človeka, vidíš, čo robia? Aké veľké ohavnosti tu pácha dom Izraela, aby som sa vzdialil zo svojej svätyne?! A keď sa obrátiš, uvidíš ešte väčšie ohavnosti.“' where spis = 'Ez' and vers = 1 and k = 8 and v = 6
go
update biblia set nvg = 'Potom ma zaviedol do vnútorného nádvoria Pánovho domu a hľa, pri vchode do Pánovho chrámu medzi predsieňou a oltárom bolo asi dvadsaťpäť mužov; chrbty mali obrátené k_Pánovmu chrámu, tváre na východ a klaňali sa východu slnka. ' where spis = 'Ez' and vers = 1 and k = 8 and v = 16
update biblia set nvg = 'Tu mi povedal: „Isto si videl, syn človeka! Júdovmu domu nestačí, že robia tie ohavnosti, ktoré tu páchajú; lebo celú zem napĺňajú neprávosťou a opätovne ma podnecujú do hnevu. Pozri, ako si k_nosu prikladajú ratolesť. ' where spis = 'Ez' and vers = 1 and k = 8 and v = 17
update biblia set nvg = 'Preto aj ja budem konať v_hneve: moje oko nebude šetriť, nezľutujem sa a keby aj veľkým hlasom volali do mojich uší, nevyslyším ich.“' where spis = 'Ez' and vers = 1 and k = 8 and v = 18
go
update biblia set nvg = 'Pán mi mocným hlasom zakričal do uší: „Priblížil sa čas trestu nad mestom: každý má v_ruke smrtiaci nástroj.“ ' where spis = 'Ez' and vers = 1 and k = 9 and v = 1
update biblia set nvg = 'Vtom cestou od hornej brány, čo hľadí na sever, prichádzalo šesť mužov a každý mal v_ruke nástroj ničenia. Medzi nimi bol muž oblečený v_ľanových šatách a za pásom mal pisárske náčinie. Vošli a ostali stáť pri medenom oltári. ' where spis = 'Ez' and vers = 1 and k = 9 and v = 2
update biblia set nvg = 'A sláva Boha Izraela sa zniesla sponad cherubína, nad ktorým bola, k_prahu domu. Pán zavolal muža oblečeného do ľanových šiat s_pisárskym náčiním za pásom ' where spis = 'Ez' and vers = 1 and k = 9 and v = 3
update biblia set nvg = 'a povedal mu: „Prejdi stredom mesta Jeruzalem a označ písmenom tau čelá mužov, ktorí kvília a trápia sa pre mnohé ohavnosti, čo sa v_ňom páchajú.“ ' where spis = 'Ez' and vers = 1 and k = 9 and v = 4
update biblia set nvg = 'A tamtým povedal tak, že som to počul: „Prejdite za ním cez mesto a zabíjajte! Nech nič nedojme vaše oko; neľútostne zabite ' where spis = 'Ez' and vers = 1 and k = 9 and v = 5
update biblia set nvg = 'starca, mladíka i_pannu, dieťa i_ženy až do úplného vyničenia! No nezabite nikoho, na kom uvidíte tau. A začnite od mojej svätyne!“ Začali teda od starších, čo boli pred chrámom. ' where spis = 'Ez' and vers = 1 and k = 9 and v = 6
update biblia set nvg = 'A on im povedal: „Poškvrňte dom a naplňte nádvorie zabitými! Choďte!“ A oni šli a zabíjali tých, čo boli v_meste.' where spis = 'Ez' and vers = 1 and k = 9 and v = 7
update biblia set nvg = 'Keď sa zabíjanie skončilo a ja som ostal sám, padol som na tvár a volal som: „Ach, Pane, Bože, vari zahubíš všetky zvyšky Izraela, že vylievaš na Jeruzalem svoj hnev?“ ' where spis = 'Ez' and vers = 1 and k = 9 and v = 8
update biblia set nvg = 'On mi povedal: „Neprávosť Izraelovho a Júdovho domu je veľmi veľká; krajina je plná krvi a mesto je plné nespravodlivosti. Veď hovoria: ‚Pán opustil krajinu a Pán nevidí;‘ ' where spis = 'Ez' and vers = 1 and k = 9 and v = 9
update biblia set nvg = 'preto ani moje oko nebude šetriť, nezľutujem sa: ich cestu obrátim na ich hlavu.“ ' where spis = 'Ez' and vers = 1 and k = 9 and v = 10
update biblia set nvg = 'A muž, ktorý bol oblečený v_ľanových šatách a za pásom mal pisárske náčinie, ohlásil: „Urobil som, ako si mi prikázal.“' where spis = 'Ez' and vers = 1 and k = 9 and v = 11
go

-- OCR24STRc_CIT1	10, 18-22; 11, 14-25
update biblia set lh_id = 'OCR24STRc_CIT1' where spis = 'Ez' and vers = 1 and k = 10 and v between 18 and 22
update biblia set lh_id = 'OCR24STRc_CIT1' where spis = 'Ez' and vers = 1 and k = 11 and v between 14 and 25
go

update biblia set nvg = 'Pánova veleba sa vzniesla sponad prahu chrámu a ostala stáť nad cherubínmi. ' where spis = 'Ez' and vers = 1 and k = 10 and v = 18
update biblia set nvg = 'Cherubíni zdvihli krídla a vzniesli sa predo mnou od zeme; a keď vychádzali, zdvihli sa aj kolesá. Pri vchode do východnej brány Pánovho domu zastali a veleba Izraelovho Boha bola nad nimi. ' where spis = 'Ez' and vers = 1 and k = 10 and v = 19
update biblia set nvg = 'Boli to tie živé bytosti, ktoré som videl pred Bohom Izraela pri rieke Chobar, a zvedel som, že to boli cherubíni. ' where spis = 'Ez' and vers = 1 and k = 10 and v = 20
update biblia set nvg = 'Každý mal štyri tváre a štyri krídla. Pod krídlami mali čosi ako ľudské ruky ' where spis = 'Ez' and vers = 1 and k = 10 and v = 21
update biblia set nvg = 'a ich tváre vyzerali ako tváre, ktoré som videl pri rieke Chobar: a každý kráčal v_smere svojej tváre.' where spis = 'Ez' and vers = 1 and k = 10 and v = 22
go
update biblia set nvg = 'Pán prehovoril ku mne takto: ' where spis = 'Ez' and vers = 1 and k = 11 and v = 14
update biblia set nvg = '„Syn človeka, tvoji bratia, tvoji bratia, tvoji príbuzní a celý dom Izraela, všetci, o_ktorých hovoria obyvatelia Jeruzalema: ‚Ďaleko sú od Pána; my sme dostali krajinu do vlastníctva.‘ ' where spis = 'Ez' and vers = 1 and k = 11 and v = 15
update biblia set nvg = 'Preto hovorí Pán, Boh, toto: Pretože som ich zahnal ďaleko medzi národy a rozptýlil po krajinách, budem im svätyňou krátky čas v_krajinách, do ktorých prišli. ' where spis = 'Ez' and vers = 1 and k = 11 and v = 16
update biblia set nvg = 'Preto hovor: Toto hovorí Pán, Boh: Zhromaždím vás spomedzi národov a pozbieram z_krajín, po ktorých ste rozptýlení, a dám vám pôdu Izraela. ' where spis = 'Ez' and vers = 1 and k = 11 and v = 17
update biblia set nvg = 'Vojdú ta a odstránia z_nej všetky jej pohoršenia a všetky ohavnosti. ' where spis = 'Ez' and vers = 1 and k = 11 and v = 18
update biblia set nvg = 'A dám im iné srdce a do ich vnútra vložím nového ducha. Odstránim z_ich tela srdce kamenné a dám im srdce z_mäsa, ' where spis = 'Ez' and vers = 1 and k = 11 and v = 19
update biblia set nvg = 'aby kráčali podľa mojich príkazov, aby zachovávali moje výroky a plnili ich, aby oni boli mojím ľudom a ja aby som bol ich Bohom. ' where spis = 'Ez' and vers = 1 and k = 11 and v = 20
update biblia set nvg = 'Ale tým, ktorých srdce bude kráčať za ich pohoršeniami a ohavnosťami, obrátim ich cestu na ich hlavu,“ hovorí Pán, Boh.' where spis = 'Ez' and vers = 1 and k = 11 and v = 21
update biblia set nvg = 'A cherubíni zdvihli svoje krídla a kolesá s_nimi, kým veleba Izraelovho Boha bola nad nimi. ' where spis = 'Ez' and vers = 1 and k = 11 and v = 22
update biblia set nvg = 'Tu Pánova veleba vystúpila sprostred mesta a zastala na vrchu východne od mesta.' where spis = 'Ez' and vers = 1 and k = 11 and v = 23
update biblia set nvg = 'Potom ma duch zdvihol a vo videní v_Božom duchu ma zaviedol do Chaldejska k_zajatým; a videnie, ktoré som mal, prestalo. ' where spis = 'Ez' and vers = 1 and k = 11 and v = 24
update biblia set nvg = 'I_vyrozprával som zajatcom všetko, čo mi povedal a ukázal Pán.' where spis = 'Ez' and vers = 1 and k = 11 and v = 25
go

-- OCR24STVc_CIT1	12, 1-16
-- 446	Ez 12, 1-12
update biblia set lh_id = 'OCR24STVc_CIT1' where spis = 'Ez' and vers = 1 and k = 12 and v between 1 and 16
go
update biblia set lc_id = 446 where spis = 'Ez' and vers = 1 and k = 12 and v between 1 and 12
go

update biblia set nvg = 'Pán prehovoril ku mne takto: ' where spis = 'Ez' and vers = 1 and k = 12 and v = 1
update biblia set nvg = '„Syn človeka, bývaš uprostred spurného domu: oči majú na videnie, no nevidia, uši na počúvanie, ale nepočujú, lebo je to spurný dom. ' where spis = 'Ez' and vers = 1 and k = 12 and v = 2
update biblia set nvg = 'Preto si urob, syn človeka, vyhnanecký batoh a budeš sa vo dne pred nimi sťahovať; budeš sa sťahovať zo svojho miesta na iné miesto pred ich očami. Azda si to všimnú; lebo je to spurný dom. ' where spis = 'Ez' and vers = 1 and k = 12 and v = 3
update biblia set nvg = 'Vo dne pred ich očami vynesieš von svoj batoh ako batoh vyhnanca, ale ty sám vyjdeš večer pred nimi, ako odchádza vyhnanec. ' where spis = 'Ez' and vers = 1 and k = 12 and v = 4
update biblia set nvg = 'Pred ich očami si preraz stenu a vylez cez ňu. ' where spis = 'Ez' and vers = 1 and k = 12 and v = 5
update biblia set nvg = 'Pred ich očami budeš niesť na pleciach batoh a odídeš potme; tvár si zahalíš, aby si nevidel krajinu, lebo som ťa dal domu Izraela ako znamenie.“' where spis = 'Ez' and vers = 1 and k = 12 and v = 6
update biblia set nvg = 'Ja som urobil, ako mi rozkázal Pán: vo dne som vyniesol svoj batoh ako batoh vyhnanca, večer som si rukou prerazil stenu a potme som vykročil s_batohom na pleciach pred ich očami.' where spis = 'Ez' and vers = 1 and k = 12 and v = 7
update biblia set nvg = 'Ráno mi zaznelo Pánovo slovo: ' where spis = 'Ez' and vers = 1 and k = 12 and v = 8
update biblia set nvg = '„Syn človeka, nepovedal ti dom Izraela, spurný dom: ‚Čo to robíš‘? ' where spis = 'Ez' and vers = 1 and k = 12 and v = 9
update biblia set nvg = 'Povedz im: Toto hovorí Pán, Boh: ‚Takéto bremeno čaká na knieža v_Jeruzaleme a na celý dom Izraela, čo v_ňom žije. ' where spis = 'Ez' and vers = 1 and k = 12 and v = 10
update biblia set nvg = 'Povedz: Ja som pre vás znamenie; ako som ja robil, tak sa aj im stane: do vyhnanstva, do zajatia pôjdu. ' where spis = 'Ez' and vers = 1 and k = 12 and v = 11
update biblia set nvg = 'A knieža, čo je medzi nimi, ponesie batoh. Potme odíde, prerazia stenu, aby bol cez ňu priechod, tvár si zahalí, aby nevidel svojimi očami krajinu. ' where spis = 'Ez' and vers = 1 and k = 12 and v = 12
update biblia set nvg = 'I_roztiahnem nad neho svoju sieť a chytí sa do môjho osídla. Zavediem ho do Babylonu, do chaldejskej krajiny, ale neuvidí ju a zomrie tam. ' where spis = 'Ez' and vers = 1 and k = 12 and v = 13
update biblia set nvg = 'A všetkých, čo sú okolo neho, jeho stráž i_jeho vojská rozmecem do všetkých vetrov a vytasím za nimi meč. ' where spis = 'Ez' and vers = 1 and k = 12 and v = 14
update biblia set nvg = 'Tu spoznajú, že ja som Pán, keď ich rozptýlim medzi národy a rozsejem ich po krajinách. ' where spis = 'Ez' and vers = 1 and k = 12 and v = 15
update biblia set nvg = 'Niekoľko mužov z_nich ponechám za mečom, hladom a morom, aby rozprávali o_všetkých svojich zločinoch medzi národmi, ku ktorým prídu, a spoznajú, že ja som Pán.‘“' where spis = 'Ez' and vers = 1 and k = 12 and v = 16
go

-- OCR24PIc_CIT1	16, 3. 5b-7a. 8-15. 35. 37a. 40-43. 59-63
-- 447	Ez 16, 1-15. 60. 63
-- 448	Ez 16, 59-63
update biblia set lh_id = 'OCR24PIc_CIT1' where spis = 'Ez' and vers = 1 and k = 16 and v = 3
update biblia set lh_id = 'OCR24PIc_CIT1' where spis = 'Ez' and vers = 1 and k = 16 and v between 5 and 7
update biblia set lh_id = 'OCR24PIc_CIT1' where spis = 'Ez' and vers = 1 and k = 16 and v between 8 and 15
update biblia set lh_id = 'OCR24PIc_CIT1' where spis = 'Ez' and vers = 1 and k = 16 and v = 35
update biblia set lh_id = 'OCR24PIc_CIT1' where spis = 'Ez' and vers = 1 and k = 16 and v = 37
update biblia set lh_id = 'OCR24PIc_CIT1' where spis = 'Ez' and vers = 1 and k = 16 and v between 40 and 43
update biblia set lh_id = 'OCR24PIc_CIT1' where spis = 'Ez' and vers = 1 and k = 16 and v between 59 and 63
go
update biblia set lc_id = 447 where spis = 'Ez' and vers = 1 and k = 16 and v between 1 and 15
update biblia set lc_id = 448 where spis = 'Ez' and vers = 1 and k = 16 and v between 59 and 63
go

update biblia set nvg = 'Pán prehovoril ku mne takto: ' where spis = 'Ez' and vers = 1 and k = 16 and v = 1
update biblia set nvg = '„Syn človeka, oznám Jeruzalemu jeho ohavnosti ' where spis = 'Ez' and vers = 1 and k = 16 and v = 2
update biblia set nvg = 'a povedz: Toto hovorí Pán, Boh, Jeruzalemu: Koreň a pôvod máš v krajine Kanaán, tvoj otec je Amorejčan, matka Hetejčanka. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 3
update biblia set nvg = 'A keď si sa narodila, pupočnú šnúru ti neprerezali, vodou ťa neumyli na očistenie, soľou neposolili a plienkami nepovili. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 4
update biblia set nvg = 'Ničie oko sa nad tebou nezľutovalo a neurobilo ti jedinú z týchto vecí z lásky, ale hodili ťa na zem s odporom v deň tvojho narodenia.' where spis = 'Ez' and vers = 1 and k = 16 and v = 5
update biblia set nvg = 'Vtedy som išiel popri tebe, videl som, ako sa hádžeš vo vlastnej krvi, a povedal som ti, zakrvavenej: Ži! Áno, riekol som ti: Ži vo svojej krvi ' where spis = 'Ez' and vers = 1 and k = 16 and v = 6
update biblia set nvg = 'a vzrastaj ako poľný kvet! Rástla si a rozvíjala si sa, dospela si do zrelého veku. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 7
update biblia set nvg = 'Šiel som popri tebe a videl som ťa; práve prišiel tvoj čas, čas lásky. Rozprestrel som na teba svoj plášť a zakryl som tvoju nahotu. Potom som ti prisahal a uzavrel som s_tebou zmluvu, hovorí Pán, Boh, a stala si sa mojou. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 8
update biblia set nvg = 'Obmyl som ťa vodou, splákol som z_teba krv a pomazal som ťa olejom. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 9
update biblia set nvg = 'Obliekol som ťa do pestrých šiat, obul som ti obuv z_kože delfína, ovinul som ťa kmentom, zaodial hodvábom. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 10
update biblia set nvg = 'Ozdobil som ťa skvostami: na ruky som ti dal náramky a okolo krku retiazku. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 11
update biblia set nvg = 'Dal som ti obrúčku do nosa a krúžok na uši a na hlavu nádhernú korunu. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 12
update biblia set nvg = 'Zdobila si sa zlatom a striebrom, obliekala si sa do kmentu, hodvábu a pestrých šiat, jedla si múku, med a olej; opeknela si nadmieru a bola si súca na kráľovský trón. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 13
update biblia set nvg = 'Pre tvoju krásu sa rozniesol chýr o_tebe medzi národmi, lebo si bola dokonalá v_mojej ozdobe, ktorou som ťa obdaril, hovorí Pán, Boh.' where spis = 'Ez' and vers = 1 and k = 16 and v = 14
update biblia set nvg = 'No spoliehala si sa na svoju krásu, využívala si svoj chýr a stala si sa neviestkou. Núkala si sa bez výberu každému, kto šiel okolo.' where spis = 'Ez' and vers = 1 and k = 16 and v = 15
go
update biblia set nvg = 'Preto, neviestka, počuj slovo Pánovo: ' where spis = 'Ez' and vers = 1 and k = 16 and v = 35
go
update biblia set nvg = 'Ja zhromaždím všetkých tvojich milencov [...] ' where spis = 'Ez' and vers = 1 and k = 16 and v = 37
go
update biblia set nvg = 'I_zvolajú proti tebe zhromaždenie, ubijú ťa kamením a rozsekajú ťa svojimi mečmi. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 40
update biblia set nvg = 'Tvoje domy spália ohňom a vykonajú na tebe súdy pred očami mnohých žien. Tak dosiahnem, že prestaneš smilniť a už nebudeš dávať dary. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 41
update biblia set nvg = 'Tak utíšim na tebe svoj hnev a moja žiarlivosť odstúpi od teba; uspokojím sa a nebudem sa viac hnevať. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 42
update biblia set nvg = 'Preto, že si si nespomenula na dni svojej mladosti, ale dráždila si ma všetkým týmto, preto aj ja obrátim tvoje cesty na tvoju hlavu, hovorí Pán, Boh. A neurobil som podľa tvojich zločinov vo všetkých tvojich ohavnostiach.' where spis = 'Ez' and vers = 1 and k = 16 and v = 43
go
update biblia set nvg = 'Lebo toto hovorí Pán, Boh: Urobím s_tebou, ako si ty urobila, keď si pohrdla prísahou a porušila zmluvu.' where spis = 'Ez' and vers = 1 and k = 16 and v = 59
update biblia set nvg = 'Potom si spomeniem na svoju zmluvu s_tebou z_dní tvojej mladosti a uzavriem s_tebou večnú zmluvu. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 60
update biblia set nvg = 'Rozpamätáš sa na svoje správanie a budeš sa hanbiť, keď dostaneš svoje sestry staršie, ako si ty, i mladšie od teba. ' where spis = 'Ez' and vers = 1 and k = 16 and v = 61
update biblia set nvg = 'Dám ti ich za dcéry, ale nie pre tvoju zmluvu. Ja uzavriem zmluvu s_tebou a budeš vedieť, že ja som Pán, ' where spis = 'Ez' and vers = 1 and k = 16 and v = 62
update biblia set nvg = 'aby si sa rozpamätala a hanbila, aby si už od hanby nemohla otvoriť ústa, keď ti odpustím všetko, čo si popáchala,“ hovorí Pán, Boh.' where spis = 'Ez' and vers = 1 and k = 16 and v = 63
go

-- 449	Ez 17, 22-24
update biblia set lc_id = 449 where spis = 'Ez' and vers = 1 and k = 17 and v between 22 and 24
go

update biblia set nvg = 'Toto hovorí Pán, Boh: "Ja sám vezmem halúzku z vrcholca vysokého cédra a zasadím ju; z najvyšších vetiev odlomím konárik a zasadím ho na vysokom a vyčnievajúcom vrchu.' where spis = 'Ez' and vers = 1 and k = 17 and v = 22
update biblia set nvg = 'Zasadím ho na vysokom vrchu Izraela; vyženie konáre, prinesie ovocie a stane sa nádherným cédrom. Pod ním bude bývať vtáctvo, všetko, čo má krídla, bude hniezdiť v tôni jeho konárov.' where spis = 'Ez' and vers = 1 and k = 17 and v = 23
update biblia set nvg = 'Vtedy spoznajú všetky stromy poľa, že ja som Pán; ponižujem strom vysoký a povyšujem nízky. Nechám uschnúť strom zelený a kvitnúť bude strom suchý. // Ja, Pán, som to povedal a aj urobím."' where spis = 'Ez' and vers = 1 and k = 17 and v = 24
go

-- OCR24SOc_CIT1	18, 1-13. 20-32
-- 450	Ez 18, 1-10. 13b. 30-32
-- 451	Ez 18, 21-28
-- 452	Ez 18, 25-28
update biblia set lh_id = 'OCR24SOc_CIT1' where spis = 'Ez' and vers = 1 and k = 18 and v between 1 and 13
update biblia set lh_id = 'OCR24SOc_CIT1' where spis = 'Ez' and vers = 1 and k = 18 and v between 20 and 32
go
update biblia set lc_id = 450 where spis = 'Ez' and vers = 1 and k = 18 and v between 1 and 10
update biblia set lc_id = 450 where spis = 'Ez' and vers = 1 and k = 18 and v = 13
update biblia set lc_id = 450 where spis = 'Ez' and vers = 1 and k = 18 and v between 30 and 32
update biblia set lc_id = 451 where spis = 'Ez' and vers = 1 and k = 18 and v between 21 and 28
go

update biblia set nvg = 'Pán prehovoril ku mne takto: ' where spis = 'Ez' and vers = 1 and k = 18 and v = 1
update biblia set nvg = '„Ako to, že si v_Izraelovej krajine hovoríte príslovie: // ‚Otcovia jedli nezrelé hrozno a synom stŕpli zuby?‘' where spis = 'Ez' and vers = 1 and k = 18 and v = 2
update biblia set nvg = 'Ako žijem, hovorí Pán, Boh, už nebudete hovoriť toto príslovie v_Izraeli. ' where spis = 'Ez' and vers = 1 and k = 18 and v = 3
update biblia set nvg = 'Veď každý život je môj: tak život otca, ako aj život syna je môj. Len ten zomrie, kto zhreší.' where spis = 'Ez' and vers = 1 and k = 18 and v = 4
update biblia set nvg = 'Keď bude človek spravodlivý, keď bude žiť podľa práva a spravodlivo, ' where spis = 'Ez' and vers = 1 and k = 18 and v = 5
update biblia set nvg = 'že nebude jesť na výšinách a svoje oči nebude dvíhať k_modlám domu Izraela, manželku svojho blížneho nezneuctí a k_žene v_jej čase sa nepriblíži, ' where spis = 'Ez' and vers = 1 and k = 18 and v = 6
update biblia set nvg = 'nebude nikoho utláčať, dlžníkovi vráti záloh, násilím nič neuchváti, zo svojho chleba dá hladnému a nahého zaodeje šatami, ' where spis = 'Ez' and vers = 1 and k = 18 and v = 7
update biblia set nvg = 'nebude požičiavať na úžeru a prijímať úroky, od zločinu odtiahne svoju ruku a spravodlivo bude rozsudzovať ľudí, ' where spis = 'Ez' and vers = 1 and k = 18 and v = 8
update biblia set nvg = 'kráčať podľa mojich príkazov a zachovávať moje ustanovenia, teda konať správne: ten je spravodlivý a bude žiť, hovorí Pán, Boh.' where spis = 'Ez' and vers = 1 and k = 18 and v = 9
update biblia set nvg = 'Ale ak splodí syna násilníka, ktorý prelieva krv a dopúšťa sa niektorého z_týchto hriechov ' where spis = 'Ez' and vers = 1 and k = 18 and v = 10
update biblia set nvg = '— aj keď on sám neurobí nič také —: jedáva na výšinách a zneucťuje manželku svojho blížneho, ' where spis = 'Ez' and vers = 1 and k = 18 and v = 11
update biblia set nvg = 'utláča chudáka a bedára, násilím uchvacuje, nevracia záloh, svoje oči dvíha k_modlám, pácha ohavnosti, ' where spis = 'Ez' and vers = 1 and k = 18 and v = 12
update biblia set nvg = 'požičiava na úžeru a prijíma úroky, azda bude žiť? Nebude žiť. Keď bude páchať všetky tieto ohavnosti, naisto zomrie a sám bude zodpovedný za svoju smrť.' where spis = 'Ez' and vers = 1 and k = 18 and v = 13
go
update biblia set nvg = 'Ten, kto zhrešil, zomrie. Syn neponesie neprávosť otca a otec neponesie neprávosť syna. Spravodlivosť spravodlivého bude na ňom a bezbožnosť bezbožného bude na ňom.' where spis = 'Ez' and vers = 1 and k = 18 and v = 20
update biblia set nvg = 'Ale ak sa hriešnik odvráti od všetkých hriechov, ktoré popáchal, a zachová všetky moje príkazy a bude konať podľa práva a spravodlivosti, určite bude žiť, nezomrie. ' where spis = 'Ez' and vers = 1 and k = 18 and v = 21
update biblia set nvg = 'Nepripomenie sa mu ani jeden z_hriechov, ktoré popáchal. Bude žiť pre spravodlivosť, ktorú konal. ' where spis = 'Ez' and vers = 1 and k = 18 and v = 22
update biblia set nvg = 'Azda môžem chcieť smrť bezbožného — hovorí Pán, Boh, — a nie aby sa odvrátil od svojich ciest a žil?' where spis = 'Ez' and vers = 1 and k = 18 and v = 23
update biblia set nvg = 'Ale ak sa spravodlivý odvráti od svojej spravodlivosti a spácha zločin podobný ohavnostiam, aké páchajú hriešnici, môže potom žiť? Nepripomenie sa ani jeden zo spravodlivých skutkov, ktoré robil. Zomrie pre svoju vierolomnosť, ktorej sa dopustil, a pre svoj hriech, ktorý spáchal. ' where spis = 'Ez' and vers = 1 and k = 18 and v = 24
update biblia set nvg = 'Vravíte: ‚Nie je správne, ako koná Pán.‘ Počujte teda, vy z_izraelského domu! Ja že nekonám správne? A nekonáte skôr vy nesprávne? ' where spis = 'Ez' and vers = 1 and k = 18 and v = 25
update biblia set nvg = 'Ak sa spravodlivý odvráti od svojej spravodlivosti a pácha neprávosť, zomrie: zomrie pre neprávosť, ktorú spáchal. ' where spis = 'Ez' and vers = 1 and k = 18 and v = 26
update biblia set nvg = 'Ak sa však bezbožný odvráti od svojej bezbožnosti, ktorú páchal, a koná podľa práva a spravodlivosti, zachráni si život. ' where spis = 'Ez' and vers = 1 and k = 18 and v = 27
update biblia set nvg = 'Keď teda uzná všetky svoje neprávosti, ktoré popáchal, a odvráti sa od nich, určite bude žiť, nezomrie. ' where spis = 'Ez' and vers = 1 and k = 18 and v = 28
update biblia set nvg = 'Ale dom Izraela hovorí: ‚Nie je správne, ako koná Pán.‘ Ja že nekonám správne, dom Izraela? A nekonáte skôr vy nesprávne? ' where spis = 'Ez' and vers = 1 and k = 18 and v = 29
update biblia set nvg = 'Preto vás každého, dom Izraela, budem súdiť podľa jeho skutkov, hovorí Pán, Boh. Obráťte sa teda, odvráťte sa od všetkých svojich neprávostí, aby vás nepriviedli k_pádu. ' where spis = 'Ez' and vers = 1 and k = 18 and v = 30
update biblia set nvg = 'Odvrhnite od seba všetky svoje hriechy, ktorých ste sa dopúšťali, a obnovte si srdce i_ducha. Veď prečo by ste mali zomrieť, dom Izraela? ' where spis = 'Ez' and vers = 1 and k = 18 and v = 31
update biblia set nvg = 'Ja nemám záľubu v_smrti človeka, hovorí Pán, Boh. Obráťte sa a žite.“' where spis = 'Ez' and vers = 1 and k = 18 and v = 32
go

-- OCR25NEc_CIT1	24, 15-27
-- 455	Ez 24, 15-24
update biblia set lh_id = 'OCR25NEc_CIT1' where spis = 'Ez' and vers = 1 and k = 24 and v between 15 and 27
go
update biblia set lc_id = 455 where spis = 'Ez' and vers = 1 and k = 24 and v between 15 and 24
go

update biblia set nvg = 'Pán prehovoril ku mne takto: ' where spis = 'Ez' and vers = 1 and k = 24 and v = 15
update biblia set nvg = '„Syn človeka, ja ťa stihnem ranou: vezmem ti potešenie tvojich očí, ale plakať nesmieš ani nariekať; slzy nech ti netečú. ' where spis = 'Ez' and vers = 1 and k = 24 and v = 16
update biblia set nvg = 'Tíško vzdychaj, smútočný nárek nekonaj, hlavu si oviň turbanom, obuj si sandále, bradu si nezahaľuj a smútočný pokrm nejedz.“ ' where spis = 'Ez' and vers = 1 and k = 24 and v = 17
update biblia set nvg = 'Ráno som teda hovoril ľudu a večer mi zomrela žena. Na druhé ráno som robil, ako mi rozkázal. ' where spis = 'Ez' and vers = 1 and k = 24 and v = 18
update biblia set nvg = 'A ľud mi hovoril: „Prečo nám nepovieš, čo to znamená, čo robíš?“ ' where spis = 'Ez' and vers = 1 and k = 24 and v = 19
update biblia set nvg = 'Povedal som im: „Pán ku mne prehovoril: ' where spis = 'Ez' and vers = 1 and k = 24 and v = 20
update biblia set nvg = 'Povedz Izraelovmu domu: Toto hovorí Pán, Boh: Hľa, ja znevážim svoju svätyňu, pýchu vašej sily, potešenie vašich očí a túžbu vašej duše. Vaši synovia a dcéry, ktorých ste zanechali, padnú pod mečom. ' where spis = 'Ez' and vers = 1 and k = 24 and v = 21
update biblia set nvg = 'A budete robiť, ako ja robím: bradu si nezahalíte a nebudete jesť smútočný pokrm; ' where spis = 'Ez' and vers = 1 and k = 24 and v = 22
update biblia set nvg = 'turbany budete mať na hlavách a sandále na nohách: nebudete plakať ani nariekať, ale budete chradnúť pre svoje neprávosti a vzdychať brat popri bratovi. ' where spis = 'Ez' and vers = 1 and k = 24 and v = 23
update biblia set nvg = 'A Ezechiel vám bude znamením: keď to príde, budete robiť všetko, ako on robil, a spoznáte, že ja som Pán, Boh.' where spis = 'Ez' and vers = 1 and k = 24 and v = 24
update biblia set nvg = 'A ty, syn človeka, v_deň, keď im vezmem ich silu, radosť z_hrdosti, potešenie ich očí a túžbu ich duše, ich synov i_dcéry, ' where spis = 'Ez' and vers = 1 and k = 24 and v = 25
update biblia set nvg = 'v_ten deň, keď príde za tebou utečenec, aby ti to oznámil, ' where spis = 'Ez' and vers = 1 and k = 24 and v = 26
update biblia set nvg = 'v_ten deň, hovorím, otvoria sa s_utečencom tvoje ústa a budeš hovoriť; už nebudeš mlčať a budeš im znamením a poznajú, že ja som Pán.“' where spis = 'Ez' and vers = 1 and k = 24 and v = 27
go

-- 456	Ez 28, 1-10
update biblia set lc_id = 456 where spis = 'Ez' and vers = 1 and k = 28 and v between 1 and 10
go

update biblia set nvg = 'Pán prehovoril ku mne takto: ' where spis = 'Ez' and vers = 1 and k = 28 and v = 1
update biblia set nvg = '"Syn človeka, povedz týrskemu kniežaťu: Toto hovorí Pán, Boh: Pre pýchu tvojho srdca, pretože si hovoril: »Ja som Boh, sedím na božskom tróne, uprostred mora!«; hoci si len človek, a nie boh, a v srdci sa pokladáš za Boha. ' where spis = 'Ez' and vers = 1 and k = 28 and v = 2
update biblia set nvg = 'Múdrejší si ako Daniel, nijaké tajomstvo nie je ukryté pred tebou. ' where spis = 'Ez' and vers = 1 and k = 28 and v = 3
update biblia set nvg = 'Svojou múdrosťou a rozumnosťou si si nadobudol bohatstvo, získal si zlato a striebro do svojich pokladníc; ' where spis = 'Ez' and vers = 1 and k = 28 and v = 4
update biblia set nvg = 'svojou veľkou múdrosťou a obchodom si zveľadil svoje bohatstvo a s bohatstvom spyšnelo tvoje srdce.' where spis = 'Ez' and vers = 1 and k = 28 and v = 5
update biblia set nvg = 'Preto toto hovorí Pán, Boh: Pretože si sa v srdci pokladal za boha, ' where spis = 'Ez' and vers = 1 and k = 28 and v = 6
update biblia set nvg = 'ja privediem proti tebe cudzincov, najnásilnejší národ: vytasia svoje meče na krásu tvojej múdrosti a potupia tvoju nádheru. ' where spis = 'Ez' and vers = 1 and k = 28 and v = 7
update biblia set nvg = 'Zvrhnú ťa do jamy a zomrieš ako tí, čo sú zabití uprostred mora. ' where spis = 'Ez' and vers = 1 and k = 28 and v = 8
update biblia set nvg = 'Vari budeš vravieť: ‚Ja som Boh!‘ do očí svojich vrahov? Veď si človek len, a nie boh, v rukách tých, čo ťa zabijú!' where spis = 'Ez' and vers = 1 and k = 28 and v = 9
update biblia set nvg = 'Zomrieš smrťou neobrezancov, rukami cudzincov, lebo som to ja povedal," hovorí Pán, Boh.' where spis = 'Ez' and vers = 1 and k = 28 and v = 10
go

-- 458	Ez 33, 7-9
update biblia set lc_id = 458 where spis = 'Ez' and vers = 1 and k = 33 and v between 7 and 9
go

update biblia set nvg = 'Toto hovorí Pán: "Syn človeka, ustanovil som ťa za strážcu Izraelovho domu. Keď budeš počuť z mojich úst slovo, napomeň ich v mojom mene.' where spis = 'Ez' and vers = 1 and k = 33 and v = 7
update biblia set nvg = 'Ak poviem bezbožnému: Bezbožný, zomrieš, a ty mu nebudeš dohovárať, aby sa odvrátil od svojej cesty, on, bezbožný, zomrie pre svoju neprávosť, ale teba budem brať na zodpovednosť za jeho krv.' where spis = 'Ez' and vers = 1 and k = 33 and v = 8
update biblia set nvg = 'Ak však napomenieš bezbožného, aby sa odvrátil od svojich ciest, a on sa neodvráti od svojej cesty, zomrie pre svoju neprávosť, ale ty si život zachrániš."' where spis = 'Ez' and vers = 1 and k = 33 and v = 9
go

-- OCR25POc_CIT1	34, 1-6. 11-16. 23-31
-- 459	Ez 34, 1-11
-- 460	Ez 34, 11-12. 15-17
-- 461	Ez 34, 11-16
-- 462	Ez 34, 11-16
update biblia set lh_id = 'OCR25POc_CIT1' where spis = 'Ez' and vers = 1 and k = 34 and v between 1 and 6
update biblia set lh_id = 'OCR25POc_CIT1' where spis = 'Ez' and vers = 1 and k = 34 and v between 11 and 16
update biblia set lh_id = 'OCR25POc_CIT1' where spis = 'Ez' and vers = 1 and k = 34 and v between 23 and 31
go
update biblia set lc_id = 459 where spis = 'Ez' and vers = 1 and k = 34 and v between 1 and 11
update biblia set lc_id = 461 where spis = 'Ez' and vers = 1 and k = 34 and v between 12 and 14
update biblia set lc_id = 460 where spis = 'Ez' and vers = 1 and k = 34 and v between 15 and 17
go

update biblia set nvg = 'Pán prehovoril ku mne takto: ' where spis = 'Ez' and vers = 1 and k = 34 and v = 1
update biblia set nvg = '„Syn človeka, prorokuj o_pastieroch Izraela; prorokuj a povedz pastierom: Toto hovorí Pán, Boh: Beda pastierom Izraela, ktorí pásli seba! Vari pastieri nemajú pásť stádo? ' where spis = 'Ez' and vers = 1 and k = 34 and v = 2
update biblia set nvg = 'Mlieko ste jedli, vlnou ste sa odievali, vykŕmené ste zabíjali, ale stádo ste nepásli. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 3
update biblia set nvg = 'Slabé ste neposilňovali, choré neliečili, zlomené neobviazali, rozpŕchnuté ste nezavrátili, stratené nehľadali, ale kruto a násilne ste panovali nad nimi. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 4
update biblia set nvg = 'Tak sa moje ovce rozpŕchli, lebo nebolo pastiera: stali sa korisťou divej zveri a roztratili sa. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 5
update biblia set nvg = 'Moje stádo blúdilo po všetkých vrchoch a po všetkých vyvýšených kopcoch; po šírej zemi sa roztratili moje stáda a nebolo toho, kto by ich hľadal, nebolo toho, kto by ich hľadal.' where spis = 'Ez' and vers = 1 and k = 34 and v = 6
update biblia set nvg = 'Preto, pastieri, počujte Pánovo slovo: ' where spis = 'Ez' and vers = 1 and k = 34 and v = 7
update biblia set nvg = 'Ako žijem, hovorí Pán, Boh, pretože sa moje stádo stalo korisťou, moje ovce sa stali pokrmom divej zveri, lebo nebolo pastiera; moji pastieri sa nestarali o moje stádo, pastieri pásli seba, a moje stádo nepásli, ' where spis = 'Ez' and vers = 1 and k = 34 and v = 8
update biblia set nvg = 'preto, pastieri, počujte Pánovo slovo.' where spis = 'Ez' and vers = 1 and k = 34 and v = 9
update biblia set nvg = 'Toto hovorí Pán, Boh: Ja sám prídem na pastierov a vezmem ich na zodpovednosť za moje stádo a už im nedovolím stádo pásť; pastieri už nebudú pásť seba: vytrhnem im moje stádo z úst, nebude im viac pokrmom.' where spis = 'Ez' and vers = 1 and k = 34 and v = 10
update biblia set nvg = 'Lebo toto hovorí Pán, Boh: Hľa, ja sám vyhľadám svoje ovce a ujmem sa ich. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 11
update biblia set nvg = 'Ako sa pastier ujíma svojho stáda, keď príde medzi svoje rozptýlené ovce, tak sa aj ja postarám o_svoje ovce a vyslobodím ich zovšadiaľ, kam sa rozpŕchli v_oblačnom a hmlistom čase. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 12
update biblia set nvg = 'Vyvediem ich spomedzi národov, zhromaždím ich z_krajín a privediem ich do vlasti. A budem ich pásť na izraelských vrchoch, v_dolinách a na lúčinách krajiny. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 13
update biblia set nvg = 'Budem ich vodiť na bohatú pastvu a ich ovčinec bude na vysokých vrchoch Izraela. Tam si odpočinú na zelenom trávniku, na izraelských vrchoch nájdu šťavnatú pastvu. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 14
update biblia set nvg = 'Ja sám budem pásť svoje ovce, ja im dám odpočinok, hovorí Pán, Boh. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 15
update biblia set nvg = 'Stratené ovce vyhľadám, rozptýlené privediem naspäť, zranené obviažem, slabé posilním, tučné a silné ochránim a budem ich pásť svedomito.' where spis = 'Ez' and vers = 1 and k = 34 and v = 16
update biblia set nvg = 'Tebe, moje stádo, hovorí Pán toto: "Hľa, ja budem súdiť medzi ovcou a ovcou, medzi baranmi a capmi.' where spis = 'Ez' and vers = 1 and k = 34 and v = 17
go
update biblia set nvg = 'Ustanovím nad nimi jedného pastiera, ktorý ich bude pásť, svojho služobníka Dávida; on ich bude pásť a on bude ich pastierom. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 23
update biblia set nvg = 'Ja, Pán, budem ich Bohom a môj služobník Dávid kniežaťom uprostred nich. Ja, Pán, som to povedal. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 24
update biblia set nvg = 'Uzavriem s_nimi zmluvu o_pokoji, odstránim z_krajiny zlú zver, takže budú bezpečne bývať na púšti a spávať v_lesoch. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 25
update biblia set nvg = 'Urobím ich a okolie môjho pahorku požehnaním a zošlem dážď v_svojom čase: budú to dažde požehnania. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 26
update biblia set nvg = 'Stromy na poli vydajú ovocie, aj zem vydá svoju úrodu a budú bez strachu vo svojej krajine a poznajú, že ja som Pán, keď polámem ihlice ich jarma a vytrhnem ich z_ruky tých, čo ich zotročujú. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 27
update biblia set nvg = 'Už nebudú korisťou národom, ani zemská zver ich nebude požierať, ale budú bývať bezpečne bez akéhokoľvek strachu. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 28
update biblia set nvg = 'A vzbudím im slávny výhonok, už ich neubudne od hladu v_krajine, ani viac nebudú znášať potupovanie národov ' where spis = 'Ez' and vers = 1 and k = 34 and v = 29
update biblia set nvg = 'a poznajú, že ja, Pán, ich Boh, som s_nimi a oni, dom Izraela, sú môj ľud, hovorí Pán, Boh. ' where spis = 'Ez' and vers = 1 and k = 34 and v = 30
update biblia set nvg = 'Vy ste moje stádo, vy ste stádo mojej pastviny a ja som Pán, váš Boh,“ hovorí Pán, Boh.' where spis = 'Ez' and vers = 1 and k = 34 and v = 31
go

-- OCR25UTc_CIT1	36, 16-36
-- 463	Ez 36, 16-17a. 18-28
-- 464	Ez 36, 23-28
update biblia set lh_id = 'OCR25UTc_CIT1' where spis = 'Ez' and vers = 1 and k = 36 and v between 16 and 36
go
update biblia set lc_id = 463 where spis = 'Ez' and vers = 1 and k = 36 and v between 16 and 28
go

update biblia set nvg = 'Pán prehovoril ku mne takto: ' where spis = 'Ez' and vers = 1 and k = 36 and v = 16
update biblia set nvg = '„Syn človeka, Izraelov dom býval na svojej pôde a poškvrnil ju svojím správaním a svojimi skutkami. Ich cesta bola predo mnou ako nečistota ženy v_jej čase. ' where spis = 'Ez' and vers = 1 and k = 36 and v = 17
update biblia set nvg = 'Preto som na nich vylial svoj hnev: pre krv, ktorú vylievali po zemi a poškvrnili ju svojimi modlami. ' where spis = 'Ez' and vers = 1 and k = 36 and v = 18
update biblia set nvg = 'Roztrúsil som ich medzi národy a rozptýlení sú po krajinách. Podľa ich správania a podľa ich skutkov som ich odsúdil. ' where spis = 'Ez' and vers = 1 and k = 36 and v = 19
update biblia set nvg = 'Išli medzi národy a všade, kam sa dostali, zhanobili moje sväté meno, lebo sa o_nich vravelo: ‚Toto je Pánov ľud a musel vyjsť zo svojej krajiny.‘ ' where spis = 'Ez' and vers = 1 and k = 36 and v = 20
update biblia set nvg = 'A mne záleží na mojom svätom mene, ktoré zhanobil dom Izraela medzi národmi, ku ktorým prišli.' where spis = 'Ez' and vers = 1 and k = 36 and v = 21
update biblia set nvg = 'Preto povedz Izraelovmu domu: Toto hovorí Pán, Boh: Nie kvôli vám budem konať, dom Izraela, ale z_úcty k_svojmu svätému menu, ktoré ste hanobili medzi národmi, ku ktorým ste prišli. ' where spis = 'Ez' and vers = 1 and k = 36 and v = 22
update biblia set nvg = 'Posvätím svoje veľké meno, zneuctené medzi národmi, ktoré ste uprostred nich hanobili. A národy spoznajú, že ja som Pán, keď na vás pred ich očami ukážem, že som svätý, — hovorí Pán, Boh. ' where spis = 'Ez' and vers = 1 and k = 36 and v = 23
update biblia set nvg = 'Vezmem vás spomedzi národov, zhromaždím vás zo všetkých krajín a zavediem vás do vlastnej krajiny. ' where spis = 'Ez' and vers = 1 and k = 36 and v = 24
update biblia set nvg = 'Potom na vás vylejem čistú vodu a budete očistení od všetkej špiny. Od všetkých vašich modiel vás očistím. ' where spis = 'Ez' and vers = 1 and k = 36 and v = 25
update biblia set nvg = 'Dám vám nové srdce a vložím do vás nového ducha. Odstránim z_vášho tela srdce kamenné a dám vám srdce z_mäsa. ' where spis = 'Ez' and vers = 1 and k = 36 and v = 26
update biblia set nvg = 'Vložím do vás svojho ducha a spôsobím, že budete kráčať podľa mojich príkazov, že budete zachovávať a plniť moje výroky. ' where spis = 'Ez' and vers = 1 and k = 36 and v = 27
update biblia set nvg = 'Budete bývať v_krajine, ktorú som dal vašim otcom, budete mojím ľudom a ja budem vaším Bohom. ' where spis = 'Ez' and vers = 1 and k = 36 and v = 28
update biblia set nvg = 'Oslobodím vás od všetkých vašich nečistôt, privolám obilie a rozmnožím ho a nedopustím na vás hlad. ' where spis = 'Ez' and vers = 1 and k = 36 and v = 29
update biblia set nvg = 'Rozmnožím ovocie stromov i_poľnú úrodu, aby ste už neznášali potupu pre hlad medzi národmi. ' where spis = 'Ez' and vers = 1 and k = 36 and v = 30
update biblia set nvg = 'I_rozpomeniete sa na svoje zlé cesty a nedobré skutky a budú vás mrzieť vaše neprávosti a vaše zločiny. ' where spis = 'Ez' and vers = 1 and k = 36 and v = 31
update biblia set nvg = 'Ja to nerobím pre vás, hovorí Pán, Boh, to nech vám je známe; hanbite sa a červenajte sa za svoje cesty, dom Izraela.' where spis = 'Ez' and vers = 1 and k = 36 and v = 32
update biblia set nvg = 'Toto hovorí Pán, Boh: V_deň, keď vás očistím od všetkých vašich neprávostí, keď osídlim mestá a znovu postavím, čo je zrúcané, ' where spis = 'Ez' and vers = 1 and k = 36 and v = 33
update biblia set nvg = 'a spustnutú pôdu budú znova obrábať — tú, čo bola pustinou pred očami každého, kto šiel okolo —, ' where spis = 'Ez' and vers = 1 and k = 36 and v = 34
update biblia set nvg = 'povedia: ‚Táto neobrobená zem je ako záhrada Edenu; opustené, pusté a rozborené mestá sú opevnené a obývané.‘ ' where spis = 'Ez' and vers = 1 and k = 36 and v = 35
update biblia set nvg = 'A národy, ktoré zostanú okolo vás, spoznajú, že ja, Pán, som postavil, čo bolo zborené, a vysadil, čo bolo zanedbané. Ja, Pán, som to povedal, aj to urobím.“' where spis = 'Ez' and vers = 1 and k = 36 and v = 36
go

-- OCR25STRc_CIT1	37, 1-14
-- OCR25STVc_CIT1	37, 15-28
-- 465	Ez 37, 1-14
-- 466	Ez 37, 1-14
-- 467	Ez 37, 12b-14
-- 468	Ez 37, 21-28
update biblia set lh_id = 'OCR25STRc_CIT1' where spis = 'Ez' and vers = 1 and k = 37 and v between 1 and 14
update biblia set lh_id = 'OCR25STVc_CIT1' where spis = 'Ez' and vers = 1 and k = 37 and v between 15 and 28
go
update biblia set lc_id = 465 where spis = 'Ez' and vers = 1 and k = 37 and v between 1 and 14
update biblia set lc_id = 468 where spis = 'Ez' and vers = 1 and k = 37 and v between 21 and 28
go

update biblia set nvg = 'V_tých dňoch spočinula na mne Pánova ruka, Pán ma v_duchu vyviedol a postavil uprostred údolia, ktoré bolo plné kostí, ' where spis = 'Ez' and vers = 1 and k = 37 and v = 1
update biblia set nvg = 'a vodil ma zôkol-vôkol pomedzi ne; bolo ich veľmi veľa v_údolí a boli už celkom zoschnuté. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 2
update biblia set nvg = 'A povedal mi: „Syn človeka, ožijú tieto kosti?“ Povedal som: „Pane, ty to vieš.“ ' where spis = 'Ez' and vers = 1 and k = 37 and v = 3
update biblia set nvg = 'Potom mi povedal: „Prorokuj o_týchto kostiach a povedz im: Suché kosti, počujte Pánovo slovo! ' where spis = 'Ez' and vers = 1 and k = 37 and v = 4
update biblia set nvg = 'Toto hovorí Pán, Boh, týmto kostiam: Hľa, ja vložím do vás ducha a ožijete. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 5
update biblia set nvg = 'Pripevním na vás šľachy, nechám vás obrásť mäsom, obtiahnem vás kožou, dám vám ducha, ožijete a spoznáte, že ja som Pán!“ ' where spis = 'Ez' and vers = 1 and k = 37 and v = 6
update biblia set nvg = 'Prorokoval som teda, ako mi rozkázal. Ako som prorokoval, nastal hrkot a pohyb: kosť sa priblížila ku kosti, každá k_svojmu kĺbu. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 7
update biblia set nvg = 'Pozeral som sa a hľa, obložili ich šľachy a mäso a zvrchu ich obtiahla koža, ale ducha v_nich nebolo. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 8
update biblia set nvg = 'Vtedy mi povedal: „Prorokuj o_duchu, prorokuj, syn človeka. Povedz duchu: Toto hovorí Pán, Boh: Duch, príď od štyroch vetrov a ovej týchto pozabíjaných, nech ožijú.“ ' where spis = 'Ez' and vers = 1 and k = 37 and v = 9
update biblia set nvg = 'Prorokoval som teda, ako mi rozkázal, a vošiel do nich duch. Ožili a postavili sa na nohy — nesmierne veľké vojsko.' where spis = 'Ez' and vers = 1 and k = 37 and v = 10
update biblia set nvg = 'Potom mi povedal: „Syn človeka, tieto kosti, to je celý dom Izraela. Oni hovoria: ‚Zoschli nám kosti, zhynula naša nádej, sme stratení.‘ ' where spis = 'Ez' and vers = 1 and k = 37 and v = 11
update biblia set nvg = 'Preto prorokuj a povedz im: Toto hovorí Pán, Boh: Ľud môj, ja otvorím vaše hroby, vyvediem vás z_vašich hrobov a vovediem vás do krajiny Izraela. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 12
update biblia set nvg = 'A spoznáte, že ja som Pán, keď otvorím vaše hroby a vyvediem vás z_vašich hrobov, ľud môj. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 13
update biblia set nvg = 'Vložím do vás svojho ducha a ožijete. Usadím vás na vlastnej pôde a spoznáte, že ja som Pán. Povedal som a splním,“ hovorí Pán, Boh.' where spis = 'Ez' and vers = 1 and k = 37 and v = 14
update biblia set nvg = 'Pán prehovoril ku mne takto: ' where spis = 'Ez' and vers = 1 and k = 37 and v = 15
update biblia set nvg = '„A ty, syn človeka, vezmi si kus dreva a napíš naň: Júdovi a jeho spoločníkom, synom Izraela. Potom vezmi iné drevo a napíš naň: Jozefovi — Efraimovo drevo — a jeho spoločníkom, celému domu Izraela. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 16
update biblia set nvg = 'A spoj si ich jedno s_druhým v_jedno drevo a budú jedným v_tvojej ruke. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 17
update biblia set nvg = 'A keď sa ťa synovia tvojho ľudu opýtajú: ‚Nevysvetlíš nám, čo tým chceš?‘, ' where spis = 'Ez' and vers = 1 and k = 37 and v = 18
update biblia set nvg = 'povieš im: Toto hovorí Pán, Boh: Hľa, ja vezmem Jozefovo drevo, ktoré je v_ruke Efraima, a kmene Izraela, ktoré sú s_ním spojené, priložím ich k_Júdovmu drevu a urobím z_nich jedno drevo; ' where spis = 'Ez' and vers = 1 and k = 37 and v = 19
update biblia set nvg = 'budú jedno v_mojej ruke. Drevá, na ktoré napíšeš, budú v_tvojej ruke pred ich očami ' where spis = 'Ez' and vers = 1 and k = 37 and v = 20
update biblia set nvg = 'a povieš im: Toto hovorí Pán, Boh: Hľa, ja vezmem synov Izraela spomedzi národov, medzi ktoré išli, zhromaždím ich zovšadiaľ ' where spis = 'Ez' and vers = 1 and k = 37 and v = 21
update biblia set nvg = 'a privediem ich do vlastnej krajiny a urobím z_nich jeden národ v_krajine, na vrchoch Izraela. Všetkým bude vládnuť jeden kráľ a už nebudú viac dva národy, ani sa nebudú deliť na dve kráľovstvá. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 22
update biblia set nvg = 'Už sa nebudú poškvrňovať svojimi modlami, svojimi ohavnosťami a všelijakými svojimi neprávosťami. Vyslobodím ich zo všetkých neverností, ktorými sa prehrešili, očistím ich a budú mojím ľudom a ja budem ich Bohom. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 23
update biblia set nvg = 'Môj služobník Dávid bude ich kráľom a všetci budú mať jedného pastiera. Budú kráčať podľa mojich ustanovení, budú zachovávať a uskutočňovať moje nariadenia. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 24
update biblia set nvg = 'Budú bývať v_krajine, ktorú som dal svojmu služobníkovi Jakubovi a v_ktorej bývali vaši otcovia. Budú v_nej bývať oni, ich deti a deti ich detí navždy a môj služobník Dávid bude ich kráľom naveky. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 25
update biblia set nvg = 'Uzavriem s_nimi zmluvu pokoja. Bude to večná zmluva s_nimi, že ich usadím a rozmnožím a uprostred nich navždy umiestim svoju svätyňu. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 26
update biblia set nvg = 'Budem bývať s_nimi, budem ich Bohom a oni budú mojím ľudom. ' where spis = 'Ez' and vers = 1 and k = 37 and v = 27
update biblia set nvg = 'A národy poznajú, že ja som Pán, ktorý posväcuje Izraela; veď uprostred nich bude navždy moja svätyňa.“' where spis = 'Ez' and vers = 1 and k = 37 and v = 28
go

-- OCR25PIc_CIT1	40, 1-4; 43, 1-12; 44, 6-9
-- 469	Ez 43, 1-2. 4-7a
-- 470	Ez 43, 1-7a
update biblia set lh_id = 'OCR25PIc_CIT1' where spis = 'Ez' and vers = 1 and k = 40 and v between 1 and 4
update biblia set lh_id = 'OCR25PIc_CIT1' where spis = 'Ez' and vers = 1 and k = 43 and v between 1 and 12
update biblia set lh_id = 'OCR25PIc_CIT1' where spis = 'Ez' and vers = 1 and k = 44 and v between 6 and 9
go
update biblia set lc_id = 470 where spis = 'Ez' and vers = 1 and k = 43 and v between 1 and 7
go

update biblia set nvg = 'V_dvadsiatom piatom roku nášho zajatia, na začiatku roka, v_desiatom mesiaci štrnásteho roku po dobytí mesta, práve v_ten deň spočinula na mne Pánova ruka a zaviedla ma ta. ' where spis = 'Ez' and vers = 1 and k = 40 and v = 1
update biblia set nvg = 'V_Božích videniach ma zaviedol do izraelskej krajiny a postavil ma na veľmi vysoký vrch, na ktorom akoby bola stavba mesta od juhu. ' where spis = 'Ez' and vers = 1 and k = 40 and v = 2
update biblia set nvg = 'Voviedol ma ta a hľa, muž, ktorý vyzeral, akoby bol z_bronzu. V_ruke mal ľanový povrázok a meraciu trstinu. Stál v_bráne. ' where spis = 'Ez' and vers = 1 and k = 40 and v = 3
update biblia set nvg = 'A tento muž ma oslovil: „Syn človeka, svojimi očami pozeraj a ušami počúvaj a pozorne sleduj všetko, čo ti ukážem, lebo si bol sem privedený na to, aby som ti to ukázal. A všetko, čo uvidíš, oznám domu Izraela.“' where spis = 'Ez' and vers = 1 and k = 40 and v = 4
go
update biblia set nvg = 'I zaviedol ma k_bráne obrátenej na východ. ' where spis = 'Ez' and vers = 1 and k = 43 and v = 1
update biblia set nvg = 'A hľa, od východu prichádzala veleba Izraelovho Boha; jej šum bol ako šum veľkých vôd a zem žiarila od jeho vznešenosti. ' where spis = 'Ez' and vers = 1 and k = 43 and v = 2
update biblia set nvg = 'Zjav, ktorý som videl, bol ten istý, čo som videl, keď prišiel spustošiť mesto; bol podobný zjavu pri videní, ktoré som mal pri rieke Chobar; a padol som na tvár.' where spis = 'Ez' and vers = 1 and k = 43 and v = 3
update biblia set nvg = 'Pánova veleba vošla do chrámu cez bránu obrátenú na východ. ' where spis = 'Ez' and vers = 1 and k = 43 and v = 4
update biblia set nvg = 'Tu ma duch zdvihol a voviedol do vnútorného nádvoria; a hľa, dom bol plný Pánovej veleby. ' where spis = 'Ez' and vers = 1 and k = 43 and v = 5
update biblia set nvg = 'A počul som, ako ktosi ku mne z_domu hovorí — pri mne stál muž ' where spis = 'Ez' and vers = 1 and k = 43 and v = 6
update biblia set nvg = 'a hovoril mi: „Syn človeka, tu je môj trón a miesto, kde stoja moje nohy, tu budem bývať uprostred synov Izraela naveky. A dom Izraela už nebude zneucťovať moje sväté meno, ani oni, ani ich králi, ani svojím smilstvom, ani mŕtvolami svojich kráľov, keď zomrú tí, ' where spis = 'Ez' and vers = 1 and k = 43 and v = 7
update biblia set nvg = 'čo si urobili svoj prah vedľa môjho prahu a svoje veraje vedľa mojich verají, a stena bola medzi mnou a nimi, a zneuctili moje sväté meno ohavnosťami, ktoré popáchali. Preto som ich v_svojom hneve zahubil. ' where spis = 'Ez' and vers = 1 and k = 43 and v = 8
update biblia set nvg = 'Teraz teda nech ďaleko zaženú svoje smilstvo a mŕtvoly svojich kráľov odo mňa a budem bývať uprostred nich stále.' where spis = 'Ez' and vers = 1 and k = 43 and v = 9
update biblia set nvg = 'A ty, syn človeka, ukáž domu Izraela chrám, nech sa hanbia za svoje neprávosti a nech premerajú stavbu. ' where spis = 'Ez' and vers = 1 and k = 43 and v = 10
update biblia set nvg = 'A ak sa budú hanbiť za všetko, čo popáchali, opíš dom a jeho zariadenie, východ i_vchod, celú jeho podobu a všetky prikázania o_ňom i_všetky jeho zákony im ukáž a napíš pred ich očami, aby zachovali celú jeho podobu a všetky prikázania o_ňom a plnili ich. ' where spis = 'Ez' and vers = 1 and k = 43 and v = 11
update biblia set nvg = 'Toto je zákon domu na temene vrchu: Celé jeho územie dookola je veľmi sväté. Takýto je teda zákon domu.' where spis = 'Ez' and vers = 1 and k = 43 and v = 12
go
update biblia set nvg = 'A povieš spurnému domu Izraela: Toto hovorí Pán, Boh: Nech vám už stačia všetky vaše ohavnosti, dom Izraela. ' where spis = 'Ez' and vers = 1 and k = 44 and v = 6
update biblia set nvg = 'Lebo ste voviedli cudzincov neobrezaných srdcom a neobrezaných na tele, aby boli v_mojej svätyni a poškvrnili môj dom, keď prinášate na obetu môj chlieb, tuk a krv. Porušili ste moju zmluvu všetkými svojimi ohavnosťami, ' where spis = 'Ez' and vers = 1 and k = 44 and v = 7
update biblia set nvg = 'neplnili ste službu cez mojich posvätených, ale ich ste mi ustanovili za služobníkov v_mojej svätyni. Preto ' where spis = 'Ez' and vers = 1 and k = 44 and v = 8
update biblia set nvg = 'toto hovorí Pán, Boh: Nijaký cudzinec neobrezaný srdcom a neobrezaný na tele nevojde do mojej svätyne, nijaký cudzinec, ktorý je uprostred synov Izraela.“' where spis = 'Ez' and vers = 1 and k = 44 and v = 9
go

-- OCR25SOc_CIT1	47, 1-12
-- 471	Ez 47, 1-2. 8-9. 12
-- 472	Ez 47, 1-9. 12
update biblia set lh_id = 'OCR25SOc_CIT1' where spis = 'Ez' and vers = 1 and k = 47 and v between 1 and 12
go
update biblia set lc_id = 472 where spis = 'Ez' and vers = 1 and k = 47 and v between 1 and 9
update biblia set lc_id = 472 where spis = 'Ez' and vers = 1 and k = 47 and v = 12
go

update biblia set nvg = '[Potom] ma obrátil k_bráne chrámu, a hľa, spod prahu chrámu vyvierala voda smerom na východ — na východ bolo totiž obrátené chrámové priečelie — a tiekla z_pravej strany chrámu, južne od oltára. ' where spis = 'Ez' and vers = 1 and k = 47 and v = 1
update biblia set nvg = 'Potom ma vyviedol severnou bránou von a obrátil ma smerom k_vonkajšej bráne, obrátenej na východ, a hľa, voda vytekala z_pravej strany. ' where spis = 'Ez' and vers = 1 and k = 47 and v = 2
update biblia set nvg = 'Vtom vyšiel smerom na východ muž s_meradlom v_ruke. Odmeral tisíc lakťov a previedol ma cez vodu — bola po členky. ' where spis = 'Ez' and vers = 1 and k = 47 and v = 3
update biblia set nvg = 'Zasa odmeral tisíc lakťov a previedol ma cez vodu — bola po kolená. ' where spis = 'Ez' and vers = 1 and k = 47 and v = 4
update biblia set nvg = 'Znova odmeral tisíc lakťov a previedol ma cez vodu — bola po pás. Odmeral ešte tisíc lakťov a bola to rieka, cez ktorú som nemohol prejsť, lebo voda sa tak zdvihla, že bolo po nej treba plávať; bola to rieka, ktorú nemožno prebrodiť. ' where spis = 'Ez' and vers = 1 and k = 47 and v = 5
update biblia set nvg = 'A povedal mi: „Videl si, syn človeka.“ Potom ma zaviedol na breh rieky a obrátil. ' where spis = 'Ez' and vers = 1 and k = 47 and v = 6
update biblia set nvg = 'Keď som sa obrátil, videl som na oboch brehoch rieky veľké množstvo stromov. ' where spis = 'Ez' and vers = 1 and k = 47 and v = 7
update biblia set nvg = 'A povedal mi: „Táto voda prúdi do východnej krajiny, preteká cez Arabu, vleje sa do mora, do slaných vôd, ' where spis = 'Ez' and vers = 1 and k = 47 and v = 8
update biblia set nvg = 'a vody sa uzdravia. A všade, kam sa rieka dostane, bude žiť všetko, čo sa hýbe; bude veľmi mnoho rýb všade, kam sa dostane táto voda; ozdravie a žiť bude všetko, k_čomu sa rieka dostane. ' where spis = 'Ez' and vers = 1 and k = 47 and v = 9
update biblia set nvg = 'Pri mori budú stáť rybári; od Engaddi až po Engallim sa budú sušievať siete. Bude v_ňom viac druhov rýb, ako je rýb vo Veľkom mori, nesmierne množstvo. ' where spis = 'Ez' and vers = 1 and k = 47 and v = 10
update biblia set nvg = 'Ale jeho bariny a močiare nebudú uzdravené, budú ponechané soli. ' where spis = 'Ez' and vers = 1 and k = 47 and v = 11
update biblia set nvg = 'Pri rieke, na oboch jej brehoch, budú rásť rozličné ovocné stromy. Lístie z_nich neopadne a nikdy nebudú bez ovocia. Každý mesiac prinesú čerstvé plody, lebo jej voda vyteká zo svätyne. Ich ovocie bude pokrmom a ich lístie liekom.“' where spis = 'Ez' and vers = 1 and k = 47 and v = 12
go

-- OCR24STRc_CIT1 resp. 	Ez 10, 4. 18a
update biblia set lh_id = 'OCR24STRc_CIT1 resp.' where spis = 'Ez' and vers = 1 and k = 10 and v = 4
go
update biblia set nvg = 'Pánova veleba sa zdvihla [sponad cherubínov] nad prah domu, dom sa naplnil oblakom a nádvorie sa naplnilo jasom Pánovej veleby.' where spis = 'Ez' and vers = 1 and k = 10 and v = 4
go

-- POST1_9POCIT5/VTYZ_9POCIT	Ez 33, 10. 11a
update biblia set lh_id = 'POST1_9POCIT5' where spis = 'Ez' and vers = 1 and k = 33 and v between 10 and 11
go
update biblia set nvg = '[...] Naše neprávosti a naše hriechy nás presahujú a my v_nich hynieme. Ako potom môžeme žiť? ' where spis = 'Ez' and vers = 1 and k = 33 and v = 10
update biblia set nvg = '[...] Ako žijem, hovorí Pán, Boh, nechcem smrť bezbožného, ale aby sa bezbožný odvrátil od svojej cesty a žil. [...]' where spis = 'Ez' and vers = 1 and k = 33 and v = 11
go

-- VIAN1_9CIT5	Ez 20, 41-42a
update biblia set lh_id = 'VIAN1_9CIT5' where spis = 'Ez' and vers = 1 and k = 20 and v between 41 and 42
go
update biblia set nvg = 'Prijmem vás ako ľúbeznú vôňu, keď vás vyvediem spomedzi národov a zhromaždím z_krajín, po ktorých ste rozptýlení, a zjavím na vás svoju svätosť pred očami pohanov. ' where spis = 'Ez' and vers = 1 and k = 20 and v = 41
update biblia set nvg = 'Vtedy spoznáte, že ja som Pán. [...]' where spis = 'Ez' and vers = 1 and k = 20 and v = 42
go

