-- OCR28UTc_CIT1	1, 1 – 2, 4
update biblia set lh_id = 'OCR28UTc_CIT1' where spis = 'Zach' and vers = 1 and k = 1 and v between 1 and 17
update biblia set lh_id = 'OCR28UTc_CIT1' where spis = 'Zach' and vers = 1 and k = 2 and v between 1 and 4
go

update biblia set nvg = 'V_ôsmom mesiaci, v_druhom roku Dária, zaznelo Pánovo slovo prorokovi Zachariášovi, synovi Barachiáša, syna Addu: ' where spis = 'Zach' and vers = 1 and k = 1 and v = 1
update biblia set nvg = '„Pán sa veľmi rozhneval na vašich otcov. ' where spis = 'Zach' and vers = 1 and k = 1 and v = 2
update biblia set nvg = 'Povieš im: Toto hovorí Pán zástupov: Obráťte sa ku mne, hovorí Pán zástupov, a ja sa obrátim k_vám, hovorí Pán zástupov. ' where spis = 'Zach' and vers = 1 and k = 1 and v = 3
update biblia set nvg = 'Nebuďte ako vaši otcovia, ku ktorým volali niekdajší proroci: Toto hovorí Pán zástupov: Zanechajte svoje zlé cesty a svoje zlé zámery. Ale nepočúvali, ani si ma nevšimli, hovorí Pán. ' where spis = 'Zach' and vers = 1 and k = 1 and v = 4
update biblia set nvg = 'Kde sú vaši otcovia? A proroci budú vari žiť naveky? ' where spis = 'Zach' and vers = 1 and k = 1 and v = 5
update biblia set nvg = 'Ale azda moje slová a moje prikázania, ktoré som odovzdal svojim služobníkom prorokom, nedosiahli vašich otcov? Takže sa obrátili a povedali: ‚Ako si Pán zástupov zaumienil urobiť s_nami, podľa našich ciest a podľa našich skutkov, tak s_nami urobil.‘“' where spis = 'Zach' and vers = 1 and k = 1 and v = 6
update biblia set nvg = 'V_dvadsiaty štvrtý deň jedenásteho mesiaca, čiže mesiaca Sabat, v_druhom roku Dária, zaznelo Pánovo slovo prorokovi Zachariášovi, synovi Barachiáša, syna Addu: ' where spis = 'Zach' and vers = 1 and k = 1 and v = 7
update biblia set nvg = '„V_noci som videl muža, sedel na ryšavom koni a stál v_hlbine medzi myrtami. Za ním boli kone ryšavé, plavé a biele. ' where spis = 'Zach' and vers = 1 and k = 1 and v = 8
update biblia set nvg = 'I_povedal som: ‚Kto sú to, môj Pane?‘ A anjel, čo so mnou hovoril, mi povedal: ‚Ja ti ukážem, kto sú to.‘ ' where spis = 'Zach' and vers = 1 and k = 1 and v = 9
update biblia set nvg = 'Tu povedal muž, ktorý stál medzi myrtami: ‚To sú tí, ktorých poslal Pán, aby prešli zem.‘ ' where spis = 'Zach' and vers = 1 and k = 1 and v = 10
update biblia set nvg = 'A oni povedali Pánovmu anjelovi, ktorý stál medzi myrtami: ‚Poprechodili sme zem a celá zem je obývaná a v_pokoji.‘' where spis = 'Zach' and vers = 1 and k = 1 and v = 11
update biblia set nvg = 'A Pánov anjel povedal: ‚Pane zástupov, dokedy sa ešte nezmiluješ nad Jeruzalemom a nad judejskými mestami, na ktoré si sa rozhneval? Toto je už sedemdesiat rokov!‘ ' where spis = 'Zach' and vers = 1 and k = 1 and v = 12
update biblia set nvg = 'A Pán odpovedal anjelovi, čo hovoril so mnou dobré slová, slová útechy. ' where spis = 'Zach' and vers = 1 and k = 1 and v = 13
update biblia set nvg = 'A anjel, čo hovoril so mnou, mi povedal: ‚Volaj: Toto povedal Pán zástupov: Veľmi horlím za Jeruzalem a za Sion, ' where spis = 'Zach' and vers = 1 and k = 1 and v = 14
update biblia set nvg = 'ale veľmi sa hnevám na bohaté národy, lebo keď som sa málo hneval, oni napomáhali zlo. ' where spis = 'Zach' and vers = 1 and k = 1 and v = 15
update biblia set nvg = 'Preto toto hovorí Pán: Vrátim sa k_Jeruzalemu s_milosrdenstvom. Postavia v_ňom môj dom, hovorí Pán zástupov, a meraciu šnúru natiahnu nad Jeruzalemom. ' where spis = 'Zach' and vers = 1 and k = 1 and v = 16
update biblia set nvg = 'A ešte volaj: Toto hovorí Pán zástupov: Ešte budú moje mestá oplývať dobrami a Pán ešte poteší Sion a vyvolí si Jeruzalem.‘' where spis = 'Zach' and vers = 1 and k = 1 and v = 17
go
update biblia set nvg = 'Tu som zdvihol oči a videl som štyri rohy. ' where spis = 'Zach' and vers = 1 and k = 2 and v = 1
update biblia set nvg = 'Anjelovi, čo hovoril so mnou, som povedal: ‚Čo je to?‘ On mi povedal: ‚To sú rohy, ktoré rozmetali Júdu, Izrael a Jeruzalem.‘ ' where spis = 'Zach' and vers = 1 and k = 2 and v = 2
update biblia set nvg = 'A Pán mi ukázal štyroch kováčov. ' where spis = 'Zach' and vers = 1 and k = 2 and v = 3
update biblia set nvg = 'Povedal som: ‚Čo idú títo robiť?‘ On odpovedal: ‚To sú rohy, ktoré rozmetali Júdu, každého muža zvlášť, takže nik z_nich nezodvihol hlavu. A títo ich prišli zastrašiť, aby zrazili rohy národom, ktoré zdvihli roh proti judejskej krajine, aby ju rozmetali.‘“' where spis = 'Zach' and vers = 1 and k = 2 and v = 4
go

-- 2326	Zach 2, 5-9. 14-15d
-- 2325	Zach 2, 14-17
update biblia set lc_id = 2326 where spis = 'Zach' and vers = 1 and k = 2 and v between 5 and 9
update biblia set lc_id = 2325 where spis = 'Zach' and vers = 1 and k = 2 and v between 14 and 17
go

update biblia set nvg = 'Dvihol som oči, pozrel som sa a videl som muža, ktorý mal v ruke merací povraz. ' where spis = 'Zach' and vers = 1 and k = 2 and v = 5
update biblia set nvg = 'Spýtal som sa: "Kam ideš?" Odpovedal mi: "Idem merať Jeruzalem, aby som videl, aký je široký a aký je dlhý."' where spis = 'Zach' and vers = 1 and k = 2 and v = 6
update biblia set nvg = 'Tu anjel, čo so mnou hovoril, vyšiel a oproti nemu vyšiel iný anjel; ' where spis = 'Zach' and vers = 1 and k = 2 and v = 7
update biblia set nvg = 'a ten mu povedal: "Bež a povedz tomu mladíkovi: Pre množstvo ľudí a zvierat, čo budú v ňom bývať, Jeruzalem bude bez hradieb. ' where spis = 'Zach' and vers = 1 and k = 2 and v = 8
update biblia set nvg = 'A ja mu budem ohnivým múrom dookola, hovorí Pán. A budem slávou uprostred neho.' where spis = 'Zach' and vers = 1 and k = 2 and v = 9
go
update biblia set nvg = 'Plesaj a raduj sa, dcéra Siona, lebo hľa, ja prichádzam a budem bývať uprostred teba, hovorí Pán. ' where spis = 'Zach' and vers = 1 and k = 2 and v = 14
update biblia set nvg = 'V ten deň sa mnohé národy pripoja k Pánovi a budú jeho ľudom. Budem bývať uprostred teba a budeš vedieť, že ma Pán zástupov poslal k tebe.' where spis = 'Zach' and vers = 1 and k = 2 and v = 15
update biblia set nvg = 'Pán bude vlastniť Júdu ako svoj podiel vo svätej zemi a znovu si vyvolí Jeruzalem. ' where spis = 'Zach' and vers = 1 and k = 2 and v = 16
update biblia set nvg = 'Nech mlčí pred Pánom každé telo, lebo vstáva zo svojho svätého príbytku."' where spis = 'Zach' and vers = 1 and k = 2 and v = 17
go

-- OCR28STRc_CIT1	3, 1 – 4, 14
update biblia set lh_id = 'OCR28STRc_CIT1' where spis = 'Zach' and vers = 1 and k = 3 and v between 1 and 10
update biblia set lh_id = 'OCR28STRc_CIT1' where spis = 'Zach' and vers = 1 and k = 4 and v between 1 and 14 -- Vg má číslovanie len do v. 13
go

update biblia set nvg = '„Pán mi ukázal veľkňaza Jozueho, ako stojí pred Pánovým anjelom. Satan stál po jeho pravici, aby mu odporoval.' where spis = 'Zach' and vers = 1 and k = 3 and v = 1
update biblia set nvg = 'Tu povedal Pánov anjel satanovi: ‚Nech ťa Pán skára, satan. Nech ťa skára Pán, ktorý si vyvolil Jeruzalem. Či nie je ako poleno vytiahnuté z_ohňa?‘ ' where spis = 'Zach' and vers = 1 and k = 3 and v = 2
update biblia set nvg = 'Jozue bol oblečený v_špinavom odeve a stál pred anjelom, ' where spis = 'Zach' and vers = 1 and k = 3 and v = 3
update biblia set nvg = 'ktorý povedal tým, čo stáli okolo neho: ‚Vezmite z_neho ten špinavý odev.‘ A jemu povedal: ‚Odstránil som z_teba tvoju neprávosť a oblečiem ťa do slávnostného rúcha.‘ ' where spis = 'Zach' and vers = 1 and k = 3 and v = 4
update biblia set nvg = 'Tu povedal: ‚Položte mu na hlavu čistý turban.‘ I_položili mu na hlavu čistý turban a obliekli ho do rúcha. A Pánov anjel stál pri tom. ' where spis = 'Zach' and vers = 1 and k = 3 and v = 5
update biblia set nvg = 'Potom Pánov anjel uisťoval Jozueho: ' where spis = 'Zach' and vers = 1 and k = 3 and v = 6
update biblia set nvg = '‚Toto hovorí Pán zástupov: Ak budeš kráčať po mojich cestách a strážiť si moju službu, budeš aj ty súdiť môj dom a strážiť moje nádvoria a dám ti prístup medzi tých, čo tu teraz stoja. ' where spis = 'Zach' and vers = 1 and k = 3 and v = 7
update biblia set nvg = 'Počúvaj, veľkňaz Jozue, ty aj tvoji priatelia, čo sedia pred tebou – veď sú to muži znamenia: Lebo ja privediem svojho sluhu Výhonok. ' where spis = 'Zach' and vers = 1 and k = 3 and v = 8
update biblia set nvg = 'Hľa, kameň, ktorý som položil pred Jozueho. Na jednom kameni je sedem očí. Ja vryjem doň nápis, hovorí Pán zástupov, a za jeden deň odstránim neprávosť tej krajiny. ' where spis = 'Zach' and vers = 1 and k = 3 and v = 9
update biblia set nvg = 'V_ten deň, znie výrok Pána zástupov, pozve každý svojho priateľa pod vinič a pod figovník.‘' where spis = 'Zach' and vers = 1 and k = 3 and v = 10
go
update biblia set nvg = 'Tu sa anjel, čo so mnou hovoril, vrátil a zobudil ma, ako keď zobudia muža zo spánku. ' where spis = 'Zach' and vers = 1 and k = 4 and v = 1
update biblia set nvg = 'I povedal mi: ‚Čo vidíš?‘ Odpovedal som: ‚Vidím svietnik celý zo zlata, s_nádobou na olej navrchu, na ňom sedem lámp a sedem lievikov k_lampám, čo boli na ňom navrchu. ' where spis = 'Zach' and vers = 1 and k = 4 and v = 2
update biblia set nvg = 'Aj dve olivy na ňom, jednu na pravej strane nádoby a druhú na jej ľavej strane.‘' where spis = 'Zach' and vers = 1 and k = 4 and v = 3
update biblia set nvg = 'Potom som sa ozval a opýtal som sa anjela, čo hovoril so mnou: ‚Čo je to, môj pane?‘ ' where spis = 'Zach' and vers = 1 and k = 4 and v = 4
update biblia set nvg = 'Anjel, čo hovoril so mnou, mi povedal: ‚Ty nevieš, čo to je?‘ Vravel som: ‚Nie, môj pane.‘' where spis = 'Zach' and vers = 1 and k = 4 and v = 5
update biblia set nvg = 'Na to mi povedal: ‚Toto je Pánovo slovo Zorobábelovi: Nie vojskom ani silou, ale mojím duchom, hovorí Pán zástupov. ' where spis = 'Zach' and vers = 1 and k = 4 and v = 6
update biblia set nvg = 'Čo si ty, veľký vrch, pred Zorobábelom? Budeš rovinou. On vynesie hlavný kameň za volania: Aký je krásny! ' where spis = 'Zach' and vers = 1 and k = 4 and v = 7
update biblia set nvg = 'I_zaznelo mi Pánovo slovo: ' where spis = 'Zach' and vers = 1 and k = 4 and v = 8
update biblia set nvg = 'Zorobábelove ruky položili základ tohto domu a jeho ruky ho dokončia a poznáte, že ma k_vám poslal Pán zástupov. ' where spis = 'Zach' and vers = 1 and k = 4 and v = 9
update biblia set nvg = 'Lebo kto pohrdne dňom malých začiatkov? Budú sa veseliť, keď uvidia v_Zorobábelovej ruke vybraný kameň. Tých sedem očí sú oči Pánove, ktoré sledujú celú zem.‘ ' where spis = 'Zach' and vers = 1 and k = 4 and v = 10
update biblia set nvg = 'Ja som mu povedal: ‚Čo sú tie dve olivy na pravej a ľavej strane svietnika?‘ ' where spis = 'Zach' and vers = 1 and k = 4 and v = 11
-- update biblia set nvg = 'A opýtal som sa ho aj druhý raz: ‚Čo sú dve olivové vetvy, ktoré cez dve zlaté rúrky vylievajú zo seba zlato?‘ ' where spis = 'Zach' and vers = 1 and k = 4 and v = 12
-- update biblia set nvg = 'On mi povedal: ‚Ty nevieš, čo to je?‘ Vravel som: ‚Nie, môj pane.‘ ' where spis = 'Zach' and vers = 1 and k = 4 and v = 13
-- update biblia set nvg = 'On povedal: ‚To sú dvaja synovia oleja, ktorí stoja pred Panovníkom celej zeme.‘“' where spis = 'Zach' and vers = 1 and k = 4 and v = 14
-- Vg má číslovanie len do v. 13; NVg 4,13 = Vg 4,12b; NVg 4,14 = Vg 4,13
update biblia set nvg = 'A opýtal som sa ho aj druhý raz: ‚Čo sú dve olivové vetvy, ktoré cez dve zlaté rúrky vylievajú zo seba zlato?‘ (NVg 4,13) On mi povedal: ‚Ty nevieš, čo to je?‘ Vravel som: ‚Nie, môj pane.‘ ' where spis = 'Zach' and vers = 1 and k = 4 and v = 12
update biblia set nvg = '(NVg 4,14) On povedal: ‚To sú dvaja synovia oleja, ktorí stoja pred Panovníkom celej zeme.‘“' where spis = 'Zach' and vers = 1 and k = 4 and v = 13
go

-- OCR28STVc_CIT1	8, 1-17. 20-23
-- 2327	Zach 8, 1-8
-- 2328	Zach 8, 20-23
update biblia set lh_id = 'OCR28STVc_CIT1' where spis = 'Zach' and vers = 1 and k = 8 and v between 1 and 17
update biblia set lh_id = 'OCR28STVc_CIT1' where spis = 'Zach' and vers = 1 and k = 8 and v between 20 and 23
go
update biblia set lc_id = 2327 where spis = 'Zach' and vers = 1 and k = 8 and v between 1 and 8
update biblia set lc_id = 2328 where spis = 'Zach' and vers = 1 and k = 8 and v between 20 and 23
go

update biblia set nvg = 'Zaznelo slovo Pána zástupov:' where spis = 'Zach' and vers = 1 and k = 8 and v = 1
update biblia set nvg = '„Toto hovorí Pán zástupov: / Veľmi som sa rozhorlil za Sion, / vášnivo zaň horlím.' where spis = 'Zach' and vers = 1 and k = 8 and v = 2
update biblia set nvg = 'Toto hovorí Pán: Vrátil som sa na Sion a budem bývať uprostred Jeruzalema. Jeruzalem sa bude volať Verné mesto a vrch Pána zástupov Svätá hora.' where spis = 'Zach' and vers = 1 and k = 8 and v = 3
update biblia set nvg = 'Toto hovorí Pán zástupov: Ešte budú sedávať v_uliciach Jeruzalema starci a starenky a všetci budú mať pre vysoký vek v_ruke palicu. ' where spis = 'Zach' and vers = 1 and k = 8 and v = 4
update biblia set nvg = 'Námestia mesta budú plné chlapcov a dievčat, čo sa budú hrať na jeho uliciach.' where spis = 'Zach' and vers = 1 and k = 8 and v = 5
update biblia set nvg = 'Toto hovorí Pán zástupov: A ak sa to v_tých dňoch bude zdať ťažké zvyškom tohto ľudu, vari to bude ťažké aj v_mojich očiach?! – hovorí Pán zástupov.' where spis = 'Zach' and vers = 1 and k = 8 and v = 6
update biblia set nvg = 'Toto hovorí Pán zástupov: // Hľa, ja vyslobodím svoj ľud z_východnej krajiny / i_z_krajiny, kde slnko zapadá;' where spis = 'Zach' and vers = 1 and k = 8 and v = 7
update biblia set nvg = 'privediem ich sem / a budú bývať v_Jeruzaleme; / oni budú mojím ľudom / a ja budem ich Bohom / v_pravde a spravodlivosti.' where spis = 'Zach' and vers = 1 and k = 8 and v = 8
update biblia set nvg = 'Toto hovorí Pán zástupov: Nech spevnejú ruky vám, čo počúvate v_týchto dňoch tieto slová z_úst prorokov, v_deň, keď položili základy domu Pána zástupov, aby bol postavený chrám.' where spis = 'Zach' and vers = 1 and k = 8 and v = 9
update biblia set nvg = 'Lebo pred tými dňami / nebolo mzdy pre človeka / a nebolo ani mzdy pre dobytok, / ba ani ten, kto vchádzal a vychádzal, / nemal pokoj pre súženie; / lebo som pustil všetkých ľudí, / každého proti jeho blížnemu.' where spis = 'Zach' and vers = 1 and k = 8 and v = 10
update biblia set nvg = 'Ale teraz nie som k_zvyškom tohto ľudu / ako za predošlých dní, / hovorí Pán zástupov.' where spis = 'Zach' and vers = 1 and k = 8 and v = 11
update biblia set nvg = 'Lebo semeno bude mať pokoj: / vinica vydá svoje plody / a zem vydá svoju úrodu / a toto všetko / dám do vlastníctva / zvyškom tohto ľudu.' where spis = 'Zach' and vers = 1 and k = 8 and v = 12
update biblia set nvg = 'A ako ste boli, dom Júdu a dom Izraela, kliatbou medzi národmi, tak vás zachránim a budete požehnaním. Nebojte sa, nech vám spevnejú ruky. ' where spis = 'Zach' and vers = 1 and k = 8 and v = 13
update biblia set nvg = 'Lebo toto hovorí Pán zástupov: Ako som si zaumienil trápiť vás, keď ma vaši otcovia dráždili k_hnevu, hovorí Pán zástupov, ' where spis = 'Zach' and vers = 1 and k = 8 and v = 14
update biblia set nvg = 'a nezľutoval som sa, v_tie dni som zmenil svoje rozhodnutie, že požehnám Jeruzalem a Júdov dom. Nebojte sa!' where spis = 'Zach' and vers = 1 and k = 8 and v = 15
update biblia set nvg = 'Budete teda robiť toto: Hovorte každý so svojím blížnym pravdu a vo svojich bránach vynášajte súdy pokoja, ' where spis = 'Zach' and vers = 1 and k = 8 and v = 16
update biblia set nvg = 'nezamýšľajte zlo vo svojich srdciach voči svojmu priateľovi a nemilujte krivú prísahu; lebo toto všetko nenávidím,“ hovorí Pán.' where spis = 'Zach' and vers = 1 and k = 8 and v = 17
go
update biblia set nvg = '„Toto hovorí Pán zástupov: Ešte prídu národy a obyvatelia veľkých miest; ' where spis = 'Zach' and vers = 1 and k = 8 and v = 20
update biblia set nvg = 'a obyvatelia jedného mesta pôjdu k_obyvateľom druhého a povedia: ‚Poďte a budeme prosiť Pána o_priazeň, vyhľadáme Pána zástupov; pôjdem aj ja!‘' where spis = 'Zach' and vers = 1 and k = 8 and v = 21
update biblia set nvg = 'A prídu mnohé národy a mocné kmene do Jeruzalema hľadať Pána zástupov a prosiť Pána o_priazeň.' where spis = 'Zach' and vers = 1 and k = 8 and v = 22
update biblia set nvg = 'Toto hovorí Pán zástupov: V_tých dňoch desať ľudí zo všetkých národov rozličných jazykov chytí judejského muža za okraj rúcha a povie: ‚Pôjdeme s_vami, lebo sme počuli, že s_vami je Boh.‘“' where spis = 'Zach' and vers = 1 and k = 8 and v = 23
go

-- OCR33UTc_CIT1	9, 1 – 10, 2
-- 2329	Zach 9, 9-10
update biblia set lh_id = 'OCR33UTc_CIT1' where spis = 'Zach' and vers = 1 and k = 9 and v between 1 and 17
update biblia set lh_id = 'OCR33UTc_CIT1' where spis = 'Zach' and vers = 1 and k = 10 and v between 1 and 2
go
update biblia set lc_id = 2329 where spis = 'Zach' and vers = 1 and k = 9 and v between 9 and 10
go

update biblia set nvg = 'Pánovo slovo v_krajine Hadrach / a v_Damasku, kde spočinie, / lebo oko Aramu je Pánovo / ako všetky kmene Izraela.' where spis = 'Zach' and vers = 1 and k = 9 and v = 1
update biblia set nvg = 'Aj Emat na jeho hraniciach, / aj Týrus a Sidon, ktorý je veľmi múdry.' where spis = 'Zach' and vers = 1 and k = 9 and v = 2
update biblia set nvg = 'Týrus si vybudoval opevnenie / a nahromadil striebra ako prachu / a zlata ako na uliciach blata.' where spis = 'Zach' and vers = 1 and k = 9 and v = 3
update biblia set nvg = 'Pán sa ho zmocní, / na mori porazí jeho silu / a pohltí ho oheň.' where spis = 'Zach' and vers = 1 and k = 9 and v = 4
update biblia set nvg = 'Uvidí to Askalon a bude sa báť / a Gaza sa bude zvíjať od bolesti / aj Akkaron, lebo jeho nádej sa zahanbila. / Kráľ Gazy zahynie / a Askalon bude neobývaný.' where spis = 'Zach' and vers = 1 and k = 9 and v = 5
update biblia set nvg = 'V_Azote bude bývať miešanec / a zničím pýchu Filištíncov.' where spis = 'Zach' and vers = 1 and k = 9 and v = 6
update biblia set nvg = 'Vyrvem jeho krv z_jeho úst / a jeho ohavnosti z_jeho zubov / a zostane aj on nášmu Bohu, / bude ako vodca v_Judei / a Akkaron ako Jebuzejčan.' where spis = 'Zach' and vers = 1 and k = 9 and v = 7
update biblia set nvg = 'A obkolesím svoj dom ako pevnosť / proti tým, čo prechádzajú a vracajú sa. / Utláčateľ už cez nich neprejde, / lebo teraz som videl na vlastné oči.' where spis = 'Zach' and vers = 1 and k = 9 and v = 8
update biblia set nvg = 'Zajasaj, dcéra sionská, / plesaj, dcéra jeruzalemská! / Hľa, tvoj kráľ prichádza k_tebe; / je spravodlivý a prináša spásu, / je chudobný a sedí na oslovi, / na osliatku, mláďati oslice.' where spis = 'Zach' and vers = 1 and k = 9 and v = 9
update biblia set nvg = 'Vyničím z_Efraima vozy / a kone z_Jeruzalema; / polámu sa bojové luky / a bude sa ohlasovať pokoj národom. / Bude panovať od mora až k_moru / a od rieky až na kraj zeme.' where spis = 'Zach' and vers = 1 and k = 9 and v = 10
update biblia set nvg = 'Aj ty: pre krv tvojej zmluvy / vytiahnem tvojich zajatcov z_jamy, / v_ktorej niet vody.' where spis = 'Zach' and vers = 1 and k = 9 and v = 11
update biblia set nvg = 'Vráťte sa k_pevnosti, / zajatci nádeje; / aj dnes ohlasujem: / Dvojnásobne ti nahradím.' where spis = 'Zach' and vers = 1 and k = 9 and v = 12
update biblia set nvg = 'Lebo som si natiahol Júdu ako luk / a Efraima som vložil doň; / a povzbudím tvojich synov, Sion, / proti tvojim synom, Grécko, / a urobím z_teba meč pre hrdinu.' where spis = 'Zach' and vers = 1 and k = 9 and v = 13
update biblia set nvg = 'A Pán sa zjaví nad nimi / a jeho oštep vyletí ako blesk. / Pán, Boh, zatrúbi na poľnicu / a pôjde ako južná víchrica.' where spis = 'Zach' and vers = 1 and k = 9 and v = 14
update biblia set nvg = 'Pán zástupov ich bude chrániť; / pohlcú a pošliapu kamene z_praku, / budú piť a budú sa potácať ako od vína / a naplnia sa ako čaše a ako rohy oltára.' where spis = 'Zach' and vers = 1 and k = 9 and v = 15
update biblia set nvg = 'A Pán, ich Boh, ich zachráni / v_ten deň, / ako stádo svojho ľudu, / lebo ako drahokamy v_korune / budú sa skvieť nad jeho krajinou.' where spis = 'Zach' and vers = 1 and k = 9 and v = 16
update biblia set nvg = 'Veď aká je jeho dobrota, / aká jeho krása! / Obilie živí mládencov / a mušt panny.' where spis = 'Zach' and vers = 1 and k = 9 and v = 17
go
update biblia set nvg = 'Proste dážď od Pána / v_čase neskorého dažďa. / Pán tvorí blesky / a z_mrakov im dá dážď; / každému bylinu na poli.' where spis = 'Zach' and vers = 1 and k = 10 and v = 1
update biblia set nvg = 'Lebo modly hovoria ničotnosti / a veštci vidia klam, / hovoria márne sny, / preludom utešujú. / Preto odchádzajú ako stádo, / sú zmorené, lebo nemajú pastiera.' where spis = 'Zach' and vers = 1 and k = 10 and v = 2
go

-- OCR33STRc_CIT1	10, 3 – 11, 3
update biblia set lh_id = 'OCR33STRc_CIT1' where spis = 'Zach' and vers = 1 and k = 10 and v between 3 and 12
update biblia set lh_id = 'OCR33STRc_CIT1' where spis = 'Zach' and vers = 1 and k = 11 and v between 1 and 3
go

update biblia set nvg = '„Môj hnev vzplanul proti pastierom / a proti capom zakročím. / Pán zástupov určite navštívi / svoje stádo, dom Júdu, / a urobí si z_nich akoby slávneho koňa / do boja.' where spis = 'Zach' and vers = 1 and k = 10 and v = 3
update biblia set nvg = 'Z_neho bude uholný kameň, / z_neho bude kolík, / z_neho bude bojový luk, / z_neho vyjde aj každý vodca.' where spis = 'Zach' and vers = 1 and k = 10 and v = 4
update biblia set nvg = 'A budú ako hrdinovia, / čo šliapu po blate na cestách v_boji, / a budú bojovať, lebo Pán je s_nimi, / a zahanbia sa jazdci na koňoch.' where spis = 'Zach' and vers = 1 and k = 10 and v = 5
update biblia set nvg = 'I_posilním dom Júdov / a zachránim dom Jozefov; / privediem ich späť, lebo sa zmilujem nad nimi, / a budú, ako keby som ich nebol zavrhol, / lebo ja som Pán, ich Boh, a vyslyším ich.' where spis = 'Zach' and vers = 1 and k = 10 and v = 6
update biblia set nvg = 'Efraimovci budú ako hrdinovia, / ich srdce sa rozveselí ako od vína, / ich synovia to uvidia a budú sa veseliť, / ich srdce bude plesať v_Pánovi.' where spis = 'Zach' and vers = 1 and k = 10 and v = 7
update biblia set nvg = 'Zapískam na nich a zhromaždím ich, / lebo som ich vykúpil, / a bude ich tak veľa, ako ich prv bolo.' where spis = 'Zach' and vers = 1 and k = 10 and v = 8
update biblia set nvg = 'Rozsejem ich medzi národy / a v_diaľavách budú na mňa spomínať, / budú vychovávať svojich synov a vrátia sa.' where spis = 'Zach' and vers = 1 and k = 10 and v = 9
update biblia set nvg = 'I_privediem ich späť z_egyptskej krajiny / aj z_Asýrska ich zhromaždím / a privediem ich do galaádskej a libanonskej krajiny / a nebude im stačiť miesto.' where spis = 'Zach' and vers = 1 and k = 10 and v = 10
update biblia set nvg = 'Prejdú cez more úzkosti, / on zrazí vlny na mori / a vyschnú hlbiny rieky; / pýcha Asýrska bude pokorená / a berla Egypta odstúpi.' where spis = 'Zach' and vers = 1 and k = 10 and v = 11
update biblia set nvg = 'Posilním ich v_Pánovi / a budú kráčať v_jeho mene,“ / hovorí Pán.' where spis = 'Zach' and vers = 1 and k = 10 and v = 12
go
update biblia set nvg = 'Libanon, otvor svoje brány, / nech strávi oheň tvoje cédre.' where spis = 'Zach' and vers = 1 and k = 11 and v = 1
update biblia set nvg = 'Kvíľ, jedľa, lebo padol céder, / lebo velikáni sú spustošení. / Kvíľte, duby Bášanu, / lebo padol nepriestupný les.' where spis = 'Zach' and vers = 1 and k = 11 and v = 2
update biblia set nvg = 'Počuť bedákanie pastierov, / lebo je spustošená ich nádhera. / Počuť rev levov, / lebo je spustošená pýcha Jordánu.' where spis = 'Zach' and vers = 1 and k = 11 and v = 3
go

-- OCR33STVc_CIT1	11, 4 – 12, 8
update biblia set lh_id = 'OCR33STVc_CIT1' where spis = 'Zach' and vers = 1 and k = 11 and v between 4 and 17
update biblia set lh_id = 'OCR33STVc_CIT1' where spis = 'Zach' and vers = 1 and k = 12 and v between 1 and 8
go

update biblia set nvg = 'Toto hovorí Pán, môj Boh: „Pas ovce na zabitie. ' where spis = 'Zach' and vers = 1 and k = 11 and v = 4
update biblia set nvg = 'Tí, čo ich kupujú, zabíjajú ich bez zľutovania, a tí, čo ich predávajú, hovoria: ‚Nech je zvelebený Pán, že som zbohatol.‘ Ani ich pastierom ich nie je ľúto.' where spis = 'Zach' and vers = 1 and k = 11 and v = 5
update biblia set nvg = 'Ani ja sa už nezľutujem nad obyvateľmi zeme, hovorí Pán. Hľa, ja vydám ľudí, každého do rúk jeho blížneho a do rúk jeho kráľa. Oni spustošia krajinu a ja nevytrhnem z_ich rúk.“' where spis = 'Zach' and vers = 1 and k = 11 and v = 6
update biblia set nvg = 'A ja som pásol ovce na zabitie pre obchodníkov so stádom. Vzal som si dve palice, jednu som nazval Krása, druhú som nazval Puto, a pásol som stádo. ' where spis = 'Zach' and vers = 1 and k = 11 and v = 7
update biblia set nvg = 'A zahnal som troch pastierov za jeden mesiac, lebo si ich zošklivila moja duša a oni si zošklivili mňa. ' where spis = 'Zach' and vers = 1 and k = 11 and v = 8
update biblia set nvg = 'I_povedal som: „Nebudem vás pásť. Tá, ktorá má zomrieť, nech zomrie, ktorá má byť zahnaná, nech je zahnaná, a ostatné nech žerú jedna druhej mäso.“ ' where spis = 'Zach' and vers = 1 and k = 11 and v = 9
update biblia set nvg = 'Tu som vzal svoju palicu, ktorá sa volala Krása, a posekal som ju, aby som zrušil svoju zmluvu, ktorú som uzavrel so všetkými národmi. ' where spis = 'Zach' and vers = 1 and k = 11 and v = 10
update biblia set nvg = 'V_ten deň bola zrušená. A obchodníci so stádom, ktorí ma pozorovali, spoznali, že je to Pánovo slovo. ' where spis = 'Zach' and vers = 1 and k = 11 and v = 11
update biblia set nvg = 'Povedal som im: „Ak uznáte za dobré, vyplaťte mi mzdu, ak nie, nechajte tak.“ A odvážili mi mzdu tridsať šiklov striebra. ' where spis = 'Zach' and vers = 1 and k = 11 and v = 12
update biblia set nvg = 'Pán mi povedal: „Vhoď to do pokladnice, tú krásnu cenu, ktorou ma ocenili.“ I_vzal som tridsať strieborných šiklov a vhodil som ich do pokladnice v_Pánovom dome. ' where spis = 'Zach' and vers = 1 and k = 11 and v = 13
update biblia set nvg = 'Potom som posekal svoju druhú palicu, ktorá sa nazývala Puto, aby som zrušil bratstvo medzi Júdom a Izraelom.' where spis = 'Zach' and vers = 1 and k = 11 and v = 14
update biblia set nvg = 'Pán mi povedal: „Ešte si vezmi výstroj hlúpeho pastiera;' where spis = 'Zach' and vers = 1 and k = 11 and v = 15
update biblia set nvg = 'lebo ja vzbudím pastiera v_krajine, / ktorý hynúcu ovcu nenavštívi, / odtúlanú nebude hľadať, / doráňanú nebude liečiť / a stojacu nepodrží, / ale mäso tučných bude jesť / a poláme im kopytá.' where spis = 'Zach' and vers = 1 and k = 11 and v = 16
update biblia set nvg = 'Beda môjmu hlúpemu pastierovi, / ktorý opúšťa stádo! / Meč na jeho rameno / a na jeho pravé oko; / jeho rameno nech celkom uschne / a jeho pravé oko nech sa úplne zatemní.“' where spis = 'Zach' and vers = 1 and k = 11 and v = 17
go
update biblia set nvg = 'Pánovo slovo o_Izraelovi a o_Júdovi. Výrok Pána, ktorý rozpína nebesia a kladie základy zeme a tvorí ducha v_človeku: ' where spis = 'Zach' and vers = 1 and k = 12 and v = 1
update biblia set nvg = '„Ja robím z_Jeruzalema opojnú čašu pre všetky okolité národy. Bude to pri obliehaní Jeruzalema. ' where spis = 'Zach' and vers = 1 and k = 12 and v = 2
update biblia set nvg = 'V_ten deň urobím z_Jeruzalema ťažký kameň pre všetky národy. Všetci, čo ho budú niesť, do krvi sa porania a spolčia sa proti nemu všetky národy zeme. ' where spis = 'Zach' and vers = 1 and k = 12 and v = 3
update biblia set nvg = 'V_ten deň, hovorí Pán, udriem každého koňa, až zmeravie, i_jeho jazdca, až zošalie. Ale nad Júdovým domom otvorím svoje oči a všetky kone národov raním slepotou. ' where spis = 'Zach' and vers = 1 and k = 12 and v = 4
update biblia set nvg = 'Vtedy si judejskí vodcovia povedia v_srdci: ‚Sila obyvateľov Jeruzalema je v_Pánovi zástupov, ich Bohu.‘ ' where spis = 'Zach' and vers = 1 and k = 12 and v = 5
update biblia set nvg = 'V_ten deň urobím judejských vodcov nádobou s_ohňom na dreve a horiacou fakľou na sene. Pohltia napravo i_naľavo všetky okolité národy, ale Jeruzalem zostane zasa na svojom mieste. ' where spis = 'Zach' and vers = 1 and k = 12 and v = 6
update biblia set nvg = 'Pán zachráni najprv Júdove stany, aby sa sláva Dávidovho domu a sláva obyvateľov Jeruzalema nevypínala proti Júdovi. ' where spis = 'Zach' and vers = 1 and k = 12 and v = 7
update biblia set nvg = 'V_ten deň bude Pán chrániť obyvateľov Jeruzalema. Klesajúci medzi nimi bude v_ten deň ako Dávid a Dávidov dom ako Boh, ako Pánov anjel pred nimi.“' where spis = 'Zach' and vers = 1 and k = 12 and v = 8
go

-- OCR33PIc_CIT1	12, 9-12a; 13, 1-9
-- 2324	Zach 12, 10-11; 13, 1
update biblia set lh_id = 'OCR33PIc_CIT1' where spis = 'Zach' and vers = 1 and k = 12 and v between 9 and 12
update biblia set lh_id = 'OCR33PIc_CIT1' where spis = 'Zach' and vers = 1 and k = 13 and v between 1 and 9
go
update biblia set lc_id = 2324 where spis = 'Zach' and vers = 1 and k = 12 and v between 10 and 11
update biblia set lc_id = 2324 where spis = 'Zach' and vers = 1 and k = 13 and v = 1
go

update biblia set nvg = '„V_ten deň sa budem usilovať zničiť všetky národy, ktoré prídu proti Jeruzalemu ' where spis = 'Zach' and vers = 1 and k = 12 and v = 9
update biblia set nvg = 'a na Dávidov dom, a na obyvateľov Jeruzalema vylejem ducha milosti a pokorných prosieb a budú hľadieť na mňa. A nad tým, ktorého prebodli, budú nariekať, ako sa narieka nad jediným synom, a žialiť nad ním, ako sa žiali nad prvorodeným. ' where spis = 'Zach' and vers = 1 and k = 12 and v = 10
update biblia set nvg = 'V_ten deň bude v_Jeruzaleme veľký nárek, podobný náreku v_Adadremmone na mageddskej pláni. ' where spis = 'Zach' and vers = 1 and k = 12 and v = 11
update biblia set nvg = 'Nariekať bude krajina, každý rod osobitne.' where spis = 'Zach' and vers = 1 and k = 12 and v = 12
go
update biblia set nvg = 'V_ten deň bude otvorený prameň pre Dávidov dom a obyvateľov Jeruzalema na očistenie od hriechov a od nečistoty. ' where spis = 'Zach' and vers = 1 and k = 13 and v = 1
update biblia set nvg = 'A v_ten deň, hovorí Pán zástupov, vypracem mená modiel z_krajiny a nikdy viac sa nebudú spomínať. Aj falošných prorokov a nečistého ducha odstránim z_krajiny. ' where spis = 'Zach' and vers = 1 and k = 13 and v = 2
update biblia set nvg = 'A keď bude niekto ešte prorokovať, povedia mu jeho otec a jeho matka, ktorí ho splodili: ‚Nebudeš žiť, lebo si hovoril lož v_mene Pánovom.‘ A jeho otec a matka, ktorí ho splodili, prebodnú ho za to, že prorokoval. ' where spis = 'Zach' and vers = 1 and k = 13 and v = 3
update biblia set nvg = 'V_ten deň sa budú proroci hanbiť, každý za svoje videnie, keď bude prorokovať. Ani si neoblečú srstený plášť, aby oklamali, ' where spis = 'Zach' and vers = 1 and k = 13 and v = 4
update biblia set nvg = 'ale každý povie: ‚Nie som prorok. Som človek, ktorý obrába zem, lebo zem je mojím vlastníctvom od mojej mladosti.‘ ' where spis = 'Zach' and vers = 1 and k = 13 and v = 5
update biblia set nvg = 'A keď mu povedia: ‚Aké to máš rany na prsiach?‘, on odpovie: ‚To ma poranili v_dome, kde ma mali radi.‘' where spis = 'Zach' and vers = 1 and k = 13 and v = 6
update biblia set nvg = 'Meč, zdvihni sa na môjho pastiera / a na muža, môjho spoločníka, / hovorí Pán zástupov. / Udri pastiera a ovce sa rozpŕchnu; / potom obrátim svoju ruku proti maličkým.' where spis = 'Zach' and vers = 1 and k = 13 and v = 7
update biblia set nvg = 'A v_celej krajine, / hovorí Pán, / dve tretiny sa rozpŕchnu a zahynú / a tretina v_nej zostane.' where spis = 'Zach' and vers = 1 and k = 13 and v = 8
update biblia set nvg = 'Tú tretinu prevediem cez oheň / a očistím ich, ako sa čistí striebro, / a vyskúšam ich, ako sa skúša zlato. / On bude vzývať moje meno. / Poviem: Toto je môj ľud / a on povie: ‚Pán je môj Boh.‘“' where spis = 'Zach' and vers = 1 and k = 13 and v = 9
go

-- OCR33SOc_CIT1	14, 1-21
update biblia set lh_id = 'OCR33SOc_CIT1' where spis = 'Zach' and vers = 1 and k = 14 and v between 1 and 21
go

update biblia set nvg = '„Hľa, prichádza Pánov deň, keď sa bude deliť tvoja korisť v_tebe. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 1
update biblia set nvg = 'Zhromaždím všetky národy k_Jeruzalemu do boja. Zaujmú mesto, znivočia domy, znásilnia ženy. Polovica mesta pôjde do zajatia, ale zvyšok ľudu neodvlečú z_mesta. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 2
update biblia set nvg = 'Lebo Pán vyrazí a bude bojovať proti tým národom, ako keď bojoval v_deň zápasu. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 3
update biblia set nvg = 'A v_ten deň zastanú jeho nohy na Olivovej hore, ktorá je na východ od Jeruzalema. Olivová hora sa rozštiepi napoly, od východu na západ, veľmi veľkou trhlinou: polovica vrchu sa oddelí na sever a polovica na juh. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 4
update biblia set nvg = 'I_budete utekať do údolia tých vrchov, lebo údolie vrchov bude siahať až po Jasol. Budete utekať, ako ste utekali pred zemetrasením za čias judejského kráľa Oziáša, a príde Pán, môj Boh, a s_ním všetci svätí.' where spis = 'Zach' and vers = 1 and k = 14 and v = 5
update biblia set nvg = 'V_ten deň nebude svetlo, ale zima a mráz. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 6
update biblia set nvg = 'Bude to jeden deň, ktorý je známy Pánovi; ani deň, ani noc a vo večernom čase bude svetlo. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 7
update biblia set nvg = 'V_ten deň vyrazia z_Jeruzalema živé vody, polovica z_nich k_Východnému moru a polovica k_Západnému moru a budú v_lete i v_zime. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 8
update biblia set nvg = 'Vtedy bude Pán kráľom nad celou zemou. V_ten deň bude Pán jediný a jeho meno bude jediné. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 9
update biblia set nvg = 'Celá zem sa obráti na púšť od Gaby až po Remmon na juh od Jeruzalema, ktorý bude vyvýšený a obývaný na svojom mieste, od Benjamínovej brány až po miesto Pôvodnej brány a až po bránu Nárožnú a od Hananeelovej veže až po Kráľovské lisy. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 10
update biblia set nvg = 'I_budú v_ňom bývať a nebude už kliatby, ale v_Jeruzaleme sa bude bývať bezpečne.' where spis = 'Zach' and vers = 1 and k = 14 and v = 11
update biblia set nvg = 'A rana, ktorou Pán udrie všetky národy, čo bojovali proti Jeruzalemu, bude takáto: Telo bude hniť každému, ako bude stáť na nohách, oči mu zhnijú vo svojich jamkách a jazyk mu zhnije v_ústach. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 12
update biblia set nvg = 'V_ten deň Pán spôsobí medzi nimi veľký zmätok: muž bude chytať za ruku svojho blížneho a on zdvihne svoju ruku proti ruke svojho blížneho. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 13
update biblia set nvg = 'Ale aj Júda bude bojovať v_Jeruzaleme. Zhromaždia bohatstvo všetkých okolitých národov, zlato a striebro a nesmierne veľa šatstva. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 14
update biblia set nvg = 'A na kone, mulice, ťavy, osly a všetky zvieratá, čo budú v_tých táboroch, príde taká skaza, ako je táto skaza.' where spis = 'Zach' and vers = 1 and k = 14 and v = 15
update biblia set nvg = 'A všetci, ktorí zostanú zo všetkých národov, čo prišli proti Jeruzalemu, budú rok čo rok vystupovať, aby sa klaňali Kráľovi, Pánovi zástupov, a slávili sviatok Stánkov. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 16
update biblia set nvg = 'A na ten z_národov zeme, ktorý nevystúpi do Jeruzalema, aby sa klaňal Kráľovi, Pánovi zástupov, nebude padať dážď. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 17
update biblia set nvg = 'A ak egyptský národ nevystúpi a nepríde, doľahne na nich rana, ktorou Pán bije národy, čo nevystúpia sláviť sviatok Stánkov. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 18
update biblia set nvg = 'Toto bude trest na Egypt a trest na všetky národy, ktoré nevystúpia sláviť sviatok Stánkov. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 19
update biblia set nvg = 'V_ten deň bude na zvoncoch koní: ‚Zasvätené Pánovi.‘ A v_Pánovom dome budú hrnce ako čaše pred oltárom. ' where spis = 'Zach' and vers = 1 and k = 14 and v = 20
update biblia set nvg = 'Každý hrniec v_Jeruzaleme a v_Judei bude zasvätený Pánovi zástupov. A všetci, čo prídu obetovať, vezmú si z_nich a budú v_nich variť a v_ten deň už nebude kupca v_dome Pána zástupov.“' where spis = 'Zach' and vers = 1 and k = 14 and v = 21
go

-- ADV13UTc_CIT2 resp.	Zach 7, 9
update biblia set lh_id = 'ADV13UTc_CIT2 resp.' where spis = 'Zach' and vers = 1 and k = 7 and v = 9
go
update biblia set nvg = '[...] Súďte spravodlivo a buďte milosrdní a láskaví k_svojmu bratovi.' where spis = 'Zach' and vers = 1 and k = 7 and v = 9
go

