-- OCR32NEc_CIT1	1, 1-21
-- 317	Dan 1, 1-6. 8-20
update biblia set lh_id = 'OCR32NEc_CIT1' where spis = 'Dan' and vers = 1 and k = 1 and v between 1 and 21
go
update biblia set lc_id = 317 where spis = 'Dan' and vers = 1 and k = 1 and v between 1 and 6
update biblia set lc_id = 317 where spis = 'Dan' and vers = 1 and k = 1 and v between 8 and 20
go

update biblia set nvg = 'V_treťom roku vlády judejského kráľa Joakima prišiel k_Jeruzalemu babylonský kráľ Nabuchodonozor a obliehal ho. ' where spis = 'Dan' and vers = 1 and k = 1 and v = 1
update biblia set nvg = 'A Pán mu vydal do rúk judejského kráľa Joakima a časť nádob Božieho domu; odvliekol ich do krajiny Senaár do domu svojich bohov a nádoby zaniesol do klenotnice svojich bohov.' where spis = 'Dan' and vers = 1 and k = 1 and v = 2
update biblia set nvg = 'Tu kráľ povedal Asfenezovi, náčelníkovi svojich dvoranov, aby priviedol zo synov Izraela mladíkov z_kráľovského alebo šľachtického rodu, ' where spis = 'Dan' and vers = 1 and k = 1 and v = 3
update biblia set nvg = 'na ktorých niet chyby, majú peknú postavu, sú vnímaví pre všetku múdrosť, bohatí vo vedomostiach a učenliví, čo by boli schopní konať službu v_kráľovskom paláci; a aby ich naučili chaldejskému písmu a reči. ' where spis = 'Dan' and vers = 1 and k = 1 and v = 4
update biblia set nvg = 'A kráľ im určil na každý deň prídel potravín zo svojho jedla a z_vína, ktoré sám pil. Tri roky ich mali vychovávať a potom predviesť pred kráľa. ' where spis = 'Dan' and vers = 1 and k = 1 and v = 5
update biblia set nvg = 'Z_Júdových synov boli medzi nimi Daniel, Ananiáš, Mízael a Azariáš. ' where spis = 'Dan' and vers = 1 and k = 1 and v = 6
update biblia set nvg = 'A náčelník dvoranov im dal mená: Danielovi Baltazár, Ananiášovi Sidrach, Mízaelovi Mizach a Azariášovi Abdenago.' where spis = 'Dan' and vers = 1 and k = 1 and v = 7
update biblia set nvg = 'Ale Daniel si zaumienil v_srdci, že sa nepoškvrní kráľovským pokrmom ani vínom, ktoré pil kráľ. Preto prosil náčelníka dvoranov, aby sa nemusel poškvrniť. ' where spis = 'Dan' and vers = 1 and k = 1 and v = 8
update biblia set nvg = 'A Boh dal Danielovi milosť a priazeň u_náčelníka dvoranov. ' where spis = 'Dan' and vers = 1 and k = 1 and v = 9
update biblia set nvg = 'Náčelník dvoranov povedal Danielovi: „Bojím sa môjho kráľovského pána, ktorý vám určil jedlo a nápoj. Ak zbadá, že máte chudšiu tvár ako ostatní chlapci, vaši vrstovníci, ja budem pre vás vinný pred kráľom a bude ma to stáť hlavu.“ ' where spis = 'Dan' and vers = 1 and k = 1 and v = 10
update biblia set nvg = 'Tu Daniel povedal dozorcovi, ktorého náčelník dvoranov ustanovil nad Danielom, Ananiášom, Mízaelom a Azariášom: ' where spis = 'Dan' and vers = 1 and k = 1 and v = 11
update biblia set nvg = '„Skús to, prosím, so svojimi sluhami desať dní. Nech nám dávajú jesť strukoviny a piť vodu; ' where spis = 'Dan' and vers = 1 and k = 1 and v = 12
update biblia set nvg = 'potom sa pozrieš na našu tvár a na tváre chlapcov, čo jedia z_kráľovho pokrmu, a môžeš urobiť so svojimi sluhami podľa toho, čo budeš vidieť.“' where spis = 'Dan' and vers = 1 and k = 1 and v = 13
update biblia set nvg = 'On ich po tejto reči podrobil skúške na desať dní. ' where spis = 'Dan' and vers = 1 and k = 1 and v = 14
update biblia set nvg = 'Po desiatich dňoch sa však ukázalo, že majú krajšiu tvár a tučnejšie telo ako všetci ostatní mladíci, ktorí jedli z_kráľovského pokrmu. ' where spis = 'Dan' and vers = 1 and k = 1 and v = 15
update biblia set nvg = 'Dozorca im teda odňal pridelené jedlo a víno a dával im strukoviny.' where spis = 'Dan' and vers = 1 and k = 1 and v = 16
update biblia set nvg = 'Týmto štyrom mladíkom dal Boh vedomosť, chápavosť pre každé písmo i_múdrosť a Danielovi aj schopnosť vysvetliť každé videnie a sen. ' where spis = 'Dan' and vers = 1 and k = 1 and v = 17
update biblia set nvg = 'Po uplynutí dní, ktoré určil kráľ do ich predstavenia, priviedol ich náčelník dvoranov pred Nabuchodonozora. ' where spis = 'Dan' and vers = 1 and k = 1 and v = 18
update biblia set nvg = 'Kráľ sa s_nimi zhováral a medzi všetkými nenašiel takých, ako boli Daniel, Ananiáš, Mízael a Azariáš. Preto sa dostali do služby ku kráľovi. ' where spis = 'Dan' and vers = 1 and k = 1 and v = 19
update biblia set nvg = 'A keď sa s_nimi kráľ radil o_veciach, kde bolo treba múdre a rozumné slovo, zistil, že desať ráz prevyšujú všetkých veštcov a čarodejníkov, čo boli v_celom kráľovstve. ' where spis = 'Dan' and vers = 1 and k = 1 and v = 20
update biblia set nvg = 'A Daniel tam bol až do prvého roku kráľa Kýra.' where spis = 'Dan' and vers = 1 and k = 1 and v = 21
go

-- 02JAN_cCIT2 resp.	Dan 2, 21-22
-- OCR32POc_CIT1	2, 26-47
-- 322	Dan 2, 31-45
update biblia set lh_id = '02JAN_cCIT2 resp.' where spis = 'Dan' and vers = 1 and k = 2 and v between 21 and 22
update biblia set lh_id = 'OCR32POc_CIT1' where spis = 'Dan' and vers = 1 and k = 2 and v between 26 and 47
go
update biblia set lc_id = 322 where spis = 'Dan' and vers = 1 and k = 2 and v between 31 and 45
go

update biblia set nvg = '[...] Pán dáva múdrosť múdrym a poznanie tým, čo rozumejú životu.' where spis = 'Dan' and vers = 1 and k = 2 and v = 21
update biblia set nvg = 'On zjavuje hlboké a skryté veci a svetlo s_ním prebýva.' where spis = 'Dan' and vers = 1 and k = 2 and v = 22
update biblia set nvg = '(Kráľ povedal) Danielovi, ktorý mal meno Baltazár: „Naozaj si myslíš, že mi môžeš povedať sen, ktorý som videl, a vysvetliť mi ho?“ ' where spis = 'Dan' and vers = 1 and k = 2 and v = 26
update biblia set nvg = 'Daniel odpovedal kráľovi: „Tajomstvo, na ktoré sa kráľ pýta, nemôžu odhaliť kráľovi mudrci, čarodejníci, veštci ani hádači. ' where spis = 'Dan' and vers = 1 and k = 2 and v = 27
update biblia set nvg = 'Je však Boh na nebi, ktorý zjavuje tajomstvá, a on ti, kráľ Nabuchodonozor, ukázal, čo sa stane v_posledných dňoch. Tvoj sen a videnie, ktoré ti na lôžku prebehlo hlavou, je toto:' where spis = 'Dan' and vers = 1 and k = 2 and v = 28
update biblia set nvg = 'Ty, kráľ, začal si na svojom lôžku rozmýšľať o_tom, čo bude ďalej. ' where spis = 'Dan' and vers = 1 and k = 2 and v = 29
update biblia set nvg = 'A ten, ktorý zjavuje tajomstvá, ukázal ti, čo má prísť. Ani mne nebolo toto tajomstvo odhalené pre múdrosť, ktorej by som mal viac ako ostatné živé tvory, ale preto, aby kráľ dostal spoľahlivé vysvetlenie a aby si poznal myšlienky svojho srdca.' where spis = 'Dan' and vers = 1 and k = 2 and v = 30
update biblia set nvg = 'Ty, kráľ, mal si videnie: Hľadel si na mohutnú sochu. Stála pred tebou veľká a nádherná socha; pohľad na ňu vzbudzoval hrôzu. ' where spis = 'Dan' and vers = 1 and k = 2 and v = 31
update biblia set nvg = 'Hlava sochy bola z_najčistejšieho zlata, hruď a ramená zo striebra, brucho a bedrá z_bronzu, ' where spis = 'Dan' and vers = 1 and k = 2 and v = 32
update biblia set nvg = 'stehná zo železa, nohy sčasti zo železa a sčasti z_hliny. ' where spis = 'Dan' and vers = 1 and k = 2 and v = 33
update biblia set nvg = 'Díval si sa a tu sa bez prispenia ľudskej ruky odtrhol kameň, zasiahol sochu do železných a hlinených nôh a rozdrúzgal ich. ' where spis = 'Dan' and vers = 1 and k = 2 and v = 34
update biblia set nvg = 'A vtom sa rozdrvilo aj železo, hlina, bronz, striebro a zlato a boli ako plevy v_lete na holohumnici; uchytil ich vietor a neostalo po nich ani stopy. A kameň, čo zasiahol sochu, stal sa veľkým vrchom a zaplnil celú zem.' where spis = 'Dan' and vers = 1 and k = 2 and v = 35
update biblia set nvg = 'Toto je sen. A poviem ti, kráľ, aj jeho význam. ' where spis = 'Dan' and vers = 1 and k = 2 and v = 36
update biblia set nvg = 'Ty si kráľ kráľov. Boh nebies ti dal kráľovstvo, silu, moc a slávu; ' where spis = 'Dan' and vers = 1 and k = 2 and v = 37
update biblia set nvg = 'do tvojich rúk dal všetky krajiny, kde bývajú ľudia, divé zvieratá i_nebeské vtáctvo a teba ustanovil za pána všetkého: ty si hlava zo zlata. ' where spis = 'Dan' and vers = 1 and k = 2 and v = 38
update biblia set nvg = 'Po tebe povstane iné kráľovstvo, menšie než tvoje; potom tretie kráľovstvo z_bronzu, ktoré bude vládnuť nad celou zemou. ' where spis = 'Dan' and vers = 1 and k = 2 and v = 39
update biblia set nvg = 'Štvrté kráľovstvo bude mocné ako železo; veď železo drúzga a pokoruje všetko. Aj ono ako drviace železo všetko rozbije a rozdrúzga. ' where spis = 'Dan' and vers = 1 and k = 2 and v = 40
update biblia set nvg = 'A že si videl časť nôh a prstov z_hrnčiarskej hliny a časť zo železa, kráľovstvo bude rozdelené; bude mať niečo z_pevnosti železa, ako si videl železo zmiešané s_blatistou hlinou. ' where spis = 'Dan' and vers = 1 and k = 2 and v = 41
update biblia set nvg = 'A že prsty na nohách boli čiastočne zo železa a čiastočne z_hliny, to znamená, že kráľovstvo bude čiastočne mocné a čiastočne krehké. ' where spis = 'Dan' and vers = 1 and k = 2 and v = 42
update biblia set nvg = 'A že si videl železo zmiešané s_blatistou hlinou, to znamená, že sa budú miešať v_manželských zväzkoch, ale spolu držať nebudú, ako sa železo s_hlinou nezmieša. ' where spis = 'Dan' and vers = 1 and k = 2 and v = 43
update biblia set nvg = 'V_čase týchto kráľov vzbudí Boh nebies kráľovstvo, ktoré sa nikdy nerozpadne, a kráľovstvo sa inému ľudu nedostane; ono rozdrúzga a zničí všetky tieto kráľovstvá a samo bude trvať naveky, ' where spis = 'Dan' and vers = 1 and k = 2 and v = 44
update biblia set nvg = 'tak, ako si videl, že sa z_vrchu bez prispenia ruky odtrhol kameň a rozdrúzgal hlinu, železo, bronz, striebro a zlato. Veľký Boh ukázal kráľovi, čo príde neskôr. Sen je pravdivý a jeho výklad spoľahlivý.“' where spis = 'Dan' and vers = 1 and k = 2 and v = 45
update biblia set nvg = 'Vtedy kráľ Nabuchodonozor padol na tvár, poklonil sa Danielovi a rozkázal, aby mu priniesli obetu a kadidlo. ' where spis = 'Dan' and vers = 1 and k = 2 and v = 46
update biblia set nvg = 'A kráľ povedal Danielovi: „Váš Boh je naozaj Boh bohov a Pán kráľov, ktorý zjavuje tajomstvá, lebo si dokázal rozriešiť toto tajomstvo.“' where spis = 'Dan' and vers = 1 and k = 2 and v = 47
go

-- OCR32UTc_CIT1	3, 8-12. 19-24. 91-97
-- 323	Dan 3, 14-20. 91-92. 95
-- 324	Dan 3, 25. 34-43
-- 325	Dan 3, 52a. 52c. 53. 54. 55. 56
-- 326	Dan 3, 52a. 52c. 53. 54. 55. 56
-- 327	Dan 3, 52a. 52c. 53. 54. 55. 56
-- 328	Dan 3, 57. 58. 59. 60. 61
-- 329	Dan 3, 62. 63. 64. 65. 66. 67
-- 330	Dan 3, 68. 69. 70. 71. 72. 73. 74
-- 331	Dan 3, 75. 76. 77. 78. 79. 80. 81
-- 332	Dan 3, 82. 83. 84. 85. 86. 87
-- CHVAL_DAN3,26	Dan 3, 26. 27a. 29. 34-41
-- CHVAL_DAN3,52-57	Dan 3, 52-57
-- CHVAL_DAN3,57-88.56	Dan 3, 57-88. 56
-- OCR19UTc_CIT1 resp.	Dan 3, 42. 29a
-- OCR32UTc_CIT1 resp.	Dan 3, 49. 50b. 95
update biblia set lh_id = 'OCR32UTc_CIT1' where spis = 'Dan' and vers = 1 and k = 3 and v between 8 and 12
update biblia set lh_id = 'OCR32UTc_CIT1' where spis = 'Dan' and vers = 1 and k = 3 and v between 19 and 24
update biblia set lh_id = 'CHVAL_DAN3,26' where spis = 'Dan' and vers = 1 and k = 3 and v between 26 and 27
update biblia set lh_id = 'CHVAL_DAN3,26' where spis = 'Dan' and vers = 1 and k = 3 and v = 29
update biblia set lh_id = 'CHVAL_DAN3,26' where spis = 'Dan' and vers = 1 and k = 3 and v between 34 and 41
update biblia set lh_id = 'OCR32UTc_CIT1 resp.' where spis = 'Dan' and vers = 1 and k = 3 and v between 49 and 50
update biblia set lh_id = 'CHVAL_DAN3,52-57' where spis = 'Dan' and vers = 1 and k = 3 and v between 52 and 56
update biblia set lh_id = 'CHVAL_DAN3,57-88.56' where spis = 'Dan' and vers = 1 and k = 3 and v between 57 and 88
update biblia set lh_id = 'OCR32UTc_CIT1' where spis = 'Dan' and vers = 1 and k = 3 and v between 91 and 97
go
update biblia set lc_id = 323 where spis = 'Dan' and vers = 1 and k = 3 and v between 14 and 20
update biblia set lc_id = 324 where spis = 'Dan' and vers = 1 and k = 3 and v = 25
update biblia set lc_id = 324 where spis = 'Dan' and vers = 1 and k = 3 and v between 34 and 43
update biblia set lc_id = 325 where spis = 'Dan' and vers = 1 and k = 3 and v between 52 and 56
update biblia set lc_id = 328 where spis = 'Dan' and vers = 1 and k = 3 and v between 57 and 61
update biblia set lc_id = 329 where spis = 'Dan' and vers = 1 and k = 3 and v between 62 and 67
update biblia set lc_id = 330 where spis = 'Dan' and vers = 1 and k = 3 and v between 68 and 74
update biblia set lc_id = 331 where spis = 'Dan' and vers = 1 and k = 3 and v between 75 and 81
update biblia set lc_id = 332 where spis = 'Dan' and vers = 1 and k = 3 and v between 82 and 87
update biblia set lc_id = 323 where spis = 'Dan' and vers = 1 and k = 3 and v between 91 and 92
update biblia set lc_id = 323 where spis = 'Dan' and vers = 1 and k = 3 and v = 95
go

update biblia set nvg = 'V_tom čase prišli chaldejskí muži a žalovali na Židov. ' where spis = 'Dan' and vers = 1 and k = 3 and v = 8
update biblia set nvg = 'Povedali kráľovi Nabuchodonozorovi: „Kráľ, ži naveky. ' where spis = 'Dan' and vers = 1 and k = 3 and v = 9
update biblia set nvg = 'Ty, kráľ, vydal si nariadenie, aby každý človek, ktorý začuje zvuk poľnice, flauty, citary, harfy, lutny, gájd a iných hudobných nástrojov, padol na zem a klaňal sa zlatej soche. ' where spis = 'Dan' and vers = 1 and k = 3 and v = 10
update biblia set nvg = 'Toho však, kto by nepadol na zem a neklaňal by sa, hodia do rozpálenej pece. ' where spis = 'Dan' and vers = 1 and k = 3 and v = 11
update biblia set nvg = 'A sú tu judejskí muži, ktorých si ustanovil za správcov babylonskej provincie, Sidrach, Mizach a Abdenago. A tí muži si teba, kráľ, nevážia: nectia si tvojich bohov a zlatej soche, ktorú si postavil, sa neklaňajú.“' where spis = 'Dan' and vers = 1 and k = 3 and v = 12
go
update biblia set nvg = 'Kráľ Nabuchodonozor povedal: "Je to pravda, Sidrach, Mizach a Abdenago, že neuctievate mojich bohov a neklaniate sa zlatej soche, ktorú som postavil? ' where spis = 'Dan' and vers = 1 and k = 3 and v = 14
update biblia set nvg = 'Ste ochotní teraz, hneď ako počujete zvuk trúby, píšťaly, citary, sambuky, harfy, symfónie a iných hudobných nástrojov, padnúť na zem a klaňať sa soche, ktorú som urobil? Ak sa nebudete klaňať, v tú hodinu vás hodia do rozpálenej pece; a ktorý boh vás vyslobodí z mojej ruky?"' where spis = 'Dan' and vers = 1 and k = 3 and v = 15
update biblia set nvg = 'Sidrach, Mizach a Abdenago odpovedali Nabuchodonozorovi: "Na toto ti nemusíme odpovedať; ' where spis = 'Dan' and vers = 1 and k = 3 and v = 16
update biblia set nvg = 'totiž či nás náš Boh, ktorého uctievame, môže zachrániť z rozpálenej pece a či nás vyslobodí z tvojej ruky, kráľ. ' where spis = 'Dan' and vers = 1 and k = 3 and v = 17
update biblia set nvg = 'Aj keby to neurobil, vedz, kráľ, že tvojich bohov si nectíme a zlatej soche, ktorú si postavil, sa neklaniame."' where spis = 'Dan' and vers = 1 and k = 3 and v = 18
update biblia set nvg = 'Vtedy Nabuchodonozor vzkypel zlosťou a tvár sa mu znetvorila pre Sidracha, Mizacha a Abdenaga. Preto rozkázal, aby pec rozpálili sedemkrát viac ako zvyčajne, ' where spis = 'Dan' and vers = 1 and k = 3 and v = 19
update biblia set nvg = 'a najsilnejším mužom zo svojho vojska rozkázal, aby Sidracha, Mizacha a Abdenaga zviazali a hodili do rozpálenej pece. ' where spis = 'Dan' and vers = 1 and k = 3 and v = 20
update biblia set nvg = 'A hneď tých mužov zviazali a v_ich plášťoch, turbanoch, obuvi a odeve ich hodili doprostred rozpálenej pece. ' where spis = 'Dan' and vers = 1 and k = 3 and v = 21
update biblia set nvg = 'A pretože kráľov rozkaz súril a pec bola veľmi rozpálená, mužov, čo hádzali Sidracha, Mizacha a Abdenaga, plameň ohňa zahubil. ' where spis = 'Dan' and vers = 1 and k = 3 and v = 22
update biblia set nvg = 'Ale traja muži, Sidrach, Mizach a Abdenago, padli poviazaní doprostred rozpálenej pece.' where spis = 'Dan' and vers = 1 and k = 3 and v = 23
update biblia set nvg = 'Prechádzali sa uprostred ohňa, chválili Boha a zvelebovali Pána.' where spis = 'Dan' and vers = 1 and k = 3 and v = 24
update biblia set nvg = 'Azariáš stál uprostred ohňa, otvoril ústa a modlil sa:' where spis = 'Dan' and vers = 1 and k = 3 and v = 25
update biblia set nvg = 'Zvelebený si, Pane, Bože našich otcov,_* / hoden si chvály a tvoje meno je slávne naveky,' where spis = 'Dan' and vers = 1 and k = 3 and v = 26
update biblia set nvg = 'lebo si spravodlivý vo všetkom,_* / čo si nám urobil. [...]' where spis = 'Dan' and vers = 1 and k = 3 and v = 27
update biblia set nvg = 'Pretože sme zhrešili a zločinne konali,_* / odpadli sme od teba a páchali všetko zlo.' where spis = 'Dan' and vers = 1 and k = 3 and v = 29
go
update biblia set nvg = 'Pre tvoje meno, prosím, neodvrhni nás navždy_* / a nezrušuj svoju zmluvu.' where spis = 'Dan' and vers = 1 and k = 3 and v = 34
update biblia set nvg = 'Ani nám neodriekni svoje milosrdenstvo_† / pre Abraháma, tvojho miláčika,_* / pre Izáka, tvojho sluhu, a pre Izraela, tvojho svätého;' where spis = 'Dan' and vers = 1 and k = 3 and v = 35
update biblia set nvg = 'veď si im prisľúbil, že rozmnožíš ich potomstvo_* / ako hviezdy na nebi a ako piesok na brehu mora.' where spis = 'Dan' and vers = 1 and k = 3 and v = 36
update biblia set nvg = 'Pane, stali sme sa menšími ako všetky iné národy_* / a sme dnes pokorení na celej zemi pre svoje hriechy.' where spis = 'Dan' and vers = 1 and k = 3 and v = 37
update biblia set nvg = 'A niet v_tomto čase ani kniežaťa,_* / ani proroka, ani vodcu, ani celopalu, / ani krvavej obety, ani darov, ani kadidla,_* / ani miesta, kde by sme ti priniesli prvotiny, / aby sme našli milosrdenstvo._*' where spis = 'Dan' and vers = 1 and k = 3 and v = 38
update biblia set nvg = 'Ale prijmi nás skrúšených srdcom a ponížených duchom; / nech je dnes pred tebou naša obeta_† / ako zápalné obety baranov a býkov_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 39
update biblia set nvg = 'a ako tisíce tučných baránkov / a zdokonaľ tých, čo ťa nasledujú,_* / lebo nebudú zahanbení tí, čo dúfajú v_teba.' where spis = 'Dan' and vers = 1 and k = 3 and v = 40
update biblia set nvg = 'A teraz ťa chceme nasledovať celým srdcom_* / a s_bázňou hľadáme tvoju tvár.' where spis = 'Dan' and vers = 1 and k = 3 and v = 41
update biblia set nvg = 'Nezahanbi nás, ale zaobchádzaj s nami podľa svojej miernosti a podľa svojho veľkého milosrdenstva. ' where spis = 'Dan' and vers = 1 and k = 3 and v = 42
update biblia set nvg = 'Vysloboď nás svojou obdivuhodnou mocou a osláv svoje meno, Pane.' where spis = 'Dan' and vers = 1 and k = 3 and v = 43
go
update biblia set nvg = 'Pánov anjel zostúpil s_Azariášom a jeho spoločníkmi do pece a vyrážal plameň ohňa z_pece.' where spis = 'Dan' and vers = 1 and k = 3 and v = 49
update biblia set nvg = '[...] A oheň sa ich vôbec nedotkol, ani im neublížil.' where spis = 'Dan' and vers = 1 and k = 3 and v = 50
update biblia set nvg = 'Zvelebený si, Pane, Bože našich otcov,_* / hoden chvály a vyvýšený naveky. // Zvelebené je tvoje meno, slávne a sväté,_* / hodno chvály a vyvýšené nad všetky veky.' where spis = 'Dan' and vers = 1 and k = 3 and v = 52
update biblia set nvg = 'Zvelebený si v_chráme tvojej svätej slávy,_* / hoden chvály a slávy nad všetky veky.' where spis = 'Dan' and vers = 1 and k = 3 and v = 53
update biblia set nvg = 'Zvelebený si na tróne svojho kráľovstva,_* / hoden chvály a vyvýšený nad všetky veky.' where spis = 'Dan' and vers = 1 and k = 3 and v = 54
update biblia set nvg = 'Zvelebený si, čo prenikáš pohľadom priepasti,_† / a tróniš nad cherubmi,_* / hoden chvály a vyvýšený naveky.' where spis = 'Dan' and vers = 1 and k = 3 and v = 55
update biblia set nvg = 'Zvelebený si na nebeskej oblohe;_* / hoden chvály a slávy naveky.' where spis = 'Dan' and vers = 1 and k = 3 and v = 56
update biblia set nvg = 'Velebte Pána, všetky jeho diela;_* / chváľte a vyvyšujte ho naveky.' where spis = 'Dan' and vers = 1 and k = 3 and v = 57
update biblia set nvg = 'Velebte Pána, nebesia;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 58
update biblia set nvg = 'velebte Pána, jeho anjeli.' where spis = 'Dan' and vers = 1 and k = 3 and v = 59
update biblia set nvg = 'Velebte Pána, všetky vody nad nebesami;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 60
update biblia set nvg = 'nech Pána velebia všetky jeho mocnosti.' where spis = 'Dan' and vers = 1 and k = 3 and v = 61
update biblia set nvg = 'Velebte Pána, slnko a mesiac;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 62
update biblia set nvg = 'velebte Pána, hviezdy na nebi.' where spis = 'Dan' and vers = 1 and k = 3 and v = 63
update biblia set nvg = 'Velebte Pána, dážď i_rosa;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 64
update biblia set nvg = 'veleb Pána, každý vietor.' where spis = 'Dan' and vers = 1 and k = 3 and v = 65
update biblia set nvg = 'Velebte Pána, oheň a páľava;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 66
update biblia set nvg = 'velebte Pána, chlad a horúčosť.' where spis = 'Dan' and vers = 1 and k = 3 and v = 67
update biblia set nvg = 'Velebte Pána, rosa a srieň;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 68
update biblia set nvg = 'velebte Pána, mráz a zima.' where spis = 'Dan' and vers = 1 and k = 3 and v = 69
update biblia set nvg = 'Velebte Pána, ľad a sneh;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 70
update biblia set nvg = 'velebte Pána, noci a dni.' where spis = 'Dan' and vers = 1 and k = 3 and v = 71
update biblia set nvg = 'Velebte Pána, svetlo a tma;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 72
update biblia set nvg = 'velebte Pána, blesky a oblaky.' where spis = 'Dan' and vers = 1 and k = 3 and v = 73
update biblia set nvg = 'Nech Pána velebí zem;_* / nech ho chváli a oslavuje naveky.' where spis = 'Dan' and vers = 1 and k = 3 and v = 74
update biblia set nvg = 'Velebte Pána, vrchy a kopce;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 75
update biblia set nvg = 'velebte Pána, všetky rastliny na zemi.' where spis = 'Dan' and vers = 1 and k = 3 and v = 76
update biblia set nvg = 'Velebte Pána, moria a rieky;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 77
update biblia set nvg = 'velebte Pána, pramene.' where spis = 'Dan' and vers = 1 and k = 3 and v = 78
update biblia set nvg = 'Velebte Pána, veľryby a všetko, čo sa hýbe vo vodách;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 79
update biblia set nvg = 'velebte Pána, všetky nebeské vtáky.' where spis = 'Dan' and vers = 1 and k = 3 and v = 80
update biblia set nvg = 'Velebte Pána, všetka zver a dobytok;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 81
update biblia set nvg = 'velebte Pána, synovia človeka.' where spis = 'Dan' and vers = 1 and k = 3 and v = 82
update biblia set nvg = 'Veleb Pána, Izrael;_* / chváľte a vyvyšujte ho naveky.' where spis = 'Dan' and vers = 1 and k = 3 and v = 83
update biblia set nvg = 'Velebte Pána, vy, jeho kňazi;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 84
update biblia set nvg = 'velebte Pána, jeho služobníci.' where spis = 'Dan' and vers = 1 and k = 3 and v = 85
update biblia set nvg = 'Velebte Pána, duchovia a duše spravodlivých;_*' where spis = 'Dan' and vers = 1 and k = 3 and v = 86
update biblia set nvg = 'velebte Pána, svätí a pokorní srdcom.' where spis = 'Dan' and vers = 1 and k = 3 and v = 87
update biblia set nvg = 'Velebte Pána, Ananiáš, Azariáš a Mízael;_* / chváľte a vyvyšujte ho naveky.' where spis = 'Dan' and vers = 1 and k = 3 and v = 88
go

update biblia set nvg = '(NVg 91/24))Vtedy kráľ Nabuchodonozor užasol, rýchle vstal a povedal svojim dvoranom: „Nehodili sme do ohňa troch poviazaných mužov?“ Oni kráľovi odpovedali: „Tak je, kráľ.“ ' where spis = 'Dan' and vers = 1 and k = 3 and v = 91
update biblia set nvg = '(NVg 92/25))A on povedal: „Ja vidím štyroch mužov bez pút; chodia uprostred ohňa bez ujmy a štvrtý sa výzorom podobá synovi bohov.“ ' where spis = 'Dan' and vers = 1 and k = 3 and v = 92
update biblia set nvg = '(NVg 93/26))I_pristúpil Nabuchodonozor k_otvoru rozpálenej pece a povedal: „Sidrach, Mizach a Abdenago, služobníci najvyššieho Boha, vyjdite a poďte sem!“ A Sidrach, Mizach a Abdenago vyšli hneď z_ohňa. ' where spis = 'Dan' and vers = 1 and k = 3 and v = 93
update biblia set nvg = '(NVg 94/27))Tu sa zhromaždili miestodržitelia, úradníci, sudcovia a kráľovi radcovia a hľadeli na tých mužov, lebo oheň nemal nijakú moc nad ich telami, ani vlas na hlave sa im nepripálil, ani ich odev sa nezmenil, ani nenapáchli dymom z_ohňa. ' where spis = 'Dan' and vers = 1 and k = 3 and v = 94
update biblia set nvg = '(NVg 95/28))Vtedy Nabuchodonozor vykríkol: „Nech je zvelebený Boh Sidracha, Mizacha a Abdenaga, ktorý poslal svojho anjela a vyslobodil svojich služobníkov, čo v_neho dôverovali, prestúpili kráľov rozkaz a obetovali svoje telá, aby nemuseli slúžiť a klaňať sa inému bohu okrem svojho Boha. ' where spis = 'Dan' and vers = 1 and k = 3 and v = 95
update biblia set nvg = '(NVg 96/29))Preto nariaďujem, aby každého z_ktoréhokoľvek národa, kmeňa a jazyka, kto by sa rúhal Bohu Sidracha, Mizacha a Abdenaga, rozsekali na kúsky a jeho dom premenili na hnojisko, lebo niet iného Boha, ktorý by mohol takto zachrániť.“ ' where spis = 'Dan' and vers = 1 and k = 3 and v = 96
update biblia set nvg = '(NVg 97/30))Potom kráľ povýšil Sidracha, Mizacha a Abdenaga v_babylonskej krajine.' where spis = 'Dan' and vers = 1 and k = 3 and v = 97
go

-- POST1_3STRCIT	Dan 4, 24b
update biblia set lh_id = 'POST1_3STRCIT' where spis = 'Dan' and vers = 1 and k = 4 and v = 24
go
update biblia set nvg = '[...] Naprav svoje hriechy almužnou a svoje neprávosti milosrdenstvom voči chudobným; potom ti Boh predĺži život.' where spis = 'Dan' and vers = 1 and k = 4 and v = 24
go

-- OCR32STRc_CIT1	5, 1-2. 5-9. 13-17. 25 – 6, 1
-- 333	Dan 5, 1-6. 13-14. 16-17. 23-28
update biblia set lh_id = 'OCR32STRc_CIT1' where spis = 'Dan' and vers = 1 and k = 5 and v between 1 and 2
update biblia set lh_id = 'OCR32STRc_CIT1' where spis = 'Dan' and vers = 1 and k = 5 and v between 5 and 9
update biblia set lh_id = 'OCR32STRc_CIT1' where spis = 'Dan' and vers = 1 and k = 5 and v between 13 and 17
update biblia set lh_id = 'OCR32STRc_CIT1' where spis = 'Dan' and vers = 1 and k = 5 and v between 25 and 30
update biblia set lh_id = 'OCR32STRc_CIT1' where spis = 'Dan' and vers = 1 and k = 6 and v = 1
go
update biblia set lc_id = 333 where spis = 'Dan' and vers = 1 and k = 5 and v between 1 and 6
update biblia set lc_id = 333 where spis = 'Dan' and vers = 1 and k = 5 and v between 13 and 14
update biblia set lc_id = 333 where spis = 'Dan' and vers = 1 and k = 5 and v between 16 and 17
update biblia set lc_id = 333 where spis = 'Dan' and vers = 1 and k = 5 and v between 23 and 28
go

update biblia set nvg = 'Kráľ Baltazár usporiadal veľkú hostinu pre tisíc svojich veľmožov a pred týmito tisícmi pil víno. ' where spis = 'Dan' and vers = 1 and k = 5 and v = 1
update biblia set nvg = 'Podnapitý Baltazár rozkázal priniesť zlaté a strieborné nádoby, ktoré jeho otec Nabuchodonozor odvliekol z_jeruzalemského chrámu, aby z_nich pili kráľ, jeho veľmoži, jeho ženy i_súložnice.' where spis = 'Dan' and vers = 1 and k = 5 and v = 2
update biblia set nvg = 'I doniesli zlaté nádoby, čo odvliekli z jeruzalemského chrámu, a pili z nich kráľ, jeho veľmoži, jeho ženy i súložnice. ' where spis = 'Dan' and vers = 1 and k = 5 and v = 3
update biblia set nvg = 'Pili víno a vychvaľovali svojich bohov zo zlata, zo striebra, z bronzu, zo železa, z dreva a z kameňa.' where spis = 'Dan' and vers = 1 and k = 5 and v = 4
update biblia set nvg = 'Vtom sa zjavili prsty ľudskej ruky a písali oproti svietniku na omietku steny kráľovského paláca; a kráľ hľadel na prsty ruky, čo písala. ' where spis = 'Dan' and vers = 1 and k = 5 and v = 5
update biblia set nvg = 'Tu sa kráľova tvár zmenila, myšlienky ho desili, bedrové kĺby sa mu uvoľnili a triasli sa mu kolená. ' where spis = 'Dan' and vers = 1 and k = 5 and v = 6
update biblia set nvg = 'Kráľ silne zakričal, aby priviedli veštcov, Chaldejcov a hádačov. A kráľ prehovoril k_babylonským mudrcom: „Kto prečíta tento nápis a vysvetlí mi jeho zmysel, bude sa obliekať do purpuru, zlatú reťaz bude nosiť na krku a bude ako tretí vládnuť v_mojom kráľovstve.“ ' where spis = 'Dan' and vers = 1 and k = 5 and v = 7
update biblia set nvg = 'Vtedy prišli všetci kráľovskí mudrci, ale nemohli nápis ani prečítať, ani vysvetliť jeho zmysel kráľovi. ' where spis = 'Dan' and vers = 1 and k = 5 and v = 8
update biblia set nvg = 'Preto sa kráľ Baltazár veľmi naľakal a výzor tváre sa mu zmenil. Ale aj jeho veľmoži boli zmätení.' where spis = 'Dan' and vers = 1 and k = 5 and v = 9
go
update biblia set nvg = 'Potom priviedli pred kráľa Daniela a kráľ mu povedal: „Ty si Daniel, z_judejských zajatcov, ktorých kráľ, môj otec, priviedol z_Judey? ' where spis = 'Dan' and vers = 1 and k = 5 and v = 13
update biblia set nvg = 'Počul som o_tebe, že máš ducha bohov a že sa u_teba prejavil mimoriadny dôvtip, rozumnosť a múdrosť. ' where spis = 'Dan' and vers = 1 and k = 5 and v = 14
update biblia set nvg = 'Práve teraz predstúpili predo mňa mudrci, veštci, aby prečítali tento nápis a vysvetlili mi jeho zmysel, no nevedeli mi povedať, čo tá reč znamená. ' where spis = 'Dan' and vers = 1 and k = 5 and v = 15
update biblia set nvg = 'Ale o_tebe som počul, že vieš vykladať tajomstvá a riešiť záhady. Ak mi teda budeš vedieť prečítať tento nápis a vysvetlíš mi jeho zmysel, budeš sa obliekať do purpuru, zlatú reťaz budeš nosiť na krku a budeš tretím kniežaťom v_mojom kráľovstve.“' where spis = 'Dan' and vers = 1 and k = 5 and v = 16
update biblia set nvg = 'Daniel odpovedal kráľovi: „Svoje dary si nechaj a odmenu daj inému; ale nápis ti prečítam, kráľ, a jeho význam ti vyložím.' where spis = 'Dan' and vers = 1 and k = 5 and v = 17
go
update biblia set nvg = 'Vyvyšoval si sa nad Pána nebies, priniesli ti nádoby jeho domu a pil si z nich víno ty i tvoji veľmoži, tvoje ženy a súložnice. Vychvaľoval si strieborných, zlatých, bronzových, železných, drevených a kamenných bohov, ktorí nevidia, nepočujú a nevnímajú, ale Boha, v ktorého ruke je tvoj dych a všetky tvoje cesty, si neoslavoval.' where spis = 'Dan' and vers = 1 and k = 5 and v = 23
update biblia set nvg = 'Preto poslal tieto prsty a napísal tento nápis.' where spis = 'Dan' and vers = 1 and k = 5 and v = 24
update biblia set nvg = 'Toto bolo napísané: Mane, tekel, ufarsin. ' where spis = 'Dan' and vers = 1 and k = 5 and v = 25
update biblia set nvg = 'A toto je význam slov: Mane – Boh spočítal tvoje kraľovanie a urobil mu koniec; ' where spis = 'Dan' and vers = 1 and k = 5 and v = 26
update biblia set nvg = 'tekel – odvážili ťa na váhe a zistili, že si ľahký; ' where spis = 'Dan' and vers = 1 and k = 5 and v = 27
update biblia set nvg = 'ufarsin – tvoje kráľovstvo je rozdelené a vydané do rúk Médov a Peržanov.“ ' where spis = 'Dan' and vers = 1 and k = 5 and v = 28
update biblia set nvg = 'Vtedy na Baltazárov rozkaz obliekli Daniela do purpuru, okolo krku mu zavesili zlatú reťaz a vyhlasovali o_ňom, že má moc ako tretí v_jeho kráľovstve. ' where spis = 'Dan' and vers = 1 and k = 5 and v = 29
update biblia set nvg = 'A v_tú noc chaldejského kráľa Baltazára zabili.' where spis = 'Dan' and vers = 1 and k = 5 and v = 30
go
update biblia set nvg = 'V_kráľovstve nastúpil šesťdesiatdvaročný Méd Dárius.' where spis = 'Dan' and vers = 1 and k = 6 and v = 1
go

-- _4SO9_CIT	Dan 6, 27b-28a
-- 334	Dan 6, 12-28
update biblia set lh_id = '_4SO9_CIT' where spis = 'Dan' and vers = 1 and k = 6 and v between 27 and 28
go
update biblia set lc_id = 334 where spis = 'Dan' and vers = 1 and k = 6 and v between 12 and 28
go

update biblia set nvg = 'V istý deň vtrhli (vysokí úradníci a satrapovia) k Danielovi a našli ho, ako sa modlí a prosí svojho Boha.' where spis = 'Dan' and vers = 1 and k = 6 and v = 12
update biblia set nvg = 'Potom išli ku kráľovi a hovorili mu o jeho nariadení: "Kráľ, nepodpísal si rozhodnutie, že každého, kto by v nasledujúcich tridsiatich dňoch prosil niektorého boha alebo človeka o niečo, okrem teba, kráľ, treba hodiť do levovej jamy?" // Kráľ odpovedal: "Áno, je to isté podľa zákona Médov a Peržanov, ktorý je nezmeniteľný."' where spis = 'Dan' and vers = 1 and k = 6 and v = 13
update biblia set nvg = 'I povedali kráľovi: "Daniel, jeden z judejských zajatcov, nedbá na teba, kráľ, ani na nariadenie, ktoré si vydal, a tri razy denne koná svoje modlitby."' where spis = 'Dan' and vers = 1 and k = 6 and v = 14
update biblia set nvg = 'Keď kráľ počul ich reč, veľmi sa zarmútil a zaumienil si, že Daniela zachráni, a až do západu slnka sa usiloval o jeho záchranu.' where spis = 'Dan' and vers = 1 and k = 6 and v = 15
update biblia set nvg = 'Ale muži dorážali na kráľa a vraveli mu: "Uvedom si, kráľ; u Médov a Peržanov je zákon, že neslobodno zmeniť nijaké nariadenie ani rozhodnutie, ktoré vyniesol kráľ."' where spis = 'Dan' and vers = 1 and k = 6 and v = 16
update biblia set nvg = 'A tak kráľ rozkázal priviesť Daniela a hodiť ho do levovej jamy. Kráľ pritom povedal Danielovi: "Nech ťa zachráni tvoj Boh, ktorého tak vytrvalo uctievaš."' where spis = 'Dan' and vers = 1 and k = 6 and v = 17
update biblia set nvg = 'Priniesli kameň a položili ho na otvor jamy; kráľ ho zapečatil svojím prsteňom a prsteňmi svojich veľmožov, aby nik nemohol zasiahnuť do Danielovho položenia. ' where spis = 'Dan' and vers = 1 and k = 6 and v = 18
update biblia set nvg = 'Potom kráľ odišiel do svojho paláca a šiel spať bez večere; nedal si priniesť jedlo a spánok ho obchádzal.' where spis = 'Dan' and vers = 1 and k = 6 and v = 19
update biblia set nvg = 'Na úsvite rýchlo vstal a ponáhľal sa k levovej jame. ' where spis = 'Dan' and vers = 1 and k = 6 and v = 20
update biblia set nvg = 'Keď sa priblížil k jame, bolestným hlasom oslovil Daniela: "Daniel, služobník živého Boha, vládal ťa tvoj Boh, ktorého si vytrvalo ctíš, zachrániť pred levmi?"' where spis = 'Dan' and vers = 1 and k = 6 and v = 21
update biblia set nvg = 'Daniel odpovedal kráľovi: "Kráľ, ži naveky! ' where spis = 'Dan' and vers = 1 and k = 6 and v = 22
update biblia set nvg = 'Môj Boh poslal svojho anjela, ten zavrel levom tlamy, a neublížili mi, lebo sa ukázalo, že som pred ním spravodlivý; ale ani proti tebe, kráľ, som sa neprevinil."' where spis = 'Dan' and vers = 1 and k = 6 and v = 23
update biblia set nvg = 'Kráľ sa veľmi potešil a rozkázal Daniela z jamy vytiahnuť. Daniela vytiahli z jamy a nenašli na ňom nijaký úraz, lebo on dôveroval svojmu Bohu.' where spis = 'Dan' and vers = 1 and k = 6 and v = 24
update biblia set nvg = 'Na kráľov rozkaz priviedli mužov, čo na Daniela žalovali, a hodili ich do levovej jamy, aj ich deti a ženy; ale ešte nedopadli ani na dno jamy a levy sa ich zmocnili a rozdrúzgali im kosti.' where spis = 'Dan' and vers = 1 and k = 6 and v = 25
update biblia set nvg = 'Vtedy kráľ Darius napísal všetkým národom, kmeňom a jazykom, čo bývali na celej zemi: ' where spis = 'Dan' and vers = 1 and k = 6 and v = 26
update biblia set nvg = '"Nech vzrastá váš pokoj! Ja vydávam nariadenie: Nech sa v celom mojom kráľovstve trasú a boja Danielovho Boha; lebo on je živý Boh, on ostáva naveky, jeho kráľovstvo sa nerozpadne a jeho moc trvá naveky; ' where spis = 'Dan' and vers = 1 and k = 6 and v = 27
update biblia set nvg = 'on vyslobodzuje a zachraňuje, robí znamenia a zázraky na nebi i na zemi. On vyslobodil Daniela z moci levov."' where spis = 'Dan' and vers = 1 and k = 6 and v = 28
go

-- VN1_cCIT1_3SO resp.	Dan 7, 27
-- 335	Dan 7, 13-14
-- 336	Dan 7, 15-27
-- 337	Dan 7, 2-14
-- 338	Dan 7, 9-10. 13-14
-- 339	Dan 7, 9-10. 13-14
update biblia set lh_id = 'VN1_cCIT1_3SO resp.' where spis = 'Dan' and vers = 1 and k = 7 and v = 27
go
update biblia set lc_id = 337 where spis = 'Dan' and vers = 1 and k = 7 and v between 2 and 14
update biblia set lc_id = 336 where spis = 'Dan' and vers = 1 and k = 7 and v between 15 and 27
go

update biblia set nvg = 'Daniel povedal: "V noci som mal videnie. Štyri nebeské vetry búrili Veľké more ' where spis = 'Dan' and vers = 1 and k = 7 and v = 2
update biblia set nvg = 'a z mora vystupovali štyri veľké zvieratá. Každé bolo inakšie.' where spis = 'Dan' and vers = 1 and k = 7 and v = 3
update biblia set nvg = 'Prvé bolo ako levica a malo orlie krídla. Pozeral som sa, kým mu vytrhali krídla; dvihlo sa zo zeme, postavilo sa na nohy ako človek a dostalo ľudské srdce.' where spis = 'Dan' and vers = 1 and k = 7 and v = 4
update biblia set nvg = 'Vtom sa zjavilo druhé zviera, podobné medveďovi; bolo polovzpriamené a v pysku medzi zubami malo tri rebrá. Hovorili mu: »Vstaň a zjedz veľa mäsa!«' where spis = 'Dan' and vers = 1 and k = 7 and v = 5
update biblia set nvg = 'Potom som videl iné zviera ako leopard: malo na sebe štyri vtáčie krídla. Zviera malo štyri hlavy a dostalo moc. ' where spis = 'Dan' and vers = 1 and k = 7 and v = 6
update biblia set nvg = 'Potom som v nočnom videní pozoroval štvrté zviera, hrozné a čudné a veľmi mocné; malo veľké železné zuby, žralo a drúzgalo všetko a čo ostalo, šliapalo nohami. Líšilo sa od všetkých zvierat, čo som videl pred ním, a malo desať rohov.' where spis = 'Dan' and vers = 1 and k = 7 and v = 7
update biblia set nvg = 'Ako som pozoroval rohy, zrazu medzi nimi vyrástol iný, malý roh. Tri z predošlých boli pred ním vytrhnuté. Na tomto rohu boli oči, ako ľudské oči, a ústa, ktoré hovorili neslýchané veci.' where spis = 'Dan' and vers = 1 and k = 7 and v = 8
update biblia set nvg = 'Díval som sa, kým postavili tróny, a Starec si sadol. Jeho rúcho bolo biele ako sneh a vlasy na jeho hlave ako čistá vlna. Jeho trónom boli ohnivé plamene, kolesá jeho trónu blčiaci oheň.' where spis = 'Dan' and vers = 1 and k = 7 and v = 9
update biblia set nvg = 'Od neho vyvierala a prúdila ohnivá rieka; tisíce tisícov mu slúžili a desaťtisíce státisícov stáli okolo neho: zasadol k súdu a knihy sa otvorili.' where spis = 'Dan' and vers = 1 and k = 7 and v = 10
update biblia set nvg = 'Pozeral som sa, lebo som počul spupné reči, ktoré ten roh hovoril, a videl som, ako bolo zviera zabité, jeho telo zničené a hodené na oheň. ' where spis = 'Dan' and vers = 1 and k = 7 and v = 11
update biblia set nvg = 'Aj ostatným zvieratám bola odňatá moc a bol im vymedzený presný čas života.' where spis = 'Dan' and vers = 1 and k = 7 and v = 12
update biblia set nvg = 'Videl som v nočnom videní: V nebeských oblakoch prichádzal ktosi ako Syn človeka a došiel až k Starcovi. // Priviedli ho pred neho, ' where spis = 'Dan' and vers = 1 and k = 7 and v = 13
update biblia set nvg = 'dostal moc a slávu i kráľovstvo a budú mu slúžiť všetky národy, kmene a jazyky. Jeho vláda je večná, nikdy nezanikne a jeho kráľovstvo nebude nikdy zničené.' where spis = 'Dan' and vers = 1 and k = 7 and v = 14
update biblia set nvg = 'Môj duch sa chvel hrôzou. Ja, Daniel, som sa triasol a videnia, čo prešli mojou hlavou, ma vydesili. ' where spis = 'Dan' and vers = 1 and k = 7 and v = 15
update biblia set nvg = 'Pristúpil som k jednému z tých, čo tam stáli, a požiadal som ho, aby mi povedal pravdu o tom všetkom. On mi odpovedal a vyložil mi zmysel rečí: ' where spis = 'Dan' and vers = 1 and k = 7 and v = 16
update biblia set nvg = '»Tieto štyri veľké zvieratá značia, že zo zeme povstanú štyria králi. ' where spis = 'Dan' and vers = 1 and k = 7 and v = 17
update biblia set nvg = 'Ale kráľovstvo dostanú svätí najvyššieho Boha a kráľovstvo si udržia naveky a na veky vekov.«' where spis = 'Dan' and vers = 1 and k = 7 and v = 18
update biblia set nvg = 'Potom som chcel mať istotu o štvrtom zvierati, ktoré bolo také odlišné od ostatných a veľmi hrozné; zuby malo zo železa a pazúry z bronzu, žralo a drúzgalo všetko, a čo ostalo, šliapalo nohami; ' where spis = 'Dan' and vers = 1 and k = 7 and v = 19
update biblia set nvg = 'aj o desiatich rohoch, ktoré malo na hlave, i o tom zvláštnom, čo vyrástol, a vypadli pred ním tri rohy: o rohu, ktorý mal oči a ústa, čo hovoril spupné reči a bol väčší ako ostatné.' where spis = 'Dan' and vers = 1 and k = 7 and v = 20
update biblia set nvg = 'Pozeral som sa a tento roh viedol vojnu so svätými a víťazil nad nimi, ' where spis = 'Dan' and vers = 1 and k = 7 and v = 21
update biblia set nvg = 'až prišiel Starec a prisúdil právo svätým Najvyššieho; prišiel čas a kráľovstvo dostali svätí.' where spis = 'Dan' and vers = 1 and k = 7 and v = 22
update biblia set nvg = 'Potom hovoril: »Štvrté zviera bude štvrté kráľovstvo na zemi. Bude väčšie než všetky ostatné kráľovstvá; pohltí celú zem, pošliape ju a rozdrúzga.' where spis = 'Dan' and vers = 1 and k = 7 and v = 23
update biblia set nvg = 'A desať rohov znamená, že kráľovstvo bude mať desať kráľov. Po nich povstane ďalší kráľ, bude mocnejší ako predošlí a troch kráľov zosadí. ' where spis = 'Dan' and vers = 1 and k = 7 and v = 24
update biblia set nvg = 'Bude hovoriť proti Najvyššiemu a trápiť bude svätých Najvyššieho. Bude si myslieť, že môže meniť časy a zákon a oni budú vydaní do jeho ruky na rok, dva roky a pol roka.' where spis = 'Dan' and vers = 1 and k = 7 and v = 25
update biblia set nvg = 'Ale potom zasadne súd a odníme mu moc a dokonale ho potlačí a zničí. ' where spis = 'Dan' and vers = 1 and k = 7 and v = 26
update biblia set nvg = 'Vláda, moc a sláva všetkých kráľovstiev pod nebom bude odovzdaná ľudu svätých Najvyššieho; jeho kráľovstvo je večné, jemu budú slúžiť všetci králi a budú ho poslúchať.«"' where spis = 'Dan' and vers = 1 and k = 7 and v = 27
go

-- OCR32STVc_CIT1	9, 1-4a. 18-27
-- 340	Dan 9, 4b-10
update biblia set lh_id = 'OCR32STVc_CIT1' where spis = 'Dan' and vers = 1 and k = 9 and v between 1 and 4
update biblia set lh_id = 'OCR32STVc_CIT1' where spis = 'Dan' and vers = 1 and k = 9 and v between 18 and 27
go
update biblia set lc_id = 340 where spis = 'Dan' and vers = 1 and k = 9 and v between 4 and 10
go

update biblia set nvg = 'V_prvom roku Asuerovho syna Dária, ktorý bol pôvodom Méd a vládol nad chaldejským kráľovstvom, ' where spis = 'Dan' and vers = 1 and k = 9 and v = 1
update biblia set nvg = 'v_prvom roku jeho kraľovania som ja, Daniel, porozumel v_knihách počtu rokov, o_ktorých hovoril Pán prorokovi Jeremiášovi, že za sedemdesiat rokov sa dovŕši spustošenie Jeruzalema. ' where spis = 'Dan' and vers = 1 and k = 9 and v = 2
update biblia set nvg = 'I_obrátil som sa tvárou k_Pánovi, môjmu Bohu, aby som ho hľadal modlitbou a úpenlivou prosbou, v_pôstoch, vrecovine a popole. ' where spis = 'Dan' and vers = 1 and k = 9 and v = 3
update biblia set nvg = 'A modlil som sa k_Pánovi, Bohu, vyznal som sa a povedal som: "Pane, Bože veľký a hrozný, ktorý zachovávaš zmluvu a si láskavý k tým, čo ťa milujú a zachovávajú tvoje nariadenia. ' where spis = 'Dan' and vers = 1 and k = 9 and v = 4
update biblia set nvg = 'Zhrešili sme, konali sme ničomne a žili bezbožne; vzopreli sme sa a odklonili od tvojich nariadení a od tvojich ustanovení. ' where spis = 'Dan' and vers = 1 and k = 9 and v = 5
update biblia set nvg = 'Neposlúchali sme tvojich sluhov, prorokov, ktorí v tvojom mene hovorili k našim kráľom, našim kniežatám, našim otcom i všetkému ľudu krajiny.' where spis = 'Dan' and vers = 1 and k = 9 and v = 6
update biblia set nvg = 'Tebe, Pane, pristane spravodlivosť a nám zahanbená tvár, akú majú dnes mužovia Judey, obyvatelia Jeruzalema a všetci Izraeliti, blízki i vzdialení po rozličných krajinách, do ktorých si ich rozohnal, pretože porušili vernosť voči tebe.' where spis = 'Dan' and vers = 1 and k = 9 and v = 7
update biblia set nvg = 'Nám, Pane, našim kráľom, našim kniežatám a našim otcom pristane zahanbená tvár, lebo sme zhrešili proti tebe. ' where spis = 'Dan' and vers = 1 and k = 9 and v = 8
update biblia set nvg = 'No Pánovi, nášmu Bohu, svedčí milosrdenstvo a zľutovanie, pretože sme odstúpili od teba ' where spis = 'Dan' and vers = 1 and k = 9 and v = 9
update biblia set nvg = 'a nepočúvali sme hlas Pána, svojho Boha, a nekráčali sme podľa jeho zákonov, ktoré nám dal prostredníctvom svojich sluhov, prorokov."' where spis = 'Dan' and vers = 1 and k = 9 and v = 10
go
update biblia set nvg = '„Bože môj, nakloň svoje ucho a počuj, otvor svoje oči a pozri na naše spustošenie a na mesto, nad ktorým sa vzýva tvoje meno. Lebo svoje prosby nepredkladáme pred tvoju tvár pre svoju spravodlivosť, ale pre tvoje veľké milosrdenstvo. ' where spis = 'Dan' and vers = 1 and k = 9 and v = 18
update biblia set nvg = 'Pane, vyslyš; Pane, nehnevaj sa; pozri a konaj; kvôli sebe samému nemeškaj, Bože môj, veď sa nad mestom a nad tvojím ľudom vzýva tvoje meno.“' where spis = 'Dan' and vers = 1 and k = 9 and v = 19
update biblia set nvg = 'Ešte som hovoril, modlil som sa a vyznával svoje hriechy a hriechy svojho ľudu Izraela a predkladal svoje prosby pred svojho Boha za svätý vrch môjho Boha, ' where spis = 'Dan' and vers = 1 and k = 9 and v = 20
update biblia set nvg = 'ešte som hovoril v_modlitbe, keď zrazu priletel muž Gabriel, ktorého som videl vo videní na začiatku, a dotkol sa ma v_čase večernej obety. ' where spis = 'Dan' and vers = 1 and k = 9 and v = 21
update biblia set nvg = 'I_poučil ma, hovoriac: „Daniel, teraz som vyšiel, aby som ťa poučil a aby si to pochopil. ' where spis = 'Dan' and vers = 1 and k = 9 and v = 22
update biblia set nvg = 'Hneď ako si sa začal modliť, vyšlo slovo a ja som prišiel, aby som ti ho oznámil, lebo si obľúbený muž. Dávaj teda pozor na slovo a pochop videnie.' where spis = 'Dan' and vers = 1 and k = 9 and v = 23
update biblia set nvg = 'Sedemdesiat týždňov je vymeraných / pre tvoj ľud a pre tvoje sväté mesto, / aby sa zúčtovalo s_nevernosťou / a skončil hriech, / aby bola zničená neprávosť / a nastala večná spravodlivosť, / aby sa splnilo videnie a proroctvo / a bol pomazaný Svätý svätých.' where spis = 'Dan' and vers = 1 and k = 9 and v = 24
update biblia set nvg = 'Vedz teda a pozoruj: / od vyjdenia výroku, / aby bol opäť postavený Jeruzalem, / až po pomazaného vodcu / sedem týždňov. / A bude šesťdesiatdva týždňov / a opäť postavia ulice a hradby / v_tiesnivých časoch.' where spis = 'Dan' and vers = 1 and k = 9 and v = 25
update biblia set nvg = 'A po šesťdesiatich dvoch týždňoch / zabijú pomazaného; / a nič mu nebude. / A mesto i_svätyňu zničí / národ s_vodcom, ktorý príde, / a jeho koncom bude spustošenie / a až do konca vojny / predurčená skaza.' where spis = 'Dan' and vers = 1 and k = 9 and v = 26
update biblia set nvg = 'Ale potvrdí zmluvu s_mnohými / na jeden týždeň; / a v_polovici týždňa / prestane obeta aj žertva / a na krídlach ohavnosti príde pustošiteľ, / dokiaľ nenastane zavŕšenie / a nevyleje sa rozhodnutie na pustošiteľa.“' where spis = 'Dan' and vers = 1 and k = 9 and v = 27
go

-- OCR32PIc_CIT1	10, 1-21
update biblia set lh_id = 'OCR32PIc_CIT1' where spis = 'Dan' and vers = 1 and k = 10 and v between 1 and 21
go

update biblia set nvg = 'V_treťom roku perzského kráľa Kýra bolo Danielovi, prímenom Baltazárovi, zjavené slovo. Pravdivé slovo a veľké trápenie. I porozumel slovu a porozumenie dostal vo videní. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 1
update biblia set nvg = 'V_tých dňoch som ja, Daniel, žialil tri týždne; ' where spis = 'Dan' and vers = 1 and k = 10 and v = 2
update biblia set nvg = 'nejedol som chutný chlieb, mäso a víno nevošli do mojich úst, ani olejom som sa nenatrel, kým neprešli tri týždne.' where spis = 'Dan' and vers = 1 and k = 10 and v = 3
update biblia set nvg = 'Ale v_dvadsiaty štvrtý deň prvého mesiaca som bol pri veľkej rieke Tigris. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 4
update biblia set nvg = 'I_zdvihol som oči a videl som akéhosi muža. Bol oblečený do ľanového odevu a bedrá mal prepásané rýdzim zlatom. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 5
update biblia set nvg = 'Jeho telo bolo ako chryzolit, jeho tvár ako jasný blesk, jeho oči ako ohnivá fakľa, jeho ramená a čo je dolu až po nohy ako jasná vyleštená meď a zvuk jeho slov ako hluk zástupov. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 6
update biblia set nvg = 'No iba ja, Daniel, som videl videnie. Muži, čo boli so mnou, nijaké videnie nevideli, len na nich doľahla veľmi veľká hrôza a utiekli sa schovať. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 7
update biblia set nvg = 'Zostal som teda sám a videl som toto veľké videnie. Ale ani vo mne nezostalo sily a zmenil sa aj môj výzor až na nepoznanie; a nemal som nijakú silu. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 8
update biblia set nvg = 'Tu som počul zvuk jeho slov. A keď som počul zvuk jeho slov, padol som vystrašený na tvár a tvár sa mi dotýkala zeme.' where spis = 'Dan' and vers = 1 and k = 10 and v = 9
update biblia set nvg = 'Tu sa ma dotkla ruka a zdvihla ma na kolená a na dlane mojich rúk. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 10
update biblia set nvg = 'I_povedal mi: „Daniel, obľúbený muž, pochop slová, ktoré ti ja hovorím, a stoj na svojom mieste. Teraz som totiž poslaný k_tebe.“ Ako mi povedal tieto slová, s_chvením som sa postavil. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 11
update biblia set nvg = 'A riekol mi: „Neboj sa, Daniel, lebo od prvého dňa, keď si sa rozhodol chápať a ponižovať sa pred svojím Bohom, sú vyslyšané tvoje slová. A ja som prišiel kvôli tvojim slovám. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 12
update biblia set nvg = 'Ale knieža perzského kráľovstva mi odporovalo dvadsaťjeden dní a kým mi Michal, jedno z_popredných kniežat, neprišiel na pomoc, zostal som tam pri perzskom kráľovi. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 13
update biblia set nvg = 'No prišiel som, aby som ti dal vedieť, čo príde na tvoj ľud v_posledných dňoch, lebo ešte je videnie o_tých dňoch.“ ' where spis = 'Dan' and vers = 1 and k = 10 and v = 14
update biblia set nvg = 'Keď mi hovoril takéto slová, sklonil som tvár k_zemi a mlčal som. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 15
update biblia set nvg = 'A tu sa ktosi podobný synom človeka dotkol mojich perí. I_otvoril som ústa a povedal som tomu, čo stál oproti mne: „Môj pane, pri videní prišli na mňa úzkosti a nezostala vo mne nijaká sila. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 16
update biblia set nvg = 'Ako by mohol služobník môjho pána hovoriť s_týmto mojím pánom? Nezostala vo mne nijaká sila, ani môj dych nezostal vo mne.“ ' where spis = 'Dan' and vers = 1 and k = 10 and v = 17
update biblia set nvg = 'Vtedy sa ma znova dotkol ten, čo vyzeral ako človek, a posilňoval ma. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 18
update biblia set nvg = 'Povedal: „Neboj sa, obľúbený muž! Pokoj s_tebou. Buď statočný a udatný.“ A kým so mnou hovoril, zosilnel som a povedal som: „Hovor, môj pane, lebo si ma posilnil.“' where spis = 'Dan' and vers = 1 and k = 10 and v = 19
update biblia set nvg = 'I povedal: „Vieš, prečo som prišiel k_tebe? Teraz sa vrátim bojovať s_perzským kniežaťom. Keď budem ja odchádzať, príde grécke knieža. ' where spis = 'Dan' and vers = 1 and k = 10 and v = 20
update biblia set nvg = 'Ale oznámim ti, čo je zaznačené v_písme pravdy. A nemám proti nim nijakého pomocníka okrem vášho kniežaťa Michala.“' where spis = 'Dan' and vers = 1 and k = 10 and v = 21
go

-- OCR32SOc_CIT1	12, 1-13
-- 318	Dan 12, 1-3
-- 319	Dan 12, 1-3
update biblia set lh_id = 'OCR32SOc_CIT1' where spis = 'Dan' and vers = 1 and k = 12 and v between 1 and 13
go
update biblia set lc_id = 318 where spis = 'Dan' and vers = 1 and k = 12 and v between 1 and 3
go

update biblia set nvg = '„V_tom čase povstane Michal, veľké knieža, čo chráni synov tvojho ľudu. Bude to čas úzkosti, aký nebol odvtedy, čo vznikli národy, až po ten čas. V_tom čase sa tvoj národ zachráni; každý, koho nájdu zapísaného v_knihe. ' where spis = 'Dan' and vers = 1 and k = 12 and v = 1
update biblia set nvg = 'A mnohí z_tých, čo spia v_prachu zeme, sa zobudia; jedni na večný život, druhí na večnú potupu. ' where spis = 'Dan' and vers = 1 and k = 12 and v = 2
update biblia set nvg = 'Múdri sa budú skvieť ako jas oblohy a tí, čo mnohých priviedli k_spravodlivosti, ako hviezdy na večné veky. ' where spis = 'Dan' and vers = 1 and k = 12 and v = 3
update biblia set nvg = 'A ty, Daniel, zatvor slová a zapečať knihu až do konca času. Mnohí budú prechádzať a rozmnoží sa poznanie.“ ' where spis = 'Dan' and vers = 1 and k = 12 and v = 4
update biblia set nvg = 'Ja, Daniel, som videl, ako dvaja iní stáli, jeden na tomto brehu rieky, druhý na druhom brehu rieky. ' where spis = 'Dan' and vers = 1 and k = 12 and v = 5
update biblia set nvg = 'A ten sa opýtal muža, ktorý bol oblečený do ľanového odevu a stál nad vodami rieky: „Kedy bude koniec týchto obdivuhodných vecí?“ ' where spis = 'Dan' and vers = 1 and k = 12 and v = 6
update biblia set nvg = 'A počul som muža, ktorý bol oblečený do ľanového odevu a stál nad vodami rieky; zdvihol pravú i_ľavú ruku k_nebu a prisahal na Živého naveky: „Bude to čas, časy a polovica času a keď sa dokončí rozrušenie moci svätého ľudu, skončí sa aj toto všetko.“ ' where spis = 'Dan' and vers = 1 and k = 12 and v = 7
update biblia set nvg = 'Ja som to počul, ale nerozumel. A povedal som: „Môj pane, aký bude koniec týchto vecí?“ ' where spis = 'Dan' and vers = 1 and k = 12 and v = 8
update biblia set nvg = 'Vravel: „Choď, Daniel, lebo tieto slová sú zatvorené a zapečatené až do určeného času. ' where spis = 'Dan' and vers = 1 and k = 12 and v = 9
update biblia set nvg = 'Mnohí sa očistia, zbelejú a osvedčia sa, bezbožní však budú konať bezbožne a nijaký bezbožník to nepochopí, ale rozumní pochopia. ' where spis = 'Dan' and vers = 1 and k = 12 and v = 10
update biblia set nvg = 'A od chvíle, keď bude odstránená ustavičná obeta a postavená ohavnosť pustošiteľa, uplynie tisícdvestodeväťdesiat dní. ' where spis = 'Dan' and vers = 1 and k = 12 and v = 11
update biblia set nvg = 'Blahoslavený, kto čaká a pretrvá tisíctristotridsaťpäť dní. ' where spis = 'Dan' and vers = 1 and k = 12 and v = 12
update biblia set nvg = 'Ty sa však uberaj ku koncu a odpočiň si a na konci dní vstaneš k_svojmu údelu.“' where spis = 'Dan' and vers = 1 and k = 12 and v = 13
go

-- 321	Dan 13, 41c-62
update biblia set lc_id = 318 where spis = 'Dan' and vers = 1 and k = 13 and v between 41 and 62
go

update biblia set nvg = 'Zástup odsúdil Zuzanu na smrť. ' where spis = 'Dan' and vers = 1 and k = 13 and v = 41
update biblia set nvg = 'Ale Zuzana mocne vykríkla: "Bože večný, ty poznáš skryté veci, ty vieš všetko skôr, ako sa stane, ' where spis = 'Dan' and vers = 1 and k = 13 and v = 42
update biblia set nvg = 'ty vieš, že krivo proti mne svedčili; pozri, umieram, hoci som neurobila nič z toho, čo títo zločinne osnovali proti mne."' where spis = 'Dan' and vers = 1 and k = 13 and v = 43
update biblia set nvg = 'A Pán vyslyšal jej hlas. ' where spis = 'Dan' and vers = 1 and k = 13 and v = 44
update biblia set nvg = 'Keď ju viedli na smrť, Pán vzbudil svätého ducha v mladom chlapcovi, ktorý sa volal Daniel, ' where spis = 'Dan' and vers = 1 and k = 13 and v = 45
update biblia set nvg = 'a on vykríkol: "Ja nemám vinu na krvi tejto ženy."' where spis = 'Dan' and vers = 1 and k = 13 and v = 46
update biblia set nvg = 'Všetok ľud sa obrátil k nemu a povedal: "Čo je to za reč, čo hovoríš?"' where spis = 'Dan' and vers = 1 and k = 13 and v = 47
update biblia set nvg = 'On si stal doprostred nich a povedal: "Takí hlúpi ste, synovia Izraela? Bez súdu, bez skúmania pravdy ste odsúdili dcéru Izraela. ' where spis = 'Dan' and vers = 1 and k = 13 and v = 48
update biblia set nvg = 'Obnovte súd, pretože krivo proti nej svedčili."' where spis = 'Dan' and vers = 1 and k = 13 and v = 49
update biblia set nvg = 'Ľud sa rýchlo vrátil a starší mu povedali: "Poď, sadni si medzi nás a hovor, pretože ti Boh dal vážnosť starca."' where spis = 'Dan' and vers = 1 and k = 13 and v = 50
update biblia set nvg = 'Daniel im povedal: "Oddeľte ich ďaleko od seba a ja ich rozsúdim."' where spis = 'Dan' and vers = 1 and k = 13 and v = 51
update biblia set nvg = 'Keď ich oddelili jedného od druhého, zavolal jedného z nich a povedal mu: "Ty, čo si zostarel v zlobe, teraz vyšli najavo tvoje hriechy, ktoré si doteraz páchal, ' where spis = 'Dan' and vers = 1 and k = 13 and v = 52
update biblia set nvg = 'keď si vynášal nespravodlivé rozsudky, nevinných utláčal a prepúšťal vinných, hoci Pán riekol: »Nevinného a spravodlivého nezabiješ.« ' where spis = 'Dan' and vers = 1 and k = 13 and v = 53
update biblia set nvg = 'Nuž teraz, ak si ju naozaj videl, povedz, pod akým stromom sa zhovárali?" On odpovedal: "Pod lentyškom."' where spis = 'Dan' and vers = 1 and k = 13 and v = 54
update biblia set nvg = 'Daniel povedal: "Pekne si luhal proti vlastnej hlave. Hľa, Boží anjel dostal od Boha príkaz a rozsekne ťa na dvoje."' where spis = 'Dan' and vers = 1 and k = 13 and v = 55
update biblia set nvg = 'Keď ho odviedli, rozkázal priviesť druhého a povedal mu: "Semä kanaánske, a nie judejské, krása ťa zviedla a žiadostivosť ti rozvrátila srdce. ' where spis = 'Dan' and vers = 1 and k = 13 and v = 56
update biblia set nvg = 'Takto ste robievali dcéram Izraela a ony sa zo strachu dávali s vami do reči. No Júdova dcéra nestrpela vašu neprávosť. ' where spis = 'Dan' and vers = 1 and k = 13 and v = 57
update biblia set nvg = 'Teraz mi povedz, pod akým stromom si ich prichytil zhovárať sa?" Ten povedal: "Pod dubom."' where spis = 'Dan' and vers = 1 and k = 13 and v = 58
update biblia set nvg = 'A Daniel mu povedal: "Pekne si luhal aj ty proti vlastnej hlave; lebo Boží anjel čaká s mečom, aby ťa preťal napoly a usmrtil vás."' where spis = 'Dan' and vers = 1 and k = 13 and v = 59
update biblia set nvg = 'Celý zástup mocne vykríkol a dobrorečil Bohu, ktorý zachraňuje tých, čo v neho dúfajú.' where spis = 'Dan' and vers = 1 and k = 13 and v = 60
update biblia set nvg = 'I povstali proti dvom starcom, lebo ich Daniel z vlastných úst usvedčil, že krivo svedčili, a urobili im, ako oni zločinne robili svojim blížnym, ' where spis = 'Dan' and vers = 1 and k = 13 and v = 61
update biblia set nvg = 'aby splnili Mojžišov zákon; usmrtili ich a v ten deň sa nevinná krv zachránila.' where spis = 'Dan' and vers = 1 and k = 13 and v = 62
go

