-- 1Mach

-- OCR31NEc_CIT1	1, 1-24
-- OCR31POc_CIT1	1, 41-64
-- 126	1 Mach 1, 10-15. 41-43. 54-57. 62-64
update biblia set lh_id = 'OCR31NEc_CIT1' where spis = '1Mach' and vers = 1 and k = 1 and v between 1 and 24
update biblia set lh_id = 'OCR31POc_CIT1' where spis = '1Mach' and vers = 1 and k = 1 and v between 41 and 64
go
update biblia set lc_id = 126 where spis = '1Mach' and vers = 1 and k = 1 and v between 10 and 15
update biblia set lc_id = 126 where spis = '1Mach' and vers = 1 and k = 1 and v between 41 and 43
update biblia set lc_id = 126 where spis = '1Mach' and vers = 1 and k = 1 and v between 54 and 57
update biblia set lc_id = 126 where spis = '1Mach' and vers = 1 and k = 1 and v between 62 and 64
go

update biblia set nvg = 'Keď Filipov syn Alexander Macedónsky, ktorý najprv vládol v_Grécku, vytiahol z_krajiny Cettim, porazil perzského a médskeho kráľa Dária, ' where spis = '1Mach' and vers = 1 and k = 1 and v = 1
update biblia set nvg = 'zviedol veľa bojov, dobyl pevnosti a pobil kráľov zeme. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 2
update biblia set nvg = 'Prenikol až na kraj zeme a vydrancoval mnoho národov. Zem pred ním zmĺkla a jeho srdce sa zdvihlo a spyšnelo. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 3
update biblia set nvg = 'I_zhromaždil veľmi silné vojsko, zaujal krajiny národov a vládcov a stali sa jeho poplatníkmi. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 4
update biblia set nvg = 'Potom však ľahol do postele a poznal, že zomrie. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 5
update biblia set nvg = 'Zavolal svojich vznešených služobníkov, ktorých s_ním od mladi vychovávali, a kým ešte žil, rozdelil im svoje kráľovstvo. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 6
update biblia set nvg = 'Alexander kraľoval dvanásť rokov a zomrel. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 7
update biblia set nvg = 'Jeho služobníci zaujali kráľovstvo, každý na svojom mieste, ' where spis = '1Mach' and vers = 1 and k = 1 and v = 8
update biblia set nvg = 'a po jeho smrti si všetci nasadili koruny a ich synovia po nich mnoho rokov. A rozmnožilo sa zlo na zemi.' where spis = '1Mach' and vers = 1 and k = 1 and v = 9
update biblia set nvg = 'Z_nich vzišiel hriešny výhonok, Antiochus Epifanes, syn kráľa Antiocha, ktorý bol ako rukojemník v_Ríme a v_stotridsiatom siedmom roku gréckeho panstva sa stal kráľom. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 10
update biblia set nvg = 'V_tých dňoch povstalo niekoľko izraelských zlosynov a zviedli mnohých; hovorili: „Poďme, uzavrime zmluvu s_národmi, čo sú okolo nás. Veď ako sme sa od nich začali odlučovať, stíhalo nás všelijaké nešťastie.“ ' where spis = '1Mach' and vers = 1 and k = 1 and v = 11
update biblia set nvg = 'Návrh sa im pozdával; ' where spis = '1Mach' and vers = 1 and k = 1 and v = 12
update biblia set nvg = 'niektorí z_ľudu sa rozhodli ísť ku kráľovi a ten im dal plnú moc zavádzať pohanské mravy. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 13
update biblia set nvg = 'V_Jeruzaleme postavili telocvičňu s_pohanskými zvykmi: ' where spis = '1Mach' and vers = 1 and k = 1 and v = 14
update biblia set nvg = 'prirábali si predkožky a odpadli od svätej zmluvy. Spriahli sa s_pohanmi, zapredali sa im a páchali zlo.' where spis = '1Mach' and vers = 1 and k = 1 and v = 15
update biblia set nvg = 'Keď Antiochus videl, že sa kráľovstvo pripravilo, rozhodol sa kraľovať aj v_egyptskej krajine, aby vládol nad obidvoma kráľovstvami. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 16
update biblia set nvg = 'I vtrhol do Egypta s_veľkým množstvom vojska, s_vozmi, slonmi, jazdcami a s_veľkým loďstvom ' where spis = '1Mach' and vers = 1 and k = 1 and v = 17
update biblia set nvg = 'a viedol vojnu proti egyptskému kráľovi Ptolemajovi. Ptolemaj dostal pred ním strach a ušiel a padlo mnoho ranených. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 18
update biblia set nvg = 'Zmocnili sa opevnených miest v_egyptskej krajine a vydrancoval egyptskú krajinu. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 19
update biblia set nvg = 'Keď Antiochus v_stoštyridsiatom treťom roku porazil Egypt, vrátil sa a tiahol s_veľkým množstvom vojska proti Izraelu a na Jeruzalem. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 20
update biblia set nvg = 'Vošiel pyšne do svätyne a vzal zlatý oltár, svietnik so všetkým príslušenstvom, ' where spis = '1Mach' and vers = 1 and k = 1 and v = 21
update biblia set nvg = 'stôl na obetné chleby, džbány, čaše, zlaté misky, oponu, vence a zlatú ozdobu, ktorá bola na priečelí chrámu: a všetko polámal. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 22
update biblia set nvg = 'I vzal striebro, zlato a vzácne náradie a vybral aj skryté poklady, ktoré našiel; ' where spis = '1Mach' and vers = 1 and k = 1 and v = 23
update biblia set nvg = 'všetko to zobral a odišiel do svojej krajiny. Povraždil ľudí a hovoril veľmi pyšne.' where spis = '1Mach' and vers = 1 and k = 1 and v = 24
go
update biblia set nvg = 'Kráľ Antiochus vydal nariadenie pre celé svoje kráľovstvo, že všetci musia splynúť v_jeden národ, ' where spis = '1Mach' and vers = 1 and k = 1 and v = 41
update biblia set nvg = 'každý musí opustiť svojrázne zvyky. Rozkazu kráľa Antiocha sa podrobili všetky národy; ' where spis = '1Mach' and vers = 1 and k = 1 and v = 42
update biblia set nvg = 'aj mnohým Izraelitom sa zapáčila jeho bohoslužba: obetovali modlám a znesväcovali sobotu. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 43
update biblia set nvg = 'Kráľ poslal po posloch listy do Jeruzalema a do judejských miest, aby sa riadili pohanskými zákonmi. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 44
update biblia set nvg = 'Zakázal prinášať v_Božom chráme celopaly, žertvy a zmierne obety a nariadil znesväcovať soboty a sviatky, ' where spis = '1Mach' and vers = 1 and k = 1 and v = 45
update biblia set nvg = 'poškvrniť svätyňu a svätý ľud, ' where spis = '1Mach' and vers = 1 and k = 1 and v = 46
update biblia set nvg = 'stavať oltáre, chrámy a modly a obetovať bravčové mäso a nečisté zvieratá, ' where spis = '1Mach' and vers = 1 and k = 1 and v = 47
update biblia set nvg = 'nechať svojich synov neobrezaných a przniť ich duše všelijakou nečistotou a ohavnosťou, ' where spis = '1Mach' and vers = 1 and k = 1 and v = 48
update biblia set nvg = 'aby tak zabudli na zákon a zmenili všetky poriadky. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 49
update biblia set nvg = 'A každý, kto by nerobil podľa rozkazu kráľa Antiocha, mal zomrieť. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 50
update biblia set nvg = 'Podľa všetkého, čo sa tu povedalo, napísal do každého svojho kráľovstva a ustanovil dozorcov nad všetkým ľudom a nariadil judejským mestám, aby obetovali v_jednom meste po druhom. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 51
update biblia set nvg = 'I_pridali sa k_nim mnohí z_ľudu, všetci, čo opustili Pánov zákon, a páchali zlo v_krajine ' where spis = '1Mach' and vers = 1 and k = 1 and v = 52
update biblia set nvg = 'a Izrael zahnali do skrýš a do úkrytov pre utečencov.' where spis = '1Mach' and vers = 1 and k = 1 and v = 53
update biblia set nvg = 'Pätnásteho dňa v_mesiaci Kasleu roku stoštyridsiateho piateho kráľ postavil na oltár ohavnú modlu. Aj po judejských mestách nastavali oltárov; ' where spis = '1Mach' and vers = 1 and k = 1 and v = 54
update biblia set nvg = 'pred bránami domov a po námestiach pálili kadidlo. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 55
update biblia set nvg = 'Ak našli knihy zákona, trhali ich a pálili. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 56
update biblia set nvg = 'U_koho sa našla kniha zmluvy a kto sa riadil zákonom, toho podľa kráľovho nariadenia zabili. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 57
update biblia set nvg = 'Takto násilne sa správali voči Izraelu, voči všetkým, ktorých mesiac čo mesiac prichytili v_mestách. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 58
update biblia set nvg = 'A v_dvadsiaty piaty deň mesiaca obetovali na oltári, ktorý bol na oltári pre zápalné obety. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 59
update biblia set nvg = 'A ženy, ktoré dávali obrezať svojich synov, zabíjali podľa rozkazu ' where spis = '1Mach' and vers = 1 and k = 1 and v = 60
update biblia set nvg = '– a deti zavesili na ich krk – aj ich príbuzných a tých, čo ich obrezali. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 61
update biblia set nvg = 'Ale mnohí v_Izraeli vydržali a rozhodli sa, že nebudú jesť nič nečisté. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 62
update biblia set nvg = 'Radšej volili smrť, ako by sa mali poškvrniť jedlami a potupiť svätú zmluvu. Tak zomierali. ' where spis = '1Mach' and vers = 1 and k = 1 and v = 63
update biblia set nvg = 'A veľmi veľký hnev doľahol na Izrael.' where spis = '1Mach' and vers = 1 and k = 1 and v = 64
go

-- OCR31UTc_CIT1	2, 1. 15-28. 42-50. 65-70
-- 127	1 Mach 2, 15-29
update biblia set lh_id = 'OCR31UTc_CIT1' where spis = '1Mach' and vers = 1 and k = 2 and v = 1
update biblia set lh_id = 'OCR31UTc_CIT1' where spis = '1Mach' and vers = 1 and k = 2 and v between 15 and 28
update biblia set lh_id = 'OCR31UTc_CIT1' where spis = '1Mach' and vers = 1 and k = 2 and v between 42 and 50
update biblia set lh_id = 'OCR31UTc_CIT1' where spis = '1Mach' and vers = 1 and k = 2 and v between 65 and 70
go
update biblia set lc_id = 127 where spis = '1Mach' and vers = 1 and k = 2 and v between 15 and 29
go

update biblia set nvg = 'V_tých dňoch povstal Matatiáš, syn Jána, syna Simeona, kňaz z_Joaribových synov z_Jeruzalema, a usadil sa v_Modine.' where spis = '1Mach' and vers = 1 and k = 2 and v = 1
go
update biblia set nvg = 'Do mesta Modin prišli kráľovskí posli a nútili k_odpadu a k_modloslužbe. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 15
update biblia set nvg = 'Zhromaždilo sa k_nim mnoho Izraelitov. Prišli aj Matatiáš a jeho synovia. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 16
update biblia set nvg = 'Kráľovskí posli sa ujali slova a povedali Matatiášovi: „Si v_tomto meste význačný a vážený hodnostár, podporujú ťa tvoji synovia i_bratia. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 17
update biblia set nvg = 'Preto pristúp prvý a splň kráľov rozkaz, ako ho splnili všetky národy aj Júdovci a tí, čo zostali v_Jeruzaleme. Potom budeš ty aj tvoji synovia patriť medzi kráľových priateľov a budete, ty aj tvoji synovia, poctení zlatom, striebrom a mnohými darmi.“' where spis = '1Mach' and vers = 1 and k = 2 and v = 18
update biblia set nvg = 'Matatiáš odpovedal zvýšeným hlasom: „Aj keď kráľa poslúchajú všetky národy v_kráľovej ríši a odpadávajú od náboženstva svojich otcov a podriaďujú sa jeho nariadeniam, ' where spis = '1Mach' and vers = 1 and k = 2 and v = 19
update biblia set nvg = 'ja, moji synovia a moji bratia, my budeme kráčať podľa zmluvy našich otcov. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 20
update biblia set nvg = 'Nech nám je Pán milostivý, aby sme neopustili zákon a ustanovenia. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 21
update biblia set nvg = 'Kráľov rozkaz neposlúchneme a od nášho náboženstva sa neodchýlime ani napravo, ani naľavo.“ ' where spis = '1Mach' and vers = 1 and k = 2 and v = 22
update biblia set nvg = 'Len čo to dopovedal, pred očami všetkých vystúpil akýsi Žid obetovať na oltári v_Modine podľa kráľovho rozkazu. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 23
update biblia set nvg = 'Keď to Matatiáš videl, rozhorčením sa mu zachvelo vnútro, vzplanul spravodlivým hnevom, vrhol sa na neho a zabil ho pri oltári. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 24
update biblia set nvg = 'Zabil aj kráľovho posla, ktorý nútil k_obete, a oltár rozbúral. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 25
update biblia set nvg = 'Horlil za zákon ako kedysi Finés proti Zambrimu, Salomovmu synovi. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 26
update biblia set nvg = 'Potom Matatiáš volal silným hlasom v_meste: „Poďte za mnou všetci, čo horlíte za zákon a chcete zostať verní zmluve!“ ' where spis = '1Mach' and vers = 1 and k = 2 and v = 27
update biblia set nvg = 'Utiekol so svojimi synmi do hôr a všetko, čo mali, zanechali v_meste. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 28
update biblia set nvg = 'Vtedy mnohí, čo túžili po spravodlivosti a práve, odišli bývať na púšť.' where spis = '1Mach' and vers = 1 and k = 2 and v = 29
go
update biblia set nvg = 'Vtedy sa k_nim pripojila skupina Assidejcov, udatných mužov z_Izraela, napospol oddaných zákonu. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 42
update biblia set nvg = 'A pridali sa k_nim aj všetci, čo utekali pred útrapami a boli pre nich posilou. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 43
update biblia set nvg = 'Postavili vojsko a vo svojom hneve bili hriešnikov a vo svojom rozhorčení ničomných mužov. Ostatní ušli medzi pohanov, aby sa zachránili. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 44
update biblia set nvg = 'Matatiáš a jeho priatelia chodili a rúcali oltáre ' where spis = '1Mach' and vers = 1 and k = 2 and v = 45
update biblia set nvg = 'a násilím obrezávali neobrezaných chlapcov, ktorých našli na území Izraela. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 46
update biblia set nvg = 'Prenasledovali pyšných namyslencov a darilo sa dielu v_ich rukách. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 47
update biblia set nvg = 'Vytrhli zákon z_rúk pohanov a kráľov a nedopustili, aby hriešnik získal prevahu.' where spis = '1Mach' and vers = 1 and k = 2 and v = 48
update biblia set nvg = 'Keď sa Matatiášove dni chýlili k_smrti, povedal svojim synom: „Teraz sa upevnila pýcha a násilie, čas rozvratu a rozhorčený hnev. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 49
update biblia set nvg = 'Teraz, deti moje, horlite za zákon a dajte svoje životy za zmluvu svojich otcov.' where spis = '1Mach' and vers = 1 and k = 2 and v = 50
go
update biblia set nvg = 'Viem, že váš brat Šimon je rozvážny muž, preto ho vždy poslúchajte; on bude vaším otcom. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 65
update biblia set nvg = 'A Júda Machabejský je udatný muž od svojej mladosti, preto bude vodcom vášho vojska a bude viesť boj ľudu. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 66
update biblia set nvg = 'Pritiahnite k_sebe všetkých, čo plnia zákon, a pomstite svoj ľud. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 67
update biblia set nvg = 'Prísne odplaťte pohanom a dbajte na predpis zákona.“' where spis = '1Mach' and vers = 1 and k = 2 and v = 68
update biblia set nvg = 'Potom ich požehnal a pripojil sa k_svojim otcom. ' where spis = '1Mach' and vers = 1 and k = 2 and v = 69
update biblia set nvg = 'Zomrel v_stoštyridsiatom šiestom roku a pochovali ho v_hrobe jeho otcov v_Modine. A celý Izrael ho veľmi oplakával.' where spis = '1Mach' and vers = 1 and k = 2 and v = 70
go

-- OCR31STRc_CIT1	3, 1-26
update biblia set lh_id = 'OCR31STRc_CIT1' where spis = '1Mach' and vers = 1 and k = 3 and v between 1 and 26
go

update biblia set nvg = 'Na Matatiášovo miesto nastúpil jeho syn Júda, zvaný Machabejský. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 1
update biblia set nvg = 'Pomáhali mu všetci jeho bratia i_všetci, čo sa pripojili k_jeho otcovi, a s_radosťou viedli boj Izraela. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 2
update biblia set nvg = 'Rozšíril slávu svojho ľudu, obliekol si pancier ako obor, pripásal si vojenskú výzbroj, išiel do boja a chránil tábor mečom. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 3
update biblia set nvg = 'Svojím počínaním sa podobal levovi, bol ako levíča, čo reve pri love. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 4
update biblia set nvg = 'Sliedil za nepriateľom a prenasledoval ho, pálil tých, čo desili jeho ľud. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 5
update biblia set nvg = 'Nepriatelia sa mu vyhýbali zo strachu a všetci zločinci sa hrozili. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 6
update biblia set nvg = 'Jeho záchranná ruka bola úspešná. Roztrpčoval mnohých kráľov, no Jakuba potešoval svojimi činmi a jeho pamiatka bude požehnaná naveky. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 7
update biblia set nvg = 'Poprechodil judejské mestá a vyničil v_nich bezbožných, a tak odvrátil hnev od Izraela. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 8
update biblia set nvg = 'Velebili ho až po kraj zeme. On zhromaždil všetkých, čo hynuli.' where spis = '1Mach' and vers = 1 and k = 3 and v = 9
update biblia set nvg = 'Apollón však zhromaždil pohanov a veľké vojsko zo Samárie do boja proti Izraelu. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 10
update biblia set nvg = 'Keď sa to Júda dozvedel, vytiahol proti nemu, porazil ho a zabil. Padlo mnoho ranených a ostatní ušli. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 11
update biblia set nvg = 'Vzali po nich korisť a Júda si vzal Apollónov meč a bojoval ním po všetky dni. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 12
update biblia set nvg = 'Keď sa dopočul Seron, vodca sýrskeho vojska, že Júda zhromaždil okolo seba zástup, skupinu verných a pripravených do boja, ' where spis = '1Mach' and vers = 1 and k = 3 and v = 13
update biblia set nvg = 'povedal: „Urobím si meno a získam si slávu v_kráľovstve; porazím Júdu a jeho prívržencov, ktorí opovrhujú kráľovým slovom.“ ' where spis = '1Mach' and vers = 1 and k = 3 and v = 14
update biblia set nvg = 'Vyrazil teda a s_ním tiahol silný oddiel bezbožných, aby mu pomohli pomstiť sa na synoch Izraela. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 15
update biblia set nvg = 'Priblížil sa až k_Bethoronskému svahu a Júda vyšiel proti nemu s_hŕstkou. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 16
update biblia set nvg = 'Ale keď zbadali vojsko, ktoré šlo proti nim, povedali Júdovi: „Ako sa budeme môcť toľkíto pustiť do boja proti takej presile? A my sme dnes oslabení od pôstu.“ ' where spis = '1Mach' and vers = 1 and k = 3 and v = 17
update biblia set nvg = 'Júda povedal: „Aj niekoľkí ľahko zovrú mnohých, lebo pre nebo je jedno, či vyslobodzuje pomocou mnohých alebo niekoľkých. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 18
update biblia set nvg = 'Veď víťazstvo v_boji nezávisí od veľkosti vojska, ale sila je z_neba. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 19
update biblia set nvg = 'Oni idú proti nám plní pýchy a neprávosti, aby nás i_naše ženy a naše deti zničili a aby nás vydrancovali. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 20
update biblia set nvg = 'My však bojujeme za svoje životy a za naše zákony; ' where spis = '1Mach' and vers = 1 and k = 3 and v = 21
update biblia set nvg = 'sám Pán ich rozdrví pred našimi očami. Vy sa ich teda nebojte.“ ' where spis = '1Mach' and vers = 1 and k = 3 and v = 22
update biblia set nvg = 'Len čo to povedal, vrhol sa na nich a porazil Serona i_jeho vojsko pred jeho očami. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 23
update biblia set nvg = 'Prenasledovali ho od Bethoronského svahu až po rovinu a padlo z_nich osemsto mužov; ostatní utiekli do filištínskej krajiny. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 24
update biblia set nvg = 'I_začala sa šíriť bázeň pred Júdom a jeho bratmi a strach zaľahol na okolité národy. ' where spis = '1Mach' and vers = 1 and k = 3 and v = 25
update biblia set nvg = 'Povesť o_ňom sa dostala až ku kráľovi a všetky národy rozprávali o_Júdových bojoch.' where spis = '1Mach' and vers = 1 and k = 3 and v = 26
go

-- OCR31STVc_CIT1	4, 36-59
-- 128	1 Mach 4, 36-37. 52-59
update biblia set lh_id = 'OCR31STVc_CIT1' where spis = '1Mach' and vers = 1 and k = 4 and v between 36 and 59
go
update biblia set lc_id = 128 where spis = '1Mach' and vers = 1 and k = 4 and v between 36 and 37
update biblia set lc_id = 128 where spis = '1Mach' and vers = 1 and k = 4 and v between 52 and 59
go

update biblia set nvg = '(Vtedy) si Júda a jeho bratia povedali: „Naši nepriatelia sú rozdrvení. Poďme, očistíme a obnovíme svätyňu!“ ' where spis = '1Mach' and vers = 1 and k = 4 and v = 36
update biblia set nvg = 'Zhromaždilo sa všetko vojsko a vystúpili na vrch Sion. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 37
update biblia set nvg = 'I_videli svätyňu spustošenú, oltár znesvätený, brány vypálené, v_nádvoriach rástlo krovie ako v_lese alebo na nejakom vrchu a komôrky boli zborené. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 38
update biblia set nvg = 'Roztrhli si šaty a dali sa do veľkého plaču, sypali si popol na hlavu, ' where spis = '1Mach' and vers = 1 and k = 4 and v = 39
update biblia set nvg = 'padli tvárou na zem, zatrúbili na signálových poľniciach a volali k_nebu. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 40
update biblia set nvg = 'Tu Júda určil mužov, aby bojovali proti tým, čo boli na hrade, kým nevyčistí svätyňu.' where spis = '1Mach' and vers = 1 and k = 4 and v = 41
update biblia set nvg = 'Potom vybral bezúhonných kňazov, oddaných zákonu; ' where spis = '1Mach' and vers = 1 and k = 4 and v = 42
update biblia set nvg = 'i_vyčistili svätyňu a poškvrnené kamene vyniesli na nečisté miesto. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 43
update biblia set nvg = 'Keď rozmýšľali, čo urobiť s_oltárom na zápalné obety, ktorý bol znesvätený, ' where spis = '1Mach' and vers = 1 and k = 4 and v = 44
update biblia set nvg = 'napadlo im dobré riešenie: zrúcať ho, aby im raz nebolo na potupu, že ho poškvrnili pohania. A tak oltár zrúcali ' where spis = '1Mach' and vers = 1 and k = 4 and v = 45
update biblia set nvg = 'a kamene uložili na vhodnom mieste na chrámovom pahorku, kým nepríde prorok a nerozhodne, čo s_nimi. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 46
update biblia set nvg = 'Potom vzali neotesané kamene podľa zákona a postavili nový oltár, taký istý, aký bol prvý. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 47
update biblia set nvg = 'Postavili aj svätyňu a vnútrajšok domu a posvätili nádvoria. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 48
update biblia set nvg = 'Potom zhotovili nové sväté nádoby a priniesli do chrámu svietnik, kadidlový oltár a stôl. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 49
update biblia set nvg = 'Na oltári zapálili kadidlo a zažali lampy, čo boli na svietniku, a svietili v_chráme. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 50
update biblia set nvg = 'Položili chleby na stôl a zavesili opony. A tak dokončili všetky práce, na ktoré sa podujali. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 51
update biblia set nvg = 'Dvadsiateho piateho dňa deviateho mesiaca – to je mesiac Kasleu – stoštyridsiateho ôsmeho roku vstali pred svitaním ' where spis = '1Mach' and vers = 1 and k = 4 and v = 52
update biblia set nvg = 'a priniesli obetu podľa zákona na novopostavenom oltári, ktorý zhotovili na zápalné obety. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 53
update biblia set nvg = 'Práve v_tom istom čase, v_ten istý deň, keď ho pohania znesvätili, bol znova posvätený za spevu a hry na citary, harfy a cimbaly. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 54
update biblia set nvg = 'Všetok ľud padol na tvár, klaňali sa a do neba velebili toho, ktorý im doprial víťazstvo. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 55
update biblia set nvg = 'Osem dní slávili posviacku oltára, s_radosťou prinášali zápalné žertvy a obety chvály a vďaky, ' where spis = '1Mach' and vers = 1 and k = 4 and v = 56
update biblia set nvg = 'priečelie chrámu vyzdobili zlatými vencami a malými štítmi, obnovili brány a priľahlé miestnosti a porobili na ne dvere. ' where spis = '1Mach' and vers = 1 and k = 4 and v = 57
update biblia set nvg = 'V_ľude zavládla mimoriadna radosť, lebo bola odstránená potupa spôsobená pohanmi.' where spis = '1Mach' and vers = 1 and k = 4 and v = 58
update biblia set nvg = 'Júda, jeho bratia a celá izraelská pospolitosť stanovili, že sa má rok čo rok od dvadsiateho piateho dňa mesiaca Kasleu osem dní s_jasotom a radosťou sláviť deň posvätenia oltára.' where spis = '1Mach' and vers = 1 and k = 4 and v = 59
go

-- 129	1 Mach 6, 1-13
update biblia set lc_id = 129 where spis = '1Mach' and vers = 1 and k = 6 and v between 1 and 13
go

update biblia set nvg = 'Keď kráľ Antiochus chodil po horských krajoch, začul, že v Perzii je mesto Elymaida, vychýrené bohatstvom striebra a zlata; ' where spis = '1Mach' and vers = 1 and k = 6 and v = 1
update biblia set nvg = 'že je v ňom veľmi bohatý chrám a v ňom zlaté rúcha, brnenie a štíty, ktoré tam zanechal macedónsky kráľ Alexander, Filipov syn, čo vládol prvý v Grécku.' where spis = '1Mach' and vers = 1 and k = 6 and v = 2
update biblia set nvg = 'Šiel a pokúšal sa mesto zaujať a vydrancovať. No nepodarilo sa mu to, lebo obyvatelia mesta sa dozvedeli o jeho zámere. ' where spis = '1Mach' and vers = 1 and k = 6 and v = 3
update biblia set nvg = 'Postavili sa mu na odpor, musel odtiaľ ujsť a veľmi smutný sa vracal do Babylonska.' where spis = '1Mach' and vers = 1 and k = 6 and v = 4
update biblia set nvg = 'Ešte v Perzii prišiel k nemu posol a oznámil mu, že vojsko, ktoré tiahlo do Judey, zutekalo. ' where spis = '1Mach' and vers = 1 and k = 6 and v = 5
update biblia set nvg = 'Že na čele veľkého vojska šiel Lyziáš, ale utiekol pred Židmi, ktorí sa zmocnili zbraní i mužstva a veľkej koristi, čo zobrali porazeným vojakom; ' where spis = '1Mach' and vers = 1 and k = 6 and v = 6
update biblia set nvg = 'že zbúrali ohavnú modlu, čo bol postavil na oltár v Jeruzaleme, a svätyňu že obohnali vysokými múrmi ako predtým i jeho mesto Betsur.' where spis = '1Mach' and vers = 1 and k = 6 and v = 7
update biblia set nvg = 'Keď to kráľ počul, pochytila ho hrôza a veľmi sa rozrušil; klesol na posteľ a ochorel od zármutku, že sa mu nestalo po vôli.' where spis = '1Mach' and vers = 1 and k = 6 and v = 8
update biblia set nvg = 'Zostal tam mnoho dní, lebo sa ho opätovne zmocňoval veľký smútok a cítil, že zomrie. ' where spis = '1Mach' and vers = 1 and k = 6 and v = 9
update biblia set nvg = 'Zvolal všetkých svojich dôverníkov a povedal im: "Spánok sa vzdialil z mojich očí a srdce mi zviera nepokoj. ' where spis = '1Mach' and vers = 1 and k = 6 and v = 10
update biblia set nvg = 'Povedal som si v duchu: Do akého súženia som sa to dostal a v akej pohrome sa to nachádzam?! Veď som býval obľúbený a milovaný, kým som bol pri moci. ' where spis = '1Mach' and vers = 1 and k = 6 and v = 11
update biblia set nvg = 'Teraz si spomínam na zlo, ktoré som popáchal v Jeruzaleme; ako som z neho pobral všetko zlaté a strieborné náčinie a bez príčiny som posielal nivočiť judejské obyvateľstvo. ' where spis = '1Mach' and vers = 1 and k = 6 and v = 12
update biblia set nvg = 'Teraz vidím, že preto na mňa doľahlo toto nešťastie, a hyniem v hroznom zármutku v cudzej krajine."' where spis = '1Mach' and vers = 1 and k = 6 and v = 13
go

-- OCR31SOc_CIT1	9, 1-22
update biblia set lh_id = 'OCR31SOc_CIT1' where spis = '1Mach' and vers = 1 and k = 9 and v between 1 and 22
go

update biblia set nvg = 'Keď sa Demeter dopočul, že Nikanor padol so svojím vojskom v_boji, rozhodol sa znova poslať do judejskej krajiny Bakchidesa a Alkima a s_nimi pravé krídlo vojska. ' where spis = '1Mach' and vers = 1 and k = 9 and v = 1
update biblia set nvg = 'Tiahli cestou, ktorá vedie do Galgaly, utáborili sa v_Masalote v_Arbelách, zmocnili sa ho a pozabíjali mnoho ľudí. ' where spis = '1Mach' and vers = 1 and k = 9 and v = 2
update biblia set nvg = 'V_prvom mesiaci stopäťdesiateho druhého roku sa utáborili pri Jeruzaleme. ' where spis = '1Mach' and vers = 1 and k = 9 and v = 3
update biblia set nvg = 'Potom sa však zdvihli a odišlo dvadsaťtisíc mužov a dvetisíc jazdcov do Bereta. ' where spis = '1Mach' and vers = 1 and k = 9 and v = 4
update biblia set nvg = 'Júda sa utáboril v_Elase a tritisíc vybraných mužov s_ním. ' where spis = '1Mach' and vers = 1 and k = 9 and v = 5
update biblia set nvg = 'Ale keď uvideli veľké množstvo vojska, veľmi sa zľakli a mnohí ušli z_tábora, takže ich zostalo len osemsto mužov. ' where spis = '1Mach' and vers = 1 and k = 9 and v = 6
update biblia set nvg = 'Keď Júda videl, že sa mu vojsko rozbehlo a boj naňho doliehal, zovrelo mu srdce, lebo už nemal čas zhromaždiť ich ' where spis = '1Mach' and vers = 1 and k = 9 and v = 7
update biblia set nvg = 'a bol bezradný. Tu povedal tým, čo zostali: „Poďme, udrime na našich nepriateľov. Možno dokážeme bojovať proti nim.“ ' where spis = '1Mach' and vers = 1 and k = 9 and v = 8
update biblia set nvg = 'Ale oni ho odhovárali: „Nedokážeme, radšej si teraz zachráňme život. Potom sa vrátime aj s_našimi bratmi a budeme bojovať proti nim. Ale nás je málo!“ ' where spis = '1Mach' and vers = 1 and k = 9 and v = 9
update biblia set nvg = 'Júda však povedal: „To nech je ďaleko, aby sme zutekali pred nimi. A ak prišiel náš čas, zomrime statočne za našich bratov a neuvaľme hanbu na svoju slávu.“ ' where spis = '1Mach' and vers = 1 and k = 9 and v = 10
update biblia set nvg = 'Tu sa vojsko pohlo z_tábora a postavilo sa proti nim: Jazdci sa rozdelili na dve časti, prakovníci a lukostrelci išli pred vojskom a v_prvých radoch boli tí najmocnejší. ' where spis = '1Mach' and vers = 1 and k = 9 and v = 11
update biblia set nvg = 'Bakchides bol na pravom krídle. Bojový šík sa približoval z_dvoch strán a trúbili na poľniciach. Ale aj tí, čo boli na Júdovej strane, trúbili na poľniciach. ' where spis = '1Mach' and vers = 1 and k = 9 and v = 12
update biblia set nvg = 'Zem sa chvela od lomozu vojsk a strhol sa boj, ktorý trval od rána až do večera.' where spis = '1Mach' and vers = 1 and k = 9 and v = 13
update biblia set nvg = 'Keď Júda videl, že Bakchides a silnejšia časť vojska je na pravom krídle, zoskupili sa okolo neho všetci odvážni, ' where spis = '1Mach' and vers = 1 and k = 9 and v = 14
update biblia set nvg = 'rozdrvili pravé krídlo a prenasledoval ich až po vrch Azot. ' where spis = '1Mach' and vers = 1 and k = 9 and v = 15
update biblia set nvg = 'A keď tí, čo boli na ľavom krídle, videli, že pravé krídlo je rozdrvené, pustili sa od chrbta za Júdom a za tými, čo boli s_ním. ' where spis = '1Mach' and vers = 1 and k = 9 and v = 16
update biblia set nvg = 'I_rozpútal sa zúrivý boj a padlo veľa ranených na oboch stranách. ' where spis = '1Mach' and vers = 1 and k = 9 and v = 17
update biblia set nvg = 'Padol aj Júda a ostatní utiekli. ' where spis = '1Mach' and vers = 1 and k = 9 and v = 18
update biblia set nvg = 'Jonatan a Šimon vzali svojho brata Júdu a pochovali ho v_hrobe jeho otcov v_Modine. ' where spis = '1Mach' and vers = 1 and k = 9 and v = 19
update biblia set nvg = 'Všetok izraelský ľud ho oplakával a veľmi nariekal. Veľa dní žialili ' where spis = '1Mach' and vers = 1 and k = 9 and v = 20
update biblia set nvg = 'a hovorili: „Ako padol hrdina, ktorý zachraňoval izraelský ľud!“' where spis = '1Mach' and vers = 1 and k = 9 and v = 21
update biblia set nvg = 'Ostatné správy o_Júdovi, o_jeho bojoch, hrdinských činoch, ktoré vykonal, ani o_jeho veľkosti nie sú zapísané, lebo ich bolo veľmi veľa.' where spis = '1Mach' and vers = 1 and k = 9 and v = 22
go

-- 2Mach

-- OCR8NEc_CIT2 resp.	2 Mach 1, 4
-- OCR29UTc_CIT2 resp.	2 Mach 1, 5. 3a
update biblia set lh_id = 'OCR29UTc_CIT2 resp.' where spis = '2Mach' and vers = 1 and k = 1 and v = 3
update biblia set lh_id = 'OCR8NEc_CIT2 resp.' where spis = '2Mach' and vers = 1 and k = 1 and v = 4
update biblia set lh_id = 'OCR29UTc_CIT2 resp.' where spis = '2Mach' and vers = 1 and k = 1 and v = 5
go
update biblia set nvg = 'Nech vám všetkým dá srdce, aby ste si ho ctili a plnili jeho vôľu. [...]' where spis = '2Mach' and vers = 1 and k = 1 and v = 3
update biblia set nvg = 'Nech otvorí vaše srdce pre svoj zákon a pre svoje prikázania. [...]' where spis = '2Mach' and vers = 1 and k = 1 and v = 4
update biblia set nvg = 'Nech Pán vyslyší vaše modlitby a nech sa zmieri s_vami a nech vás neopustí v_zlom čase.' where spis = '2Mach' and vers = 1 and k = 1 and v = 5
go

-- 252	2 Mach 6, 18-31
-- 253	2 Mach 6, 18. 21. 24-31
update biblia set lc_id = 129 where spis = '2Mach' and vers = 1 and k = 6 and v between 18 and 31
go

update biblia set nvg = 'Istého Eleazara, jedného z popredných zákonníkov, muža v pokročilom veku, a predsa krásneho výzoru, nútili jesť bravčové mäso, pričom mu násilne otvárali ústa. ' where spis = '2Mach' and vers = 1 and k = 6 and v = 18
update biblia set nvg = 'Ale on volil radšej slávnu smrť ako potupný život. Mäso vypľul a sám podišiel k mučidlu.' where spis = '2Mach' and vers = 1 and k = 6 and v = 19
update biblia set nvg = 'Tak sa majú správať všetci, čo sa rozhodli, že ani neokúsia, čo nie je dovolené, pri všetkej láske k svojmu životu.' where spis = '2Mach' and vers = 1 and k = 6 and v = 20
update biblia set nvg = 'Tí, čo viedli nezákonnú obetnú hostinu, pre dávnu známosť odviedli tohto muža bokom a potajomky ho nahovárali, aby si priniesol mäso, aké smie jesť; môže si ho sám pripraviť a tváriť sa, že je obetné mäso podľa kráľovho rozkazu, ' where spis = '2Mach' and vers = 1 and k = 6 and v = 21
update biblia set nvg = 'aby sa takto zachránil od smrti, že budú k nemu pre jeho dávne priateľstvo ohľaduplní. ' where spis = '2Mach' and vers = 1 and k = 6 and v = 22
update biblia set nvg = 'Ale on urobil krásne rozhodnutie, hodné svojho veku a stareckej vážnosti, úctyhodných šedín a vynikajúceho života od mladi; a celkom dôsledne podľa svätého Bohom daného zákona vyhlásil, aby ho radšej na smrť poslali.' where spis = '2Mach' and vers = 1 and k = 6 and v = 23
update biblia set nvg = 'Odpovedal: "Nie je dôstojné pretvarovať sa v našom veku, lebo mnohí mladíci by si mohli myslieť, že deväťdesiatročný Eleazar prešiel k cudziemu náboženstvu, ' where spis = '2Mach' and vers = 1 and k = 6 and v = 24
update biblia set nvg = 'a mohla by ich pomýliť moja pretvárka pre kúsok nestáleho života. A tak by som zvolal na svoju starobu len kliatbu a hanbu. ' where spis = '2Mach' and vers = 1 and k = 6 and v = 25
update biblia set nvg = 'Lebo keby som teraz aj unikol ľudským mukám, rukám Všemohúceho neuniknem ani živý, ani mŕtvy. ' where spis = '2Mach' and vers = 1 and k = 6 and v = 26
update biblia set nvg = 'Preto chcem teraz zomrieť ako muž a ukážem, že som hoden staroby, ' where spis = '2Mach' and vers = 1 and k = 6 and v = 27
update biblia set nvg = 'a mladíkom zanechám strhujúci príklad, aby ochotne a statočne podstúpili hrdinskú smrť za posvätné a sväté zákony." Ako to povedal, hneď šiel k mučidlu.' where spis = '2Mach' and vers = 1 and k = 6 and v = 28
update biblia set nvg = 'Tí, čo ho viedli, hoci krátko predtým boli k nemu milí, teraz zúrili, lebo si mysleli, že hovoril ako šialený.' where spis = '2Mach' and vers = 1 and k = 6 and v = 29
update biblia set nvg = 'Keď už pod ranami skonával, uprostred stonov povedal: "Pán vo svojej svätej múdrosti vie, že hoci som mohol uniknúť smrti, znášam na tele kruté muky bičovania, ale moja duša ich vďačne znáša z bázne voči nemu."' where spis = '2Mach' and vers = 1 and k = 6 and v = 30
update biblia set nvg = 'Tak dokonal a zanechal svoju smrť nielen mladíkom, ale väčšine národa ako vzor zmužilosti a pamiatku statočnosti.' where spis = '2Mach' and vers = 1 and k = 6 and v = 31
go

-- OZZ_9CIT	2 Mach 7, 9b
-- OCR31NEc_CIT1 resp.	2 Mach 7, 33
-- 254	2 Mach 7, 1-2. 9-14
-- 255	2 Mach 7, 1-2. 9-14
-- 256	2 Mach 7, 1. 20-23. 27b-29
-- 257	2 Mach 7, 1. 20-31
update biblia set lh_id = 'OCR31NEc_CIT1 resp.' where spis = '2Mach' and vers = 1 and k = 7 and v = 33
go
update biblia set lc_id = 254 where spis = '2Mach' and vers = 1 and k = 7 and v between 1 and 2
update biblia set lc_id = 254 where spis = '2Mach' and vers = 1 and k = 7 and v between 9 and 14
update biblia set lc_id = 257 where spis = '2Mach' and vers = 1 and k = 7 and v between 20 and 31
go

update biblia set nvg = 'Zatkli sedem bratov aj ich matku. Kráľ ich dal trýzniť korbáčmi a remeňmi, a tak ich chcel donútiť jesť zakázané bravčové mäso.' where spis = '2Mach' and vers = 1 and k = 7 and v = 1
update biblia set nvg = 'Tu jeden z nich vstal a ako prvý v mene ostatných povedal: "Čo chceš zistiť a čo sa chceš od nás dozvedieť? Hotoví sme radšej zomrieť ako prestúpiť zákony otcov."' where spis = '2Mach' and vers = 1 and k = 7 and v = 2
go
update biblia set nvg = '(A druhý,) keď už dodychoval, zvolal: "Ty zloduch, berieš nám tento časný život, ale kráľ sveta nás vzkriesi k večnému životu, lebo pre jeho zákony umierame."' where spis = '2Mach' and vers = 1 and k = 7 and v = 9
update biblia set nvg = 'Po ňom týrali tretieho. Keď mu kázali vyplaziť jazyk, hneď to urobil. Potom smelo vystrel ruky ' where spis = '2Mach' and vers = 1 and k = 7 and v = 10
update biblia set nvg = 'a neohrozene povedal: "Z neba som ich dostal a kvôli Božím zákonom nimi pohŕdam, lebo dúfam, že ich od Boha znova dostanem." ' where spis = '2Mach' and vers = 1 and k = 7 and v = 11
update biblia set nvg = 'Sám kráľ a jeho družina žasli nad duchovnou silou mladíka, ktorý ukrutné muky nepokladal za nič.' where spis = '2Mach' and vers = 1 and k = 7 and v = 12
update biblia set nvg = 'Keď dokonal, rovnako mučili a týrali štvrtého, ' where spis = '2Mach' and vers = 1 and k = 7 and v = 13
update biblia set nvg = 'ktorý krátko pred smrťou povedal: "Ľahko je zomrieť pod ľudským násilím, keď môžeme s nádejou očakávať, že nás Boh znova vzkriesi; ale pre teba nebude vzkriesenie k životu."' where spis = '2Mach' and vers = 1 and k = 7 and v = 14
go
update biblia set nvg = 'Ale najväčší obdiv a úctivú spomienku si zaslúži ich matka. Veď videla za jediný deň zomierať sedem svojich synov a znášala to vyrovnane, pre nádej, ktorú mala v Pánovi. ' where spis = '2Mach' and vers = 1 and k = 7 and v = 20
update biblia set nvg = 'Každého osve povzbudzovala v materinskej reči. Naplnená hrdinským zmýšľaním svoju ženskú dušu upevňovala mužskou odvahou ' where spis = '2Mach' and vers = 1 and k = 7 and v = 21
update biblia set nvg = 'a hovorila im: "Neviem, ako ste sa objavili v mojom lone; ja som vám nedarovala ani dych ani život, ani vaše údy som neusporiadala ja, ' where spis = '2Mach' and vers = 1 and k = 7 and v = 22
update biblia set nvg = 'ale stvoriteľ sveta; on stvárňuje život človeka a dáva pôvod všetkému; on vám vo svojom milosrdenstve dá opäť dych a život, lebo vy teraz kvôli jeho zákonom nedbáte na seba."' where spis = '2Mach' and vers = 1 and k = 7 and v = 23
update biblia set nvg = 'Antiochus bol presvedčený, že ním pohŕda, a ťažko znášal jej vyčítavý hlas. Už ostal len najmladší; a on ho nielen slovami prehováral, ale aj prísahou uisťoval, že ho urobí bohatým a šťastným, ak odpadne od otcovských zákonov, že bude jeho priateľom a zverí mu úrad. ' where spis = '2Mach' and vers = 1 and k = 7 and v = 24
update biblia set nvg = 'No mladík akoby ho ani nepočul. Preto si kráľ predvolal matku a naliehal na ňu, aby chlapca presvedčila a zachránila.' where spis = '2Mach' and vers = 1 and k = 7 and v = 25
update biblia set nvg = 'Keď ju dlho prehováral, sľúbila, že presvedčí svojho syna. ' where spis = '2Mach' and vers = 1 and k = 7 and v = 26
update biblia set nvg = 'Sklonila sa k nemu a na posmech ukrutnému tyranovi vravela v materinskej reči: "Syn môj, zmiluj sa nado mnou; ja som ťa deväť mesiacov nosila v živote, tri roky pridájala, živila som ťa a starostlivo opatrovala až do tohto veku. ' where spis = '2Mach' and vers = 1 and k = 7 and v = 27
update biblia set nvg = 'Prosím ťa, dieťa moje, pozri na nebo a na zem a na všetko, čo je v nich, a poznáš, že ich Boh stvoril z ničoho a že takisto povstalo ľudské pokolenie. ' where spis = '2Mach' and vers = 1 and k = 7 and v = 28
update biblia set nvg = 'Neboj sa tohoto kata, ale buď hoden svojich bratov a prijmi smrť, aby som ťa v deň onoho zmilovania opäť získala aj s tvojimi bratmi."' where spis = '2Mach' and vers = 1 and k = 7 and v = 29
update biblia set nvg = 'Sotva prestala hovoriť, mladík vyhlásil: "Na čo čakáte? Kráľov rozkaz neposlúchnem; poslúcham iba príkazy zákona, ktorý dostali naši otcovia skrze Mojžiša. ' where spis = '2Mach' and vers = 1 and k = 7 and v = 30
update biblia set nvg = 'Ale ty, čo vymýšľaš to najhoršie proti Hebrejom, neujdeš Božej ruke.' where spis = '2Mach' and vers = 1 and k = 7 and v = 31
go
update biblia set nvg = 'Aj keď sa náš Boh na nás trochu nahneval, aby nás pokarhal a potrestal, Pán sa opäť zmieri so svojimi služobníkmi."' where spis = '2Mach' and vers = 1 and k = 7 and v = 33
go

-- OCR31PIc_CIT1	12, 32-46
update biblia set lh_id = 'OCR31PIc_CIT1' where spis = '2Mach' and vers = 1 and k = 12 and v between 32 and 46
go

update biblia set nvg = 'Po sviatkoch, ktoré sa nazývajú Turíce, vytiahli proti Gorgiášovi, správcovi Idumey. ' where spis = '2Mach' and vers = 1 and k = 12 and v = 32
update biblia set nvg = 'A vyrazil s_troma tisícami pešiakov a so štyristo jazdcami. ' where spis = '2Mach' and vers = 1 and k = 12 and v = 33
update biblia set nvg = 'Keď sa s_nimi zrazil, padlo aj niekoľko Židov. ' where spis = '2Mach' and vers = 1 and k = 12 and v = 34
update biblia set nvg = 'Ale istý Dozitej, odvážny jazdec z_Bakenorových ľudí, chytil Gorgiáša za plášť a pevne ho držal, lebo ho chcel zajať živého. Ale vrhol sa naň akýsi trácky jazdec, odťal mu ruku a Gorgiáš ušiel do Marisy. ' where spis = '2Mach' and vers = 1 and k = 12 and v = 35
update biblia set nvg = 'Ezdrinovi ľudia však dlho bojovali a boli vyčerpaní. Tu Júda vzýval Pána, aby ukázal, že on je pomocník a vodca boja. ' where spis = '2Mach' and vers = 1 and k = 12 and v = 36
update biblia set nvg = 'V_reči otcov začal nahlas spievať hymny, nečakane sa vrhol na Gorgiášových bojovníkov a donútil ich na útek.' where spis = '2Mach' and vers = 1 and k = 12 and v = 37
update biblia set nvg = 'Júda zhromaždil vojsko a prišiel do mesta Odollam. Pretože nadchádzal siedmy deň, na tom istom mieste sa očistili podľa obyčaje a slávili sobotu. ' where spis = '2Mach' and vers = 1 and k = 12 and v = 38
update biblia set nvg = 'Na druhý deň šli Júdovi ľudia, lebo už bol najvyšší čas, pozbierať telá padlých a pochovať ich k_rodičom v_otcovských hroboch. ' where spis = '2Mach' and vers = 1 and k = 12 and v = 39
update biblia set nvg = 'Pod odevom všetkých zabitých však našli predmety zasvätené modlám z_Jamnie, čo zákon Židom zakazuje. Všetkým bolo teda jasné, že pre toto padli.' where spis = '2Mach' and vers = 1 and k = 12 and v = 40
update biblia set nvg = 'A tak všetci velebili Pána, spravodlivého sudcu, ktorý odhaľuje skryté veci, ' where spis = '2Mach' and vers = 1 and k = 12 and v = 41
update biblia set nvg = 'a potom sa modlili a prosili, aby sa úplne zabudlo na spáchaný hriech. A udatný Júda povzbudzoval ľud, aby sa chránili hriechu, keďže na vlastné oči videli, čo sa stalo pre hriech tých, ktorí padli. ' where spis = '2Mach' and vers = 1 and k = 12 and v = 42
update biblia set nvg = 'Potom urobil po mužoch zbierku a poslal do Jeruzalema okolo dvetisíc drachiem striebra, aby priniesli obetu za hriechy, lebo veľmi dobre a šľachetne zmýšľal o_zmŕtvychvstaní. ' where spis = '2Mach' and vers = 1 and k = 12 and v = 43
update biblia set nvg = 'Veď keby nebol dúfal, že tí, čo padli, vstanú z_mŕtvych, bolo by bývalo zbytočné a márne modliť sa za mŕtvych. ' where spis = '2Mach' and vers = 1 and k = 12 and v = 44
update biblia set nvg = 'A okrem toho bol presvedčený, že tí, čo nábožne zomreli, majú uložený vynikajúci dar milosti: ' where spis = '2Mach' and vers = 1 and k = 12 and v = 45
update biblia set nvg = 'svätá a nábožná myšlienka. Preto vykonal zmiernu obetu za mŕtvych, aby boli oslobodení od hriechu.' where spis = '2Mach' and vers = 1 and k = 12 and v = 46
go

