# Konfiguraènı súbor pre www.breviar.sk
# Autor: Marek Eliáš, Juraj Vidéky (c) 2007-2011
# confuse-2.5

# adresa, na ktorú sa program odkazuje
http_adresa_def="/"

# adresa, ktorá sa zobrazuje v pätke
http_zobraz_adr_def="www.breviar.sk"

# mailová adresa autora
mail_adresa_def="videky@breviar.sk"

# include adresár pre default jazyk (sk).
# Toto je lepšie da do úvodzoviek, lebo ináè to vypíše koncovı slash na stdout
incldir_def="../include/"

# === SK: Hodnoty option parametrov pre JAZYK_SK ===
# Tieto parametre ovplyvòujú obsah vygenerovanej modlitby

# OPT0: špeciálne èasti modlitieb 
# 1. bit: èíslovanie (èísla) veršov v almoch, chválospevoch a biblickıch èítaniach 
# 2. bit: biblické referencie na dkc.kbs.sk
specialne_def = 3

# OPT1: pevné súèasti modlitieb: 0 = nie; 1 = áno
# 1. bit: Te Deum
# 2. bit: rubriky
# 3. bit: evanjeliové chválospevy (Benedictus, Magnifikat, Nunc dimittis)
# 4. bit: Sláva Otcu
# 5. bit: Otèenáš
# 6. bit: doplnková psalmódia pre modlitbu cez deò
# 7. bit: vigílie pre nedele, slávnosti a sviatky (posvätné èítanie)
# 8. bit: skry popis (napr. ivotopis svätca)
# 9. bit: pre modlitbu svätca vzia almy zo spoloènej èasti
casti_modlitby_def = 31

# OPT2: HTML export
# 1. bit: formát dátumu v ISO 8601 formáte (napr. "2011-04-13") alebo iba deò (napr. "13")
# 2. bit: èi zobrazi pre nedele a vybrané slávenia monos priamo v danı deò zvoli prvé vešpery
html_export_def = 0

# OPT4: offline export
offline_export_def = 1

# === CZ: Hodnoty option parametrov pre JAZYK_CZ ===
# Nezadané parametre pod¾a jazyka SK

# OPT0
specialne_cz = 0

# OPT1
casti_modlitby_cz = 31

# === CZ_OP: Hodnoty option parametrov pre JAZYK_CZ_OP ===
# Nezadané parametre pod¾a jazyka SK

# OPT0
specialne_czop = 0

# OPT1
casti_modlitby_czop = 31

# OPT2
html_export_czop = 2
